Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

Revert "trigger workflows, will revert"
  .github/workflows/lint-changed.yml
Owners: @Expensify/pullerbear

Refactor reason
  src/libs/DebugUtils.ts
  src/libs/OptionsListUtils.ts
  src/libs/ReportUtils.ts
  src/libs/SidebarUtils.ts
  src/libs/UnreadIndicatorUpdater/index.ts
  src/pages/Debug/Report/DebugReportPage.tsx
  tests/unit/DebugUtilsTest.ts
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

More refactor
  src/libs/DebugUtils.ts
  src/pages/Debug/Report/DebugReportPage.tsx
Owners: @Expensify/pullerbear

More refactors
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

fix: minor fix
  src/styles/theme/themes/dark.ts
  src/styles/theme/themes/light.ts
Owners: @Expensify/design, @Expensify/pullerbear

Re-run prettier after merge
  src/libs/SearchUIUtils.ts
  src/pages/home/report/PureReportActionItem.tsx
Owners: @Expensify/pullerbear

Remove unused style searcher check
  .github/workflows/prettier.yml
Owners: @Expensify/pullerbear

fix lint
  src/components/MoneyRequestConfirmationListFooter.tsx
  src/pages/iou/request/step/IOURequestEditReportCommon.tsx
Owners: @Expensify/pullerbear

Do not open Test Drive modal for accessible policy joiners
  src/libs/navigateAfterOnboarding.ts
Owners: @Expensify/pullerbear

extend to IOUs
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

update const
  src/CONST.ts
Owners: @Expensify/pullerbear

Fix fees URL redirect
  src/CONST.ts
  src/pages/EnablePayments/TermsPage/ShortTermsForm.tsx
Owners: @Expensify/pullerbear

Prettier
  src/CONST.ts
Owners: @Expensify/pullerbear

Actually fix prettier
  src/CONST.ts
Owners: @Expensify/pullerbear

fix: emoji picker, reports page input & eslint.
  src/components/EmojiPicker/EmojiPickerMenu/index.tsx
  src/components/TextInput/TextInputClearButton/index.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix eslint Namespace imports.
  src/components/EmojiPicker/EmojiPickerMenu/index.tsx
Owners: @Expensify/pullerbear

add upload preview for independent tags
  src/ROUTES.ts
  src/SCREENS.ts
  src/components/ImportColumn.tsx
  src/components/ImportSpreadsheetColumns.tsx
  src/libs/Navigation/AppNavigator/ModalStackNavigators/index.tsx
  src/libs/Navigation/linkingConfig/RELATIONS/WORKSPACE_TO_RHP.ts
  src/libs/Navigation/linkingConfig/config.ts
  src/libs/Navigation/types.ts
  src/libs/actions/Policy/Tag.ts
  src/pages/workspace/tags/ImportMultiLevelTagsSettingsPage.tsx
  src/pages/workspace/tags/ImportedMultiLevelTagsPage.tsx
Owners: @Expensify/pullerbear

maybe actually satisfy prettier
  src/CONST.ts
Owners: @Expensify/pullerbear

fix prettier
  src/libs/actions/Policy/Tag.ts
Owners: @Expensify/pullerbear

add command
  src/libs/API/parameters/ChangeReportPolicyAndInviteSubmitterParams.ts
  src/libs/API/parameters/index.ts
  src/libs/API/types.ts
  src/libs/actions/Report.ts
  src/pages/ReportChangeWorkspacePage.tsx
Owners: @Expensify/pullerbear

fix for offline tests. issuecomment:2920421586
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

fix lint errors
  src/components/EmptyStateComponent/types.ts
  src/components/ImportColumn.tsx
  src/components/ImportSpreadsheetColumns.tsx
  src/libs/actions/ImportSpreadsheet.ts
  src/libs/actions/Policy/Tag.ts
  src/libs/actions/Report.ts
  src/pages/workspace/tags/ImportMultiLevelTagsSettingsPage.tsx
  src/pages/workspace/tags/ImportTagsOptionsPage.tsx
  src/pages/workspace/tags/ImportTagsPage.tsx
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
  src/types/onyx/ImportedSpreadsheet.ts
Owners: @Expensify/pullerbear

fix tag value of `containsHeader`
  src/libs/actions/Policy/Tag.ts
  src/pages/workspace/tags/ImportMultiLevelTagsSettingsPage.tsx
Owners: @Expensify/pullerbear

Revert changes x2
  src/CONST.ts
Owners: @Expensify/pullerbear

remove download file part from the import API
  src/libs/actions/Policy/Tag.ts
Owners: @Expensify/pullerbear

fix prettier
  src/pages/workspace/tags/ImportTagsOptionsPage.tsx
Owners: @Expensify/pullerbear

Add new travelSignupRequest method and call it when pressing enable travel
  src/components/BookTravelButton.tsx
  src/libs/API/types.ts
  src/libs/Permissions.ts
Owners: @Expensify/pullerbear

remove canUseSpotnanaTravel beta
  src/libs/Permissions.ts
  src/libs/actions/Travel.ts
  src/pages/Travel/MyTripsPage.tsx
  src/pages/Travel/TravelTerms.tsx
  src/pages/Travel/TripDetailsPage.tsx
  src/pages/Travel/TripSummaryPage.tsx
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
  src/pages/workspace/WorkspaceOverviewPage.tsx
Owners: @Expensify/pullerbear

Fix button display
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
Owners: @Expensify/pullerbear

read updates from reportNameValuePairs collection
  src/libs/DebugUtils.ts
  src/pages/home/report/AgentZeroProcessingRequestIndicator.tsx
  src/types/onyx/Report.ts
  src/types/onyx/ReportNameValuePairs.ts
Owners: @Expensify/pullerbear

remove useless notFoundView
  src/pages/Travel/MyTripsPage.tsx
Owners: @Expensify/pullerbear

Update copy
  src/languages/en.ts
Owners: @Expensify/pullerbear

Slight copy change
  src/languages/en.ts
Owners: @Expensify/pullerbear

fix wrapping problem
  src/components/ProductTrainingContext/index.tsx
  src/styles/utils/sizing.ts
  src/styles/variables.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix dependency for esLint
  src/components/ProductTrainingContext/index.tsx
Owners: @Expensify/pullerbear

Update test with accountID param
  tests/actions/SessionTest.ts
Owners: @Expensify/pullerbear

Lint cleanup
  src/pages/Travel/MyTripsPage.tsx
  src/pages/Travel/TravelTerms.tsx
  src/pages/Travel/TripDetailsPage.tsx
  src/pages/Travel/TripSummaryPage.tsx
  src/pages/workspace/WorkspaceOverviewPage.tsx
Owners: @Expensify/pullerbear

Create an automated GH when users want to enable travel
  src/components/BookTravelButton.tsx
  src/libs/API/types.ts
  src/libs/actions/Travel.ts
Owners: @Expensify/pullerbear

update copy
  src/languages/en.ts
Owners: @Expensify/pullerbear

Remove travel signup code
  src/components/BookTravelButton.tsx
  src/languages/en.ts
  src/libs/API/types.ts
  src/libs/actions/Travel.ts
Owners: @Expensify/pullerbear
