Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

fix esLint
  src/components/MoneyRequestConfirmationListFooter.tsx
Owners: @Expensify/pullerbear

Add comments to explain disabling a TS rule for any type
  src/libs/Navigation/AppNavigator/createRootStackNavigator/index.tsx
  src/libs/Navigation/AppNavigator/createSearchFullscreenNavigator/index.tsx
  src/libs/Navigation/AppNavigator/createSplitNavigator/index.tsx
  src/libs/Navigation/PlatformStackNavigation/createPlatformStackNavigator.tsx
Owners: @Expensify/pullerbear

fix amount input padding.
  src/components/AmountTextInput.tsx
Owners: @Expensify/pullerbear

fix ESLint.
  src/pages/ReimbursementAccount/USD/BusinessInfo/subSteps/IncorporationDateBusiness.tsx
Owners: @Expensify/pullerbear

Modify Heap names to remove spellcheck errors
  src/libs/Heap.ts
Owners: @Expensify/pullerbear

DRY up OpenAIUtils
  .github/actions/javascript/authorChecklist/index.js
  .github/actions/javascript/awaitStagingDeploys/index.js
  .github/actions/javascript/checkDeployBlockers/index.js
  .github/actions/javascript/createOrUpdateStagingDeploy/index.js
  .github/actions/javascript/getArtifactInfo/index.js
  .github/actions/javascript/getDeployPullRequestList/index.js
  .github/actions/javascript/getPreviousVersion/index.js
  .github/actions/javascript/getPullRequestDetails/index.js
  .github/actions/javascript/isStagingDeployLocked/index.js
  .github/actions/javascript/markPullRequestsAsDeployed/index.js
  .github/actions/javascript/postTestBuildComment/index.js
  .github/actions/javascript/proposalPoliceComment/index.js
  .github/actions/javascript/proposalPoliceComment/proposalPoliceComment.ts
  .github/actions/javascript/reopenIssueWithComment/index.js
  .github/actions/javascript/reviewerChecklist/index.js
  .github/actions/javascript/verifySignedCommits/index.js
  .github/libs/CONST.ts
  .github/libs/OpenAIUtils.ts
  .github/libs/sanitizeJSONStringValues.ts
  scripts/utils/OpenAIUtils.ts
  scripts/utils/Translator/ChatGPTTranslator.ts
Owners: @Expensify/pullerbear

minor updates.
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

Fix tsc
  scripts/generateTranslations.ts
  scripts/utils/OpenAIUtils.ts
Owners: @Expensify/pullerbear

Fix lint naming convention
  .github/libs/sanitizeJSONStringValues.ts
Owners: @Expensify/pullerbear

fix: design updates on the modal
  src/components/HoldOrDeclineEducationalModal.tsx
  src/languages/en.ts
  src/languages/es.ts
Owners: @Expensify/pullerbear

Rebuild gh actions
  .github/actions/javascript/proposalPoliceComment/index.js
Owners: @Expensify/pullerbear

fix: rollback hold style changes
  src/components/ProcessMoneyRequestHoldMenu.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix: rollback style changes
  src/components/ProcessMoneyRequestHoldMenu.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

style: lint fixes
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

remove old switches that got replaced
  src/components/ClientSideLoggingToolMenu/BaseClientSideLoggingToolMenu.tsx
  src/components/ClientSideLoggingToolMenu/index.android.tsx
  src/components/ClientSideLoggingToolMenu/index.ios.tsx
  src/components/ClientSideLoggingToolMenu/index.tsx
  src/components/ProfilingToolMenu/BaseProfilingToolMenu.tsx
  src/components/ProfilingToolMenu/RNFS/index.ts
  src/components/ProfilingToolMenu/RNFS/index.web.ts
  src/components/ProfilingToolMenu/Share/index.ts
  src/components/ProfilingToolMenu/Share/index.web.ts
  src/components/ProfilingToolMenu/index.android.tsx
  src/components/ProfilingToolMenu/index.ios.tsx
  src/components/ProfilingToolMenu/index.tsx
Owners: @Expensify/pullerbear

fix hour entry for time in per diem
  src/components/TimePicker/TimePicker.tsx
Owners: @Expensify/pullerbear

fix esLint
  src/components/TimePicker/TimePicker.tsx
Owners: @Expensify/pullerbear

fix: add check currency available in currencyList
  src/components/CurrencyPicker.tsx
  src/components/WorkspaceConfirmationForm.tsx
Owners: @Expensify/pullerbear

Reduce the space between prev/next buttons
  src/components/PrevNextButtons.tsx
Owners: @Expensify/pullerbear

fix: Group chat disappears from the LHN with a split distance expense
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

Update getNewPatchedRNVersion script
  .github/scripts/getNewPatchedRNVersion.sh
Owners: @Expensify/pullerbear

update @testing-library/react-native
  jest/setupAfterEnv.ts
  package-lock.json
  package.json
  tests/ui/GroupChatNameTests.tsx
  tests/ui/LHNItemsPresence.tsx
  tests/ui/NewChatPageTest.tsx
  tests/ui/PaginationTest.tsx
  tests/ui/UnreadIndicatorsTest.tsx
Owners: @Expensify/pullerbear

fix: unable to back with swipe ios in send attachment preview
  src/components/AttachmentModal.tsx
  src/libs/getSwipeDirection.ts
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
Owners: @Expensify/pullerbear

refactor split phrase hasPhoneLoginError
  src/pages/ReimbursementAccount/ReimbursementAccountPage.tsx
Owners: @Expensify/pullerbear

fix: split preview in workspace chat
  src/components/ReportActionItem/TransactionPreview/index.tsx
Owners: @Expensify/pullerbear

Bug fix
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
Owners: @Expensify/pullerbear

fix perf tests
  tests/perf-test/SidebarLinks.perf-test.tsx
Owners: @Expensify/pullerbear

Fix code after merge conflict
  src/libs/DateUtils.ts
Owners: @Expensify/pullerbear

fix: styles for the image
  assets/images/educational-illustration__multi-scan.svg
  assets/images/multi-scan.svg
  src/components/FeatureTrainingModal.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

Update NAVIGATION.md
  contributingGuides/NAVIGATION.md
  src/libs/Navigation/AppNavigator/createSplitNavigator/SplitRouter.ts
  src/libs/Navigation/Navigation.ts
  src/libs/Navigation/helpers/getAdaptedStateFromPath.ts
  src/libs/Navigation/linkingConfig/RELATIONS/index.ts
Owners: @Expensify/pullerbear

refactor
  src/libs/openTravelDotLink/index.native.ts
  src/libs/openTravelDotLink/index.ts
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
Owners: @Expensify/pullerbear

Revert "NavigationTabBar: Add dummy component"
  src/components/Navigation/NavigationTabBar/NavigationTabBarDummy.tsx
  src/components/Navigation/SearchSidebar.tsx
  src/pages/Search/SearchPageNarrow.tsx
  src/pages/home/sidebar/BaseSidebarScreen.tsx
  src/pages/settings/InitialSettingsPage.tsx
  src/pages/workspace/WorkspaceInitialPage.tsx
  src/pages/workspace/WorkspacesListPage.tsx
Owners: @Expensify/pullerbear

fix hold violations not showing
  src/components/TransactionItemRow/index.tsx
Owners: @Expensify/pullerbear

chore: remove deprecated "TABLE_REPORT_VIEW"
  src/libs/Permissions.ts
  src/pages/iou/request/MoneyRequestParticipantsSelector.tsx
Owners: @Expensify/pullerbear

fix: eslint and prettier
  src/components/FeatureTrainingModal.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
Owners: @Expensify/pullerbear

lint fix
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
Owners: @Expensify/pullerbear

revert showImagePicker changes
  src/components/AttachmentPicker/index.native.tsx
Owners: @Expensify/pullerbear

clean up TABLE_REPORT_VIEW
  src/pages/home/report/PureReportActionItem.tsx
Owners: @Expensify/pullerbear

Remmove Google and Apple growls
  src/components/SignInButtons/AppleSignIn/index.android.tsx
  src/components/SignInButtons/AppleSignIn/index.ios.tsx
  src/components/SignInButtons/GoogleSignIn/index.native.tsx
Owners: @Expensify/pullerbear

Add isReverseSplitOperation
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear
