Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

define a var for tooltipMargin
  src/components/Tooltip/GenericTooltip.tsx
  src/styles/variables.ts
Owners: @Expensify/pullerbear, @Expensify/design

set margin for productTrainingTooltipText
  src/components/ProductTrainingContext/index.tsx
  src/styles/index.ts
  src/styles/utils/sizing.ts
Owners: @Expensify/pullerbear, @Expensify/design

minor fix
  src/components/MoneyRequestConfirmationListFooter.tsx
Owners: @Expensify/pullerbear

Fix: Remove amounts for automatically paid expenses
  src/pages/home/report/PureReportActionItem.tsx
Owners: @Expensify/pullerbear

add multi level tag svg and fix empty state view
  assets/images/multi-tag.svg
  src/components/Icon/Expensicons.ts
  src/pages/workspace/tags/ImportTagsOptionsPage.tsx
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
Owners: @Expensify/design, @Expensify/pullerbear

Lint fixes
  src/libs/actions/TransactionEdit.ts
Owners: @Expensify/pullerbear

add closing modal after import
  src/libs/actions/Policy/Tag.ts
  src/pages/workspace/tags/ImportMultiLevelTagsSettingsPage.tsx
  src/pages/workspace/tags/ImportTagsOptionsPage.tsx
  src/pages/workspace/tags/ImportedMultiLevelTagsPage.tsx
  src/pages/workspace/tags/ImportedTagsPage.tsx
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
Owners: @Expensify/pullerbear

update import confirmation text for multi leve ltags
  src/languages/en.ts
  src/languages/es.ts
Owners: @Expensify/pullerbear

fix prettier
  src/pages/workspace/expensifyCard/WorkspaceExpensifyCardListPage.tsx
Owners: @Expensify/pullerbear

update prettier
  src/libs/OptionsListUtils.ts
Owners: @Expensify/pullerbear

minor fix
  src/pages/home/report/PureReportActionItem.tsx
Owners: @Expensify/pullerbear

fix back button import bug
  src/components/Icon/Expensicons.ts
  src/components/ImportSpreadsheet.tsx
  src/libs/actions/ImportSpreadsheet.ts
Owners: @Expensify/pullerbear

Update padding to be inside scroll view
  src/pages/iou/request/step/IOURequestStepScan/ReceiptPreviews/index.tsx
Owners: @Expensify/pullerbear

fix prettier
  src/pages/workspace/tags/ImportedTagsPage.tsx
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
Owners: @Expensify/pullerbear

update prettier
  src/libs/OptionsListUtils.ts
  src/libs/SidebarUtils.ts
Owners: @Expensify/pullerbear

handle expense deletion scenario
  src/hooks/useSearchHighlightAndScroll.ts
Owners: @Expensify/pullerbear

handle expense deletion scenario
  src/hooks/useSearchHighlightAndScroll.ts
Owners: @Expensify/pullerbear

FIx issues
  src/languages/es.ts
  src/pages/settings/Preferences/LanguagePage.tsx
Owners: @Expensify/pullerbear

chore: adjustments to slack replies, general clean up
  src/pages/iou/request/step/IOURequestStepScan/ReceiptPreviews/index.tsx
  src/pages/iou/request/step/IOURequestStepScan/ReceiptViewModal/index.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
Owners: @Expensify/pullerbear

Fix lint issues
  src/components/LocalePicker.tsx
Owners: @Expensify/pullerbear

fix lint
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

fix pending delete search items selection
  src/components/Search/index.tsx
  src/components/SelectionList/Search/TransactionListItem.tsx
  src/libs/SearchUIUtils.ts
  src/pages/Search/SearchPage.tsx
Owners: @Expensify/pullerbear

Refactor Onyx keys
  src/components/LocalePicker.tsx
Owners: @Expensify/pullerbear

fix: re-enable approval workflow create two approval workflow
  src/libs/actions/Policy/Policy.ts
Owners: @Expensify/pullerbear

use correct bottom padding for scrollview
  src/pages/OnboardingPrivateDomain/BaseOnboardingPrivateDomain.tsx
Owners: @Expensify/pullerbear

update func name
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/libs/ReportUtils.ts
  tests/ui/MoneyRequestReportPreview.test.tsx
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

prettier
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

Improve the shadow
  src/pages/iou/request/step/IOURequestStepScan/ReceiptPreviews/SubmitButtonShadow/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/ReceiptPreviews/SubmitButtonShadow/index.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

remove type casting
  src/components/Search/SearchList.tsx
Owners: @Expensify/pullerbear

show red dot if missing category
  src/libs/ReportPreviewActionUtils.ts
Owners: @Expensify/pullerbear

Dont display call button for concierge
  src/pages/home/HeaderView.tsx
Owners: @Expensify/pullerbear

fix condition
  src/pages/AddUnreportedExpense.tsx
Owners: @Expensify/pullerbear

Prettier
  src/pages/home/HeaderView.tsx
Owners: @Expensify/pullerbear

fix more words
  src/components/SelectionList/MultiSelectListItem.tsx
  src/components/SelectionList/SingleSelectListItem.tsx
  src/languages/en.ts
  src/libs/ReportUtils.ts
  src/libs/TaxOptionsListUtils.ts
Owners: @Expensify/pullerbear

fix es lit in react hooks
  src/components/MoneyReportHeader.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/components/ReportActionItem/ReportPreview.tsx
Owners: @Expensify/pullerbear

useFastSearchFromOptions.tsx test repair
  tests/unit/useFastSearchFromOptions.tsx
Owners: @Expensify/pullerbear

useFastSearchFromOptions.tsx test repair
  tests/unit/useFastSearchFromOptions.tsx
Owners: @Expensify/pullerbear

add tests
  src/libs/SearchUIUtils.ts
  tests/unit/Search/SearchUIUtilsTest.ts
Owners: @Expensify/pullerbear

rename variable
  src/pages/AddUnreportedExpense.tsx
Owners: @Expensify/pullerbear

Tap back button on detail expense after review duplicates should return to WS chat
  src/ROUTES.ts
  src/components/MoneyReportHeader.tsx
  src/components/ReportActionItem/MoneyRequestPreview/MoneyRequestPreviewContent.tsx
  src/hooks/useReviewDuplicatesNavigation.tsx
  src/libs/Navigation/types.ts
  src/libs/TransactionPreviewUtils.ts
  src/pages/TransactionDuplicate/Confirmation.tsx
  src/pages/TransactionDuplicate/ReviewBillable.tsx
  src/pages/TransactionDuplicate/ReviewCategory.tsx
  src/pages/TransactionDuplicate/ReviewDescription.tsx
  src/pages/TransactionDuplicate/ReviewMerchant.tsx
  src/pages/TransactionDuplicate/ReviewReimbursable.tsx
  src/pages/TransactionDuplicate/ReviewTag.tsx
  src/pages/TransactionDuplicate/ReviewTaxCode.tsx
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
