Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

Update policyTags parameter in getForReportAction to be optional
  src/libs/ModifiedExpenseMessage.ts
Owners: @Expensify/pullerbear

fix lint
  src/libs/ReportUtils.ts
  src/pages/tasks/TaskShareDestinationSelectorModal.tsx
Owners: @Expensify/pullerbear

report early if the report in not invoice report before cheacking if it is archived
  src/hooks/useInvoiceChatByParticipants.ts
Owners: @Expensify/pullerbear

PR comment fixes
  src/libs/Formula.ts
  src/libs/OptimisticReportNames.ts
  tests/unit/FormulaTest.ts
  tests/unit/OptimisticReportNamesTest.ts
Owners: @Expensify/pullerbear

Removed forwardRef from BaseMiniContextMenuItem.tsx
  src/components/BaseMiniContextMenuItem.tsx
Owners: @Expensify/pullerbear

use entire transaction collection instead derived value
  src/libs/actions/OnyxDerived/configs/reportTransactionsAndViolations.ts
  src/pages/home/report/ReportActionsList.tsx
Owners: @Expensify/pullerbear

Revert "Merge pull request #66636 from software-mansion-labs/war-in/fix-share-extension-ivalid-file-type"
  src/CONST/index.ts
  src/pages/Share/ShareDetailsPage.tsx
  src/pages/Share/SubmitDetailsPage.tsx
Owners: @Expensify/pullerbear

Update useOnyx call in ReportActionItem to allow missing policyTags
  src/pages/home/report/ReportActionItem.tsx
Owners: @Expensify/pullerbear

Removed forwardRef from Checkbox.tsx
  src/components/Checkbox.tsx
Owners: @Expensify/pullerbear

Type adjustments in Hoverable/types.ts and BasToolTip/index.tsx
  src/components/Hoverable/types.ts
  src/components/Tooltip/BaseTooltip/index.tsx
Owners: @Expensify/pullerbear

PR comments addressed: util & typing
  src/components/AttachmentModal.tsx
  src/components/LHNOptionsList/LHNOptionsList.tsx
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportView.tsx
  src/pages/ReportDetailsPage.tsx
  src/pages/home/ReportScreen.tsx
  src/pages/home/report/PureReportActionItem.tsx
  src/pages/media/AttachmentModalScreen/AttachmentModalBaseContent.tsx
Owners: @Expensify/pullerbear

fix: imported transactions are displayed as skeleton loader after deleting card feed
  src/libs/actions/OnyxDerived/configs/reportTransactionsAndViolations.ts
Owners: @Expensify/pullerbear

Fix misaligned radio button with long category name
  src/pages/TransactionMerge/MergeFieldReview.tsx
Owners: @Expensify/pullerbear

Fix unavailable workspace avatar issue
  src/components/ReportActionAvatars/useReportActionAvatars.ts
Owners: @Expensify/pullerbear

Fix Avatars test case
  tests/ui/ReportActionAvatarsTest.tsx
Owners: @Expensify/pullerbear

PR comments addressed: util & typing
  src/components/MoneyRequestHeader.tsx
  src/libs/ReportActionsUtils.ts
Owners: @Expensify/pullerbear

Fixed mismatched ref types
  src/pages/PrivateNotes/PrivateNotesEditPage.tsx
  src/pages/tasks/TaskDescriptionPage.tsx
  src/pages/tasks/TaskTitlePage.tsx
  src/pages/workspace/WorkspaceInviteMessagePage.tsx
Owners: @Expensify/pullerbear

Prettier run
  src/components/BaseMiniContextMenuItem.tsx
  src/components/Checkbox.tsx
  src/components/Hoverable/types.ts
  src/components/Tooltip/BaseTooltip/index.tsx
  src/pages/PrivateNotes/PrivateNotesEditPage.tsx
  src/pages/tasks/TaskDescriptionPage.tsx
  src/pages/tasks/TaskTitlePage.tsx
  src/pages/workspace/WorkspaceInviteMessagePage.tsx
Owners: @Expensify/pullerbear

set transparent as default navigation background
  src/libs/Navigation/NavigationRoot.tsx
Owners: @Expensify/pullerbear

extract screenListeners
  src/libs/Navigation/AppNavigator/Navigators/RightModalNavigator.tsx
Owners: @Expensify/pullerbear

simplify options for rhp
  src/libs/Navigation/AppNavigator/Navigators/PublicRightModalNavigator.tsx
  src/libs/Navigation/AppNavigator/Navigators/RightModalNavigator.tsx
  src/libs/Navigation/AppNavigator/useCustomScreenOptions.ts
  src/libs/Navigation/AppNavigator/useRHPScreenOptions.ts
  src/libs/Navigation/AppNavigator/useSideModalStackScreenOptions.ts
Owners: @Expensify/pullerbear

PR comments addressed: util & typing
  src/libs/ReportActionsUtils.ts
Owners: @Expensify/pullerbear

PR comments addressed: util & typing
  src/libs/ReportActionsUtils.ts
Owners: @Expensify/pullerbear

simplify useModalStackScreenOptions
  src/libs/Navigation/AppNavigator/ModalStackNavigators/index.tsx
  src/libs/Navigation/AppNavigator/ModalStackNavigators/useModalStackScreenOptions.ts
Owners: @Expensify/pullerbear

Fix failed spec
  tests/unit/MergeTransactionUtilsTest.ts
Owners: @Expensify/pullerbear

implement wide rhp
  src/App.tsx
  src/components/ScreenWrapper/ScreenWrapperContainer.tsx
  src/components/WideRHPContextProvider.tsx
  src/libs/Navigation/AppNavigator/ModalStackNavigators/index.tsx
  src/libs/Navigation/AppNavigator/ModalStackNavigators/useModalStackScreenOptions.ts
  src/libs/Navigation/AppNavigator/Navigators/Overlay/BaseOverlay.tsx
  src/libs/Navigation/AppNavigator/Navigators/RightModalNavigator.tsx
  src/libs/Navigation/AppNavigator/useModalCardStyleInterpolator.ts
  src/libs/Navigation/AppNavigator/useRHPScreenOptions.ts
  src/libs/Navigation/AppNavigator/useRootNavigatorScreenOptions.ts
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

use explicit options to improve readability
  src/libs/Navigation/AppNavigator/Navigators/OnboardingModalNavigator.tsx
Owners: @Expensify/pullerbear

chore: compare data props between renders for presumably better perf
  src/components/LHNOptionsList/LHNOptionsList.tsx
Owners: @Expensify/pullerbear

revert/ PR comments addressed
  src/components/AttachmentModal.tsx
  src/components/LHNOptionsList/LHNOptionsList.tsx
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportView.tsx
  src/libs/ReportActionsUtils.ts
  src/pages/ReportDetailsPage.tsx
  src/pages/home/ReportScreen.tsx
  src/pages/home/report/PureReportActionItem.tsx
  src/pages/media/AttachmentModalScreen/AttachmentModalBaseContent.tsx
Owners: @Expensify/pullerbear

chore: presumably fix a bug caused by a too narrow dependency
  src/pages/home/report/PureReportActionItem.tsx
Owners: @Expensify/pullerbear

chore: refactor a reason for RBR on report actions
  src/libs/SidebarUtils.ts
Owners: @Expensify/pullerbear

add correct icon
  assets/images/integrationicons/uber.svg
Owners: @Expensify/design, @Expensify/pullerbear

Allowed for admin to leave the workspace
  src/pages/workspace/WorkspacesListPage.tsx
Owners: @Expensify/pullerbear

remove variable
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

add spacing
  src/pages/workspace/receiptPartners/WorkspaceReceiptPartnersPage.tsx
Owners: @Expensify/pullerbear

place the loader above the clear button.
  src/components/Search/SearchAutocompleteInput.tsx
Owners: @Expensify/pullerbear

loading indicator cursor style fix.
  src/components/Search/SearchAutocompleteInput.tsx
Owners: @Expensify/pullerbear

Make OptimisticReportNames logic synchronous in prepareRequest
  src/libs/API/index.ts
  src/libs/OptimisticReportNamesConnectionManager.ts
Owners: @Expensify/pullerbear

revert revert of hover preview
  src/CONST/index.ts
  src/components/DistanceEReceipt.tsx
  src/components/SelectionList/types.ts
  src/components/TransactionItemRow/DataCells/ReceiptCell.tsx
  src/components/TransactionItemRow/ReceiptPreview/index.native.tsx
  src/components/TransactionItemRow/ReceiptPreview/index.tsx
  src/libs/SearchUIUtils.ts
  src/styles/index.ts
  src/types/onyx/SearchResults.ts
  tests/unit/Search/SearchUIUtilsTest.ts
Owners: @Expensify/pullerbear, @Expensify/design

fixed confirm modal exported from a hook, because it's exit animation didn't fire
  src/hooks/useDeleteSavedSearch.tsx
  src/pages/Search/SearchTypeMenu.tsx
Owners: @Expensify/pullerbear
