Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

Update version to 9.1.69-2
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #64552 from Expensify/jsenyitko-cleanup-suggested-search
  src/types/form/SearchAdvancedFiltersForm.ts
Owners: @Expensify/pullerbear

fix esLint.
  tests/unit/navigateToWorkspacesPageTest.ts
Owners: @Expensify/pullerbear

Update Global-Reimbursement-United-States.md
  docs/articles/new-expensify/wallet-and-payments/Global-Reimbursement-United-States.md
Owners: @Expensify/pullerbear

update-pending-for-each-item
  src/CONST/index.ts
  src/libs/actions/Policy/Policy.ts
  src/pages/workspace/rules/IndividualExpenseRulesSection.tsx
  src/pages/workspace/rules/RulesProhibitedDefaultPage.tsx
  src/types/onyx/Policy.ts
Owners: @Expensify/pullerbear

add more fallbacks
  src/pages/settings/Profile/CustomStatus/StatusPage.tsx
Owners: @Expensify/pullerbear

remove type import
  src/libs/actions/Policy/Policy.ts
  src/pages/workspace/rules/RulesProhibitedDefaultPage.tsx
Owners: @Expensify/pullerbear

fix: Update Expensify Help version badges to look like badges
  docs/_sass/_main.scss
  docs/assets/js/main.js
  docs/assets/js/platform-tabs.js
Owners: @Expensify/pullerbear, @Expensify/design

refactor: remove unsused codes
  docs/assets/js/platform-tabs.js
Owners: @Expensify/design, @Expensify/pullerbear

bump
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

new variables
  src/styles/variables.ts
Owners: @Expensify/design, @Expensify/pullerbear

block on blur
  src/pages/Search/SearchPage.tsx
  src/types/onyx/SearchResults.ts
Owners: @Expensify/pullerbear

createItemHeightCalculator
  src/components/Search/index.tsx
  src/components/Search/itemHeightCalculator.tsx
Owners: @Expensify/pullerbear

inline export
  src/libs/actions/Search.ts
  src/types/form/SearchAdvancedFiltersForm.ts
Owners: @Expensify/pullerbear

added reportWithIDRoute
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/params.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/pages/settings/Subscription/SubscriptionSettings/index.tsx
Owners: @Expensify/pullerbear

ITEM_HEIGHTS
  src/components/Search/itemHeightCalculator.tsx
  src/components/Search/itemHeights.tsx
Owners: @Expensify/pullerbear

use FlashList
  src/components/Search/SearchList.tsx
Owners: @Expensify/pullerbear

remove any
  src/components/Search/SearchList.tsx
Owners: @Expensify/pullerbear

Fixed account holder country having wrong value
  src/pages/settings/Wallet/InternationalDepositAccount/substeps/AccountHolderInformation.tsx
Owners: @Expensify/pullerbear

Update EmojiPicker.tsx
  src/components/EmojiPicker/EmojiPicker.tsx
Owners: @Expensify/pullerbear

update optimistic report actions
  src/libs/actions/Search.ts
Owners: @Expensify/pullerbear

Update eslint-config-expensify to v2.0.82
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

update translation in all languages
  src/languages/de.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

prettier
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

fix: Check for anonymous user when session?.authToken exists and allow sign-in if true
  src/pages/signin/ValidateCodeForm/BaseValidateCodeForm.tsx
Owners: @Expensify/pullerbear

fix tests
  src/libs/__mocks__/Permissions.ts
Owners: @Expensify/pullerbear

fix tests
  src/libs/__mocks__/Permissions.ts
Owners: @Expensify/pullerbear

use keys as the basis for identifying searches, such that we can determine when to show actions
  src/CONST/index.ts
  src/hooks/useSearchTypeMenu.tsx
  src/hooks/useSearchTypeMenuSections.ts
  src/libs/SearchUIUtils.ts
  src/pages/Search/EmptySearchView.tsx
  src/pages/Search/SearchTypeMenu.tsx
Owners: @Expensify/pullerbear

updated lineHeight to 16px
  src/components/HTMLEngineProvider/BaseHTMLEngineProvider.tsx
Owners: @Expensify/pullerbear

pass down current search to base 'pay' on
  src/components/Search/index.tsx
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

added reportWithIDRoute in index.native
  src/pages/settings/Subscription/SubscriptionSettings/index.native.tsx
Owners: @Expensify/pullerbear

chore: upgrade react-native-draggable-flatlist to version 4.0.3
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

chore: remove outdated patch for react-native-draggable-flatlist
  patches/react-native-draggable-flatlist+4.0.1+001+initial.patch
Owners: @Expensify/pullerbear

chore: update patches for version 4.0.3
  patches/react-native-draggable-flatlist+4.0.3+001+listfooter-constraint.patch
  patches/react-native-draggable-flatlist+4.0.3+002+fix-console-error-ref-measureLayout.patch
Owners: @Expensify/pullerbear

Update src/CONST/LOCALES.ts
  src/CONST/LOCALES.ts
Owners: @Expensify/pullerbear

Revert "fix(perf): move useOnyx call up the tree on LHN"
  src/components/LHNOptionsList/LHNOptionsList.tsx
  src/components/LHNOptionsList/OptionRowLHN.tsx
  src/components/LHNOptionsList/OptionRowLHNData.tsx
  src/components/LHNOptionsList/types.ts
Owners: @Expensify/pullerbear

style: run prettier to fix formatting #64420
  src/CONST/LOCALES.ts
Owners: @Expensify/pullerbear

remove period
  src/languages/de.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

fix: trigger checkbox selection on enter key press
  src/components/Checkbox.tsx
Owners: @Expensify/pullerbear

fix: add margin to checkbox container style for better focus outline
  src/styles/utils/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
