Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

Report-Report is not shown in WS chat online after trying to move it to deleted WS offline
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

Fix test
  src/libs/actions/Policy/Policy.ts
  tests/actions/PolicyTest.ts
Owners: @Expensify/pullerbear

Implement switching between transactions on the confirmation page
  src/components/PrevNextButtons.tsx
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepScan/ReceiptPreviews/index.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
  src/pages/iou/request/step/IOURequestStepScan/types.ts
Owners: @Expensify/pullerbear

fix types
  src/components/Search/SearchList.tsx
  tests/unit/Search/SearchUIUtilsTest.ts
Owners: @Expensify/pullerbear

fix you problem
  src/components/SelectionList/Search/UserSelectionListItem.tsx
Owners: @Expensify/pullerbear

Pass correct transaction description during creation
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
Owners: @Expensify/pullerbear

remove: not needed receiptID assignment
  src/pages/iou/request/step/IOURequestStepScan/ReceiptPreviews/index.tsx
Owners: @Expensify/pullerbear

fix ESLint
  src/components/ReportActionItem/MoneyRequestAction.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/styles/utils/getMoneyRequestReportPreviewStyle/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix ts
  src/components/ReportActionItem/MoneyRequestAction.tsx
Owners: @Expensify/pullerbear

fix test
  tests/actions/IOUTest.ts
Owners: @Expensify/pullerbear

remove redundant useCallback
  src/pages/home/ReportScreen.tsx
  src/pages/home/report/ReportActionsList.tsx
Owners: @Expensify/pullerbear

remove redundant deps
  src/pages/home/ReportScreen.tsx
  src/pages/home/report/ReportActionsList.tsx
Owners: @Expensify/pullerbear

eslint
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

add: confirmation modal on deleting receipt
  src/pages/iou/request/step/IOURequestStepScan/ReceiptViewModal/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/ReceiptViewModal/index.tsx
Owners: @Expensify/pullerbear

refactored learnMore split phrase to use react-native-render-html
  src/languages/en.ts
  src/languages/es.ts
  src/pages/settings/Subscription/SubscriptionSettings/index.native.tsx
  src/pages/settings/Subscription/SubscriptionSettings/index.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.58-4
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.58-4
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #63432 from callstack-internal/approve-button-visibility-fix
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

reusing isPayOrApproveAction
  src/libs/MoneyRequestReportUtils.ts
Owners: @Expensify/pullerbear

fix const bug introduced with merge
  src/CONST.ts
Owners: @Expensify/pullerbear

update empty search view
  src/pages/Search/EmptySearchView.tsx
Owners: @Expensify/pullerbear

Remove unnecessary eslint ignore comment
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

updated isQuickSettingFlow logic
  src/libs/Navigation/types.ts
  src/pages/workspace/categories/CategoryGLCodePage.tsx
  src/pages/workspace/categories/CategoryPayrollCodePage.tsx
  src/pages/workspace/categories/CategorySettingsPage.tsx
  src/pages/workspace/categories/CreateCategoryPage.tsx
  src/pages/workspace/categories/EditCategoryPage.tsx
  src/pages/workspace/categories/ImportCategoriesPage.tsx
  src/pages/workspace/categories/ImportedCategoriesPage.tsx
  src/pages/workspace/categories/WorkspaceCategoriesPage.tsx
  src/pages/workspace/categories/WorkspaceCategoriesSettingsPage.tsx
  src/pages/workspace/tags/EditTagPage.tsx
  src/pages/workspace/tags/ImportTagsPage.tsx
  src/pages/workspace/tags/ImportedTagsPage.tsx
  src/pages/workspace/tags/TagApproverPage.tsx
  src/pages/workspace/tags/TagGLCodePage.tsx
  src/pages/workspace/tags/TagSettingsPage.tsx
  src/pages/workspace/tags/WorkspaceCreateTagPage.tsx
  src/pages/workspace/tags/WorkspaceEditTagsPage.tsx
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
  src/pages/workspace/tags/WorkspaceTagsSettingsPage.tsx
  src/pages/workspace/tags/WorkspaceViewTagsPage.tsx
  src/pages/workspace/withPolicy.tsx
Owners: @Expensify/pullerbear

feat: validate multiple files
  src/components/AttachmentModal.tsx
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
Owners: @Expensify/pullerbear

Fix: date column header misaligned in reports pages
  src/styles/utils/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

Fix tableView cleanup logic in ReportListItem
  src/components/SelectionList/Search/ReportListItem.tsx
Owners: @Expensify/pullerbear

Remove most usages of TABLE_REPORT_VIEW beta flag
  src/CONST.ts
  src/components/MoneyReportHeader.tsx
  src/components/Search/SearchList.tsx
  src/components/Search/index.tsx
  src/components/SelectionList/Search/ReportListItem.tsx
  src/components/SelectionList/types.ts
  src/libs/ReportSecondaryActionUtils.ts
  src/pages/Search/EmptySearchView.tsx
  src/pages/TransactionDuplicate/Confirmation.tsx
  src/pages/home/ReportScreen.tsx
  src/pages/home/report/ReportActionCompose/AttachmentPickerWithMenuItems.tsx
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
  tests/unit/ReportSecondaryActionUtilsTest.ts
Owners: @Expensify/pullerbear

Remove TABLE_REPORT_VIEW beta flag and everything connected
  src/CONST.ts
  src/libs/actions/IOU.ts
  tests/actions/IOUTest.ts
Owners: @Expensify/pullerbear

fix approve for moved expense
  src/libs/MoneyRequestReportUtils.ts
Owners: @Expensify/pullerbear

fix: lint
  src/components/ButtonWithDropdownMenu/index.tsx
  src/components/SettlementButton/index.tsx
Owners: @Expensify/pullerbear

Refactor email domain check to use a Set for improved performance
  src/libs/LoginUtils.ts
Owners: @Expensify/pullerbear

wip: update components to use derived value
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/index.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/types.ts
  src/components/ReportActionItem/ReportPreview.tsx
  src/components/ReportActionItem/TripRoomPreview.tsx
  src/hooks/useReportTransactionViolations.ts
  src/hooks/useReportWithTransactionsAndViolations.ts
  src/hooks/useTripTransactions.ts
  src/libs/actions/OnyxDerived/configs/reportTransactions.ts
  src/pages/home/report/PureReportActionItem.tsx
  src/pages/home/report/ReportActionsList.tsx
  src/pages/home/report/ReportActionsListItemRenderer.tsx
  src/pages/home/report/TripSummary.tsx
Owners: @Expensify/pullerbear

fix: spell checks
  src/components/SettlementButton/index.tsx
  src/languages/en.ts
  src/languages/es.ts
Owners: @Expensify/pullerbear

fix: dupe system message
  src/libs/API/parameters/MoveIOUReportToExistingPolicyParams.ts
  src/libs/API/parameters/MoveIOUReportToPolicyAndInviteSubmitterParams.ts
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

fix: spell checks
  src/components/SettlementButton/index.tsx
Owners: @Expensify/pullerbear

Update button text, code improvements
  src/components/MoneyRequestConfirmationList.tsx
  src/components/PrevNextButtons.tsx
  src/languages/en.ts
  src/languages/es.ts
  src/languages/params.ts
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepScan/ReceiptPreviews/index.tsx
Owners: @Expensify/pullerbear

fix: update translation for 'Conserjería' and 'conserje' to 'Concierge' in Spanish language file
  src/languages/es.ts
Owners: @Expensify/pullerbear

fix lint
  src/pages/workspace/categories/CategoryGLCodePage.tsx
  src/pages/workspace/categories/CategoryPayrollCodePage.tsx
  src/pages/workspace/categories/CreateCategoryPage.tsx
  src/pages/workspace/categories/EditCategoryPage.tsx
  src/pages/workspace/categories/ImportCategoriesPage.tsx
  src/pages/workspace/categories/WorkspaceCategoriesSettingsPage.tsx
  src/pages/workspace/tags/EditTagPage.tsx
  src/pages/workspace/tags/ImportTagsPage.tsx
Owners: @Expensify/pullerbear

fix edit composer is shown in reports page
  src/pages/home/report/PureReportActionItem.tsx
  src/pages/home/report/ReportActionItem.tsx
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
