Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

Update and rename Suggested-Search.md to Using-Search-on-the-Reports-Page.md
  docs/articles/new-expensify/reports-and-expenses/Using-Search-on-the-Reports-Page.md
Owners: @Expensify/pullerbear

Update Pay-Expenses.md
  docs/articles/new-expensify/wallet-and-payments/Pay-Expenses.md
Owners: @Expensify/pullerbear

Revert "Fix: Reset Background to Workspace on Page Reload in Track Expense"
  src/ROUTES.ts
  src/libs/Navigation/types.ts
  src/libs/ReportUtils.ts
  src/pages/iou/request/step/IOURequestStepAccountant.tsx
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepParticipants.tsx
Owners: @Expensify/pullerbear

fix: fix selfDM assigning
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
Owners: @Expensify/pullerbear

added unit test
  tests/unit/SidebarUtilsTest.ts
Owners: @Expensify/pullerbear

Update redirects.csv
  docs/redirects.csv
Owners: @Expensify/pullerbear

Use report deatils ID for copilot tooltip
  src/components/AvatarWithDisplayName.tsx
Owners: @Expensify/pullerbear

Update FAB and Empty Search test drive links for invited employees
  src/CONST/index.ts
  src/components/TestDrive/TestDriveDemo.tsx
  src/libs/TourUtils.ts
  src/pages/Search/EmptySearchView.tsx
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
Owners: @Expensify/pullerbear

add global_create emoji in chat intro line
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

Update WorkspaceInviteMessagePage to conditionally display title and subtitle based on approval workflow status, and add a new header for inviting people in approval workflows.
  src/pages/workspace/WorkspaceInviteMessagePage.tsx
Owners: @Expensify/pullerbear

expo-video install, usePlaybackContextVideoRefs update, wip
  app.json
  config/webpack/webpack.common.ts
  package-lock.json
  package.json
  src/components/VideoPlayer/NewBaseVideoPlayer.tsx
  src/components/VideoPlayer/index.native.tsx
  src/components/VideoPlayer/index.tsx
  src/components/VideoPlayerContexts/PlaybackContext/oldindex.tsx
  src/components/VideoPlayerContexts/PlaybackContext/oldtypes.ts
  src/components/VideoPlayerContexts/PlaybackContext/oldusePlaybackContextVideoRefs.ts
  src/components/VideoPlayerContexts/PlaybackContext/usePlaybackContextVideoRefs.ts
Owners: @Expensify/pullerbear

Update version to 9.1.79-8
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.79-8
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #65874 from Expensify/revert-64924-feature/kuba-nowakowski/Update-the-new-report-empty-state
  src/CONST/index.ts
  src/components/EmptyStateComponent/index.tsx
  src/components/EmptyStateComponent/types.ts
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionList.tsx
  src/components/MoneyRequestReportView/SearchMoneyRequestReportEmptyState.tsx
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/ReportPrimaryActionUtils.ts
  src/libs/ReportSecondaryActionUtils.ts
  tests/unit/ReportPrimaryActionUtilsTest.ts
Owners: @Expensify/pullerbear

fix: scroll offset logic
  src/pages/home/ReportScreen.tsx
  src/pages/home/report/ReportFooter.tsx
Owners: @Expensify/pullerbear

remove onyx.connect
  src/components/MoneyReportHeader.tsx
  src/libs/ReportSecondaryActionUtils.ts
Owners: @Expensify/pullerbear

resolve GitHub Actions build failures due to @src import paths
  .github/libs/EmptyObject.ts
  .github/libs/GithubUtils.ts
  .github/libs/arrayDifference.ts
Owners: @Expensify/pullerbear

build actions with replaced references
  .github/actions/javascript/authorChecklist/index.js
  .github/actions/javascript/awaitStagingDeploys/index.js
  .github/actions/javascript/createOrUpdateStagingDeploy/index.js
  .github/actions/javascript/getArtifactInfo/index.js
  .github/actions/javascript/getDeployPullRequestList/index.js
  .github/actions/javascript/getPreviousVersion/index.js
  .github/actions/javascript/isStagingDeployLocked/index.js
  .github/actions/javascript/markPullRequestsAsDeployed/index.js
  .github/actions/javascript/postTestBuildComment/index.js
  .github/actions/javascript/proposalPoliceComment/index.js
  .github/actions/javascript/reopenIssueWithComment/index.js
  .github/actions/javascript/reviewerChecklist/index.js
  .github/actions/javascript/verifySignedCommits/index.js
Owners: @Expensify/pullerbear

add duplicated diff to pass ci
  .github/actions/javascript/checkDeployBlockers/index.js
  .github/actions/javascript/getPullRequestDetails/index.js
Owners: @Expensify/pullerbear

prettier fixes
  .github/libs/EmptyObject.ts
  .github/libs/GithubUtils.ts
  .github/libs/arrayDifference.ts
Owners: @Expensify/pullerbear

Forbid imports from src/ inside .github
  .github/.eslintrc.js
  .github/actions/javascript/authorChecklist/index.js
  .github/actions/javascript/awaitStagingDeploys/index.js
  .github/actions/javascript/checkDeployBlockers/checkDeployBlockers.ts
  .github/actions/javascript/checkDeployBlockers/index.js
  .github/actions/javascript/createOrUpdateStagingDeploy/index.js
  .github/actions/javascript/getArtifactInfo/index.js
  .github/actions/javascript/getDeployPullRequestList/index.js
  .github/actions/javascript/getPreviousVersion/index.js
  .github/actions/javascript/getPullRequestDetails/getPullRequestDetails.ts
  .github/actions/javascript/getPullRequestDetails/index.js
  .github/actions/javascript/isStagingDeployLocked/index.js
  .github/actions/javascript/markPullRequestsAsDeployed/index.js
  .github/actions/javascript/postTestBuildComment/index.js
  .github/actions/javascript/proposalPoliceComment/index.js
  .github/actions/javascript/reopenIssueWithComment/index.js
  .github/actions/javascript/reviewerChecklist/index.js
  .github/actions/javascript/verifySignedCommits/index.js
  .github/libs/GithubUtils.ts
  .github/libs/arrayDifference.ts
  .github/libs/isEmptyObject.ts
Owners: @Expensify/pullerbear

added tests
  src/libs/ReportSecondaryActionUtils.ts
  tests/unit/ReportSecondaryActionUtilsTest.ts
Owners: @Expensify/pullerbear

lint
  tests/unit/ReportSecondaryActionUtilsTest.ts
Owners: @Expensify/pullerbear

fix further import errors
  .github/actions/javascript/checkDeployBlockers/checkDeployBlockers.ts
  .github/actions/javascript/getPullRequestDetails/getPullRequestDetails.ts
Owners: @Expensify/pullerbear

improve action build script so that problematic file is highlighted
  .github/scripts/buildActions.sh
Owners: @Expensify/pullerbear

build fixed actions once more
  .github/actions/javascript/authorChecklist/index.js
  .github/actions/javascript/awaitStagingDeploys/index.js
  .github/actions/javascript/bumpVersion/index.js
  .github/actions/javascript/checkDeployBlockers/checkDeployBlockers.ts
  .github/actions/javascript/checkDeployBlockers/index.js
  .github/actions/javascript/createOrUpdateStagingDeploy/index.js
  .github/actions/javascript/getArtifactInfo/index.js
  .github/actions/javascript/getDeployPullRequestList/index.js
  .github/actions/javascript/getGraphiteString/index.js
  .github/actions/javascript/getPreviousVersion/index.js
  .github/actions/javascript/getPullRequestDetails/getPullRequestDetails.ts
  .github/actions/javascript/getPullRequestDetails/index.js
  .github/actions/javascript/isStagingDeployLocked/index.js
  .github/actions/javascript/markPullRequestsAsDeployed/index.js
  .github/actions/javascript/postTestBuildComment/index.js
  .github/actions/javascript/proposalPoliceComment/index.js
  .github/actions/javascript/reopenIssueWithComment/index.js
  .github/actions/javascript/reviewerChecklist/index.js
  .github/actions/javascript/validateReassureOutput/index.js
  .github/actions/javascript/verifySignedCommits/index.js
Owners: @Expensify/pullerbear

re-add compiled file warning
  .github/actions/javascript/authorChecklist/index.js
  .github/actions/javascript/bumpVersion/index.js
  .github/actions/javascript/checkDeployBlockers/index.js
  .github/actions/javascript/createOrUpdateStagingDeploy/index.js
  .github/actions/javascript/getArtifactInfo/index.js
  .github/actions/javascript/getDeployPullRequestList/index.js
  .github/actions/javascript/getGraphiteString/index.js
  .github/actions/javascript/getPreviousVersion/index.js
  .github/actions/javascript/getPullRequestDetails/index.js
  .github/actions/javascript/isStagingDeployLocked/index.js
  .github/actions/javascript/markPullRequestsAsDeployed/index.js
  .github/actions/javascript/postTestBuildComment/index.js
  .github/actions/javascript/proposalPoliceComment/index.js
  .github/actions/javascript/reopenIssueWithComment/index.js
  .github/actions/javascript/reviewerChecklist/index.js
  .github/actions/javascript/validateReassureOutput/index.js
  .github/actions/javascript/verifySignedCommits/index.js
  .github/scripts/buildActions.sh
Owners: @Expensify/pullerbear

fix duplicated compiled file warning message
  .github/actions/javascript/awaitStagingDeploys/index.js
  .github/scripts/buildActions.sh
Owners: @Expensify/pullerbear

ignoring invoice reports
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

performance tests
  tests/perf-test/ReportUtils.perf-test.ts
Owners: @Expensify/pullerbear

Remove multiLevelTags beta
  src/CONST/index.ts
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
  tests/unit/usePermissionsTest.tsx
Owners: @Expensify/pullerbear

mig
  tests/perf-test/ReportUtils.perf-test.ts
Owners: @Expensify/pullerbear

prettier
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
Owners: @Expensify/pullerbear

prettier
  src/components/TabSelector/TabSelector.tsx
  src/components/TabSelector/TabSelectorItem.tsx
  src/components/Tooltip/BaseGenericTooltip/types.ts
Owners: @Expensify/pullerbear

even prettier
  src/components/ProductTrainingContext/TOOLTIPS.ts
  src/pages/iou/request/IOURequestStartPage.tsx
Owners: @Expensify/pullerbear

quiet typecheck/spellcheck errors
  src/components/TabSelector/TabSelectorItem.tsx
  src/components/Tooltip/types.ts
  src/styles/utils/generators/TooltipStyleUtils/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

add comments for fixed modal height values
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

fix alignment on ios safari.
  src/components/MagicCodeInput.tsx
  src/styles/index.ts
  src/styles/utils/FontUtils/fontFamily/multiFontFamily/index.ts
  src/styles/utils/FontUtils/fontFamily/singleFontFamily/index.ts
  src/styles/utils/FontUtils/fontFamily/types.ts
  src/styles/utils/FontUtils/fontWeight/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix eslint and spell check.
  src/components/MagicCodeInput.tsx
Owners: @Expensify/pullerbear

rename getTagViolationCount to getMultiLevelTagViolationsCount
  src/libs/TransactionPreviewUtils.ts
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
