Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

add confirm page
  assets/images/product-illustrations/todd-in-car.svg
  src/components/Icon/Illustrations.ts
  src/pages/workspace/receiptPartners/ConfirmInviteReceiptPartnerPolicyPage.tsx
Owners: @Expensify/design, @Expensify/pullerbear

build gh actions
  .github/actions/javascript/createOrUpdateStagingDeploy/index.js
  .github/actions/javascript/getDeployPullRequestList/index.js
  .github/actions/javascript/markPullRequestsAsDeployed/index.js
Owners: @Expensify/pullerbear

update report syntax
  src/libs/SearchQueryUtils.ts
  tests/unit/Search/SearchUIUtilsTest.ts
Owners: @Expensify/pullerbear

fix comments and remove copiable prop from unqualified rows.
  src/components/CopyTextToClipboard.tsx
  src/components/MenuItem.tsx
  src/components/Pressable/PressableWithDelayToggle.tsx
  src/pages/KeyboardShortcutsPage.tsx
  src/pages/ProfilePage.tsx
  src/pages/settings/Wallet/WalletPage/CardDetails.tsx
Owners: @Expensify/pullerbear

lint
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

generate translations
  src/languages/de.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

remove copiable prop for localTime
  src/components/AutoUpdateTime.tsx
Owners: @Expensify/pullerbear

update all isntances
  src/libs/SearchQueryUtils.ts
Owners: @Expensify/pullerbear

continue workflow when mobile-expensify PRs can't be retrieved
  .github/actions/javascript/createOrUpdateStagingDeploy/createOrUpdateStagingDeploy.ts
Owners: @Expensify/pullerbear

update drafts syntax
  src/CONST/index.ts
  src/components/Search/SearchAutocompleteList.tsx
  src/libs/SearchAutocompleteUtils.ts
  src/libs/SearchParser/autocompleteParser.js
  src/libs/SearchParser/baseRules.peggy
  src/libs/SearchParser/searchParser.js
  src/libs/SearchQueryUtils.ts
Owners: @Expensify/pullerbear

improve logging for staging deploy comments
  .github/actions/javascript/markPullRequestsAsDeployed/markPullRequestsAsDeployed.ts
Owners: @Expensify/pullerbear

build actions
  .github/actions/javascript/createOrUpdateStagingDeploy/index.js
  .github/actions/javascript/markPullRequestsAsDeployed/index.js
Owners: @Expensify/pullerbear

only update readable string
  src/libs/SearchQueryUtils.ts
Owners: @Expensify/pullerbear

style
  src/libs/SearchQueryUtils.ts
Owners: @Expensify/pullerbear

update tests
  tests/unit/ModifiedExpenseMessageTest.ts
Owners: @Expensify/pullerbear

sync IOURequestStartPage to DistanceRequestStartPage
  src/pages/iou/request/DistanceRequestStartPage.tsx
Owners: @Expensify/pullerbear

attempt to add Codecov to App
  .github/workflows/test.yml
  codecov.yml
Owners: @Expensify/pullerbear

remove copiable prop for .
  src/pages/settings/Wallet/ExpensifyCardPage.tsx
Owners: @Expensify/pullerbear

sync IOURequestStepDistance to IOURequestStepDistanceMap
  src/libs/Navigation/types.ts
  src/pages/iou/request/step/IOURequestStepDistanceMap.tsx
Owners: @Expensify/pullerbear

fix categories page rendering.
  src/pages/workspace/categories/WorkspaceCategoriesPage.tsx
Owners: @Expensify/pullerbear

force tests to run
  src/libs/DateUtils.ts
Owners: @Expensify/pullerbear

fix report menu item (editable)
  src/components/MoneyRequestConfirmationListFooter.tsx
Owners: @Expensify/pullerbear

fix request types map or manual is mishandled as backToReport
  src/ROUTES.ts
  src/pages/iou/request/DistanceRequestStartPage.tsx
Owners: @Expensify/pullerbear

hide unnecessary columns
  src/components/Search/index.tsx
  src/components/SelectionList/SearchTableHeader.tsx
Owners: @Expensify/pullerbear

fix: remove redundant changes
  src/CONST/index.ts
Owners: @Expensify/pullerbear

selection: put initially selected item into its own section and display it at top
  src/components/Search/FilterDropdowns/SingleSelectPopup.tsx
  src/components/Search/SearchSingleSelectionPicker.tsx
Owners: @Expensify/pullerbear

fix group currency height in native
  src/components/Search/FilterDropdowns/MultiSelectPopup.tsx
  src/components/Search/FilterDropdowns/SingleSelectPopup.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

spell + lint
  src/components/SelectionList/SearchTableHeader.tsx
Owners: @Expensify/pullerbear

fix: update translations
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/CardUtils.ts
  src/libs/ReportActionsUtils.ts
Owners: @Expensify/pullerbear

Fix back button on report detail page resetting scroll position on reports list
  src/components/ScrollOffsetContextProvider.tsx
  src/components/Search/SearchList.tsx
Owners: @Expensify/pullerbear

add padding
  src/components/MenuItem.tsx
Owners: @Expensify/pullerbear

Update scroll offset in context provider function
  src/components/ScrollOffsetContextProvider.tsx
Owners: @Expensify/pullerbear

Refactor cleanStaleScrollOffsets function for clarity
  src/components/ScrollOffsetContextProvider.tsx
Owners: @Expensify/pullerbear

fix: Leave button does not response for approver
  src/pages/workspace/WorkspacesListPage.tsx
Owners: @Expensify/pullerbear

fix: remove call to getReportNameValuePairs in method getAllReportActionsErrorsAndReportActionThatRequiresAttention
  src/libs/ReportUtils.ts
  src/libs/SidebarUtils.ts
Owners: @Expensify/pullerbear

apply fixes
  src/pages/workspace/companyCards/assignCard/AssigneeStep.tsx
  src/pages/workspace/companyCards/assignCard/InviteNewMemberStep.tsx
  src/pages/workspace/expensifyCard/issueNew/InviteNewMemberStep.tsx
  src/pages/workspace/members/WorkspaceInviteMessageComponent.tsx
Owners: @Expensify/pullerbear

Make prop handling safer
  src/components/Search/SearchList.tsx
Owners: @Expensify/pullerbear

fix: remove call to getReportNameValuePairs() in method getParentNavigationSubtitle
  src/components/AvatarWithDisplayName.tsx
  src/libs/ReportUtils.ts
  src/pages/ReportDetailsPage.tsx
  src/pages/ShareCodePage.tsx
  src/pages/home/HeaderView.tsx
Owners: @Expensify/pullerbear

Update onboarding manage team message
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

update component
  src/pages/workspace/receiptPartners/WorkspaceReceiptPartnersPage.tsx
Owners: @Expensify/pullerbear
