Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

add test
  tests/unit/TransactionUtilsTest.ts
Owners: @Expensify/pullerbear

Update test drive image to use lighter BG
  assets/images/fast-track-cover.png
  assets/images/test-drive.svg
  src/components/TestDrive/Modal/BaseTestDriveModal.tsx
Owners: @Expensify/design, @Expensify/pullerbear

More updates
  src/ROUTES.ts
  src/components/ReportActionItem/MoneyRequestView.tsx
  src/components/ReportActionItem/TripDetailsView.tsx
  src/components/ReportActionItem/TripRoomPreview.tsx
  src/libs/Navigation/types.ts
  src/libs/TripReservationUtils.ts
  src/pages/Travel/TripDetailsPage.tsx
  src/pages/Travel/TripSummaryPage.tsx
Owners: @Expensify/pullerbear

CLI util v2
  scripts/utils/CLI.ts
  tests/unit/CLITests.ts
Owners: @Expensify/pullerbear

Fix argv in tests
  tests/unit/CLITests.ts
  tests/unit/generateTranslationsTest.ts
Owners: @Expensify/pullerbear

failing tests
  tests/ui/WorkEmailOnboarding.tsx
Owners: @Expensify/pullerbear

fix more tests
  tests/ui/WorkEmailOnboarding.tsx
Owners: @Expensify/pullerbear

log error message
  src/libs/openTravelDotLink/index.native.ts
Owners: @Expensify/pullerbear

log error
  src/libs/openTravelDotLink/index.native.ts
Owners: @Expensify/pullerbear

feat: add unit test file
  tests/unit/AttachmentStorageTest.ts
Owners: @Expensify/pullerbear

fix some comments and improve the code
  tests/unit/AttachmentStorageTest.ts
Owners: @Expensify/pullerbear

remove primary action from secondary actions
  src/components/MoneyReportHeader.tsx
Owners: @Expensify/pullerbear

New native font
  assets/fonts/native/ExpensifyNeue-Regular.otf
Owners: @Expensify/design, @Expensify/pullerbear

Added bold font files
  .storybook/fonts.css
  assets/css/fonts.css
  assets/fonts/web/ExpensifyNeueX1-Bold.woff
  assets/fonts/web/ExpensifyNeueX1-Bold.woff2
  docs/_sass/_fonts.scss
Owners: @Expensify/pullerbear, @Expensify/design

Added .otf fonts
  assets/fonts/native/ExpensifyNeueX1-Bold.otf
  assets/fonts/native/ExpensifyNeueX1-Regular.otf
Owners: @Expensify/design, @Expensify/pullerbear

Changing regular body type to be new font file
  .storybook/fonts.css
  assets/css/fonts.css
  assets/fonts/web/ExpensifyNeueX1-Regular.woff
  assets/fonts/web/ExpensifyNeueX1-Regular.woff2
  docs/_sass/_fonts.scss
Owners: @Expensify/pullerbear, @Expensify/design

Fixing Dubielzyk's mess
  .storybook/fonts.css
  assets/css/fonts.css
  assets/fonts/web/ExpensifyNeue-Bold.woff
  assets/fonts/web/ExpensifyNeue-Bold.woff2
  assets/fonts/web/ExpensifyNeue-Regular.woff
  assets/fonts/web/ExpensifyNeue-Regular.woff2
  assets/fonts/web/ExpensifyNeueX1-Bold.woff
  assets/fonts/web/ExpensifyNeueX1-Bold.woff2
  assets/fonts/web/ExpensifyNeueX1-Regular.woff
  assets/fonts/web/ExpensifyNeueX1-Regular.woff2
  docs/_sass/_fonts.scss
Owners: @Expensify/pullerbear, @Expensify/design

Adding X16 fonts
  assets/fonts/native/ExpensifyNeue-Bold.otf
  assets/fonts/native/ExpensifyNeue-Regular.otf
  assets/fonts/web/ExpensifyNeue-Bold.woff
  assets/fonts/web/ExpensifyNeue-Bold.woff2
  assets/fonts/web/ExpensifyNeue-Regular.woff
  assets/fonts/web/ExpensifyNeue-Regular.woff2
Owners: @Expensify/design, @Expensify/pullerbear

More mess fixing
  assets/fonts/native/ExpensifyNeue-Bold.otf
  assets/fonts/native/ExpensifyNeueX1-Bold.otf
  assets/fonts/native/ExpensifyNeueX1-Regular.otf
Owners: @Expensify/design, @Expensify/pullerbear

Use CLI utils in generateTranslations, provide --locales command arg
  scripts/generateTranslations.ts
  src/libs/LocaleUtils.ts
  tests/unit/generateTranslationsTest.ts
Owners: @Expensify/pullerbear

Add comment at top of CLI class
  .github/actions/javascript/bumpVersion/bumpVersion.ts
  scripts/utils/CLI.ts
Owners: @Expensify/pullerbear

Rebuild gh actions
  .github/actions/javascript/bumpVersion/index.js
  .github/actions/javascript/proposalPoliceComment/index.js
Owners: @Expensify/pullerbear

Revert "Adding X16 fonts"
  assets/fonts/native/ExpensifyNeue-Bold.otf
  assets/fonts/native/ExpensifyNeue-Regular.otf
  assets/fonts/web/ExpensifyNeue-Bold.woff
  assets/fonts/web/ExpensifyNeue-Bold.woff2
  assets/fonts/web/ExpensifyNeue-Regular.woff
  assets/fonts/web/ExpensifyNeue-Regular.woff2
Owners: @Expensify/design, @Expensify/pullerbear

Add one more package to patch
  patches/@react-navigation+core+7.10.0+001+fix-failing-jest-by-disabling-esmodule.patch
Owners: @Expensify/pullerbear

remove redundant last read comparison
  src/libs/actions/RequestConflictUtils.ts
Owners: @Expensify/pullerbear

fix optimistic data for import failure case
  src/libs/actions/Policy/Tag.ts
  src/pages/workspace/tags/ImportMultiLevelTagsSettingsPage.tsx
  src/pages/workspace/tags/ImportedMultiLevelTagsPage.tsx
Owners: @Expensify/pullerbear

Fix reassure test
  src/components/ComposeProviders.tsx
Owners: @Expensify/pullerbear

fix: skip test drive modal button doesn't work
  src/pages/OnboardingPersonalDetails/BaseOnboardingPersonalDetails.tsx
Owners: @Expensify/pullerbear

Update src/libs/Navigation/helpers/getAdaptedStateFromPath.ts
  src/libs/Navigation/helpers/getAdaptedStateFromPath.ts
Owners: @Expensify/pullerbear

Update src/libs/actions/Report.ts
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

Add SIGNIN_ROUTE constant and update navigation logic for /signin redirection
  src/CONST.ts
  src/libs/Navigation/helpers/getAdaptedStateFromPath.ts
Owners: @Expensify/pullerbear

rename isLoadingReportData to shouldShowLoadingBar
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestHeader.tsx
  src/components/Navigation/TopBar.tsx
  src/pages/home/HeaderView.tsx
Owners: @Expensify/pullerbear

Add useLocale mock
  __mocks__/@react-navigation/native/index.ts
Owners: @Expensify/pullerbear

Simplify useLocale mock
  __mocks__/@react-navigation/native/index.ts
Owners: @Expensify/pullerbear

add the framework for the RECEIPTSCANFAILED action
  src/CONST.ts
  src/libs/OptionsListUtils.ts
  src/libs/ReportUtils.ts
  src/pages/home/report/PureReportActionItem.tsx
  src/types/onyx/OriginalMessage.ts
Owners: @Expensify/pullerbear

Fix issue related with total amount
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

Fix: Update comment to clarify redirection of /signin to home page
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

fix: ts error
  src/components/Attachments/AttachmentCarousel/AttachmentCarouselView/types.ts
Owners: @Expensify/pullerbear

Add comment for changedAmount
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

Update src/hooks/usePaymentOptions.ts
  src/hooks/usePaymentOptions.ts
Owners: @Expensify/pullerbear
