Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

remove used Onyx.connect
  src/libs/OptionsListUtils.ts
Owners: @Expensify/pullerbear

fix: type
  src/libs/WorkflowUtils.ts
Owners: @Expensify/pullerbear

Update rbr HTML tag
  src/components/HTMLEngineProvider/BaseHTMLEngineProvider.tsx
  src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.tsx
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

update missing place
  src/pages/iou/request/MoneyRequestAccountantSelector.tsx
Owners: @Expensify/pullerbear

fix: type
  src/pages/workspace/workflows/approvals/WorkspaceWorkflowsApprovalsEditPage.tsx
Owners: @Expensify/pullerbear

fix test
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

chore: write test for canEditFieldOfMoneyRequest
  tests/unit/ReportUtilsTest.ts
  tests/unit/canEditFieldOfMoneyRequestTest.ts
Owners: @Expensify/pullerbear

fix: type
  src/pages/workspace/workflows/approvals/WorkspaceWorkflowsApprovalsEditPage.tsx
Owners: @Expensify/pullerbear

fix: add test
  tests/unit/SidebarUtilsTest.ts
Owners: @Expensify/pullerbear

fix: Epsf card - Form error message appear on limit page
  src/libs/actions/Card.ts
  src/pages/workspace/expensifyCard/WorkspaceExpensifyCardListPage.tsx
Owners: @Expensify/pullerbear

Fix spell check
  docs/articles/travel/getting-started/Common-Travel-Terms-and-Abbreviations.md
Owners: @Expensify/pullerbear

fix: loader issue
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

fix lint
  src/libs/actions/Card.ts
Owners: @Expensify/pullerbear

Fix spell check error
  docs/articles/travel/getting-started/Common-Travel-Terms-and-Abbreviations.md
Owners: @Expensify/pullerbear

update code
  src/pages/workspace/expensifyCard/WorkspaceExpensifyCardListPage.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.86-0
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

lint fixes
  src/libs/OptionsListUtils.ts
Owners: @Expensify/pullerbear

Fix AnonymousReportFooter after merge
  src/components/AnonymousReportFooter.tsx
Owners: @Expensify/pullerbear

Update cspell.json
  cspell.json
Owners: @Expensify/pullerbear

fix: loader issue
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

Update cspell.json 01
  cspell.json
Owners: @Expensify/pullerbear

Improved efficiency of getReportStatusTranslation as proposed by @mountiny
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

update test
  tests/ui/ReportActionsViewTest.tsx
Owners: @Expensify/pullerbear

new layout
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
Owners: @Expensify/pullerbear

fix: allow move expense to processing report
  src/libs/ReportUtils.ts
  src/pages/Search/SearchTransactionsChangeReport.tsx
  src/pages/iou/request/step/IOURequestEditReport.tsx
  src/pages/iou/request/step/IOURequestEditReportCommon.tsx
  src/pages/iou/request/step/IOURequestStepReport.tsx
Owners: @Expensify/pullerbear

Duplicate expenses cannot be selected after going back
  src/components/Search/SearchList.tsx
Owners: @Expensify/pullerbear

Revert "Search: Add total spend footer"
  src/CONST/index.ts
  src/components/Search/SearchContext.tsx
  src/components/Search/SearchPageFooter.tsx
  src/components/Search/index.tsx
  src/components/Search/types.ts
  src/hooks/useSearchHighlightAndScroll.ts
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/SearchQueryUtils.ts
  src/libs/SearchUIUtils.ts
  src/libs/actions/IOU.ts
  src/libs/actions/Search.ts
  src/pages/Search/SearchPage.tsx
  src/pages/Search/SearchPageNarrow.tsx
  src/types/onyx/SearchResults.ts
  tests/ui/ReportListItemHeaderTest.tsx
  tests/unit/useSearchHighlightAndScrollTest.ts
Owners: @Expensify/pullerbear

revert
  patches/react-native/details.md
  patches/react-native/react-native+0.79.2+024+restore-old-line-height-algorithm.patch
  patches/react-native/react-native+0.79.2+025+fix-display-contents-not-updating-nodes.patch
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

Fix UI tweaks
  src/components/ReportAvatar.tsx
  src/styles/index.ts
  src/styles/utils/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

clean
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
Owners: @Expensify/pullerbear

Kateryna Potrus, test branch
  assets/images/heart.svg
  src/ONYXKEYS.ts
  src/ROUTES.ts
  src/SCREENS.ts
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/Navigation/AppNavigator/ModalStackNavigators/index.tsx
  src/libs/Navigation/AppNavigator/Navigators/RightModalNavigator.tsx
  src/libs/Navigation/linkingConfig/config.ts
  src/libs/Navigation/types.ts
  src/libs/actions/Event.ts
  src/pages/Event/BookEventListItem.tsx
  src/pages/Event/BookEvents.tsx
  src/pages/Event/BookEventsList.tsx
  src/pages/Event/mock.ts
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
  src/styles/index.ts
  src/types/onyx/Event.ts
  src/types/onyx/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

fix avatar showing
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
Owners: @Expensify/pullerbear

add explanatory comments
  src/components/MoneyRequestReportView/MoneyRequestReportTotalSpend.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionItem.tsx
Owners: @Expensify/pullerbear

Troubleshoot flags persistance
  src/ONYXKEYS.ts
  src/components/TestToolMenu.tsx
  src/libs/actions/Network.ts
  src/libs/actions/SignInRedirect.ts
Owners: @Expensify/pullerbear

Update translation feedback for Spain
  src/languages/es.ts
Owners: @Expensify/pullerbear

Fix typo and cspeel
  cspell.json
  docs/articles/travel/getting-started/Common-Travel-Terms-and-Abbreviations.md
Owners: @Expensify/pullerbear

rename patch
  patches/react-native/details.md
  patches/react-native/react-native+0.79.2+026+fix-textinput-oncontentsizechange-dispatched-only-once-ios.patch
Owners: @Expensify/pullerbear

Add method getTransactionDetailsAmount
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

filterSelectedOptions: fix description
  src/libs/OptionsListUtils.ts
Owners: @Expensify/pullerbear

Implement NumberedList
  help/_plugins/SitePostRender.rb
  src/components/SidePanel/HelpComponents/HelpNumberedList.tsx
Owners: @Expensify/pullerbear
