Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

fix lint error
  src/libs/Navigation/AppNavigator/AuthScreens.tsx
Owners: @Expensify/pullerbear

fix selected reportIDs for search page
  src/pages/Search/SearchPage.tsx
Owners: @Expensify/pullerbear

Removed Onyx.connect from DistanceRate Actions (part 2)
  src/libs/actions/Policy/DistanceRate.ts
  src/pages/workspace/WorkspaceMoreFeaturesPage.tsx
  tests/unit/DistanceRateTest.ts
Owners: @Expensify/pullerbear

perf: Refactor sortReportsToDisplayInLHN by splitting into smaller parts
  src/libs/SidebarUtils.ts
  tests/unit/SidebarUtilsTest.ts
  tests/utils/collections/sidebarReports.ts
Owners: @Expensify/pullerbear

Display button spinner instead of full page loading when checking report data
  src/pages/TransactionMerge/ConfirmationPage.tsx
  src/pages/TransactionMerge/DetailsReviewPage.tsx
Owners: @Expensify/pullerbear

Connection manager is initialized in async manner
  src/libs/OptimisticReportNamesConnectionManager.ts
Owners: @Expensify/pullerbear

More review fixes
  src/components/Modal/ReanimatedModal/Container/index.tsx
  src/components/Modal/ReanimatedModal/Container/index.web.tsx
  src/styles/index.ts
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/pullerbear, @Expensify/design

Ensure transaction thread report is loaded completely
  src/pages/TransactionMerge/DetailsReviewPage.tsx
Owners: @Expensify/pullerbear

Add noOptimisticTransactionThreads beta and disable thread creation if it's on
  src/CONST/index.ts
  src/libs/API/parameters/CreatePerDiemRequestParams.ts
  src/libs/API/parameters/RequestMoneyParams.ts
  src/libs/ReportUtils.ts
  src/libs/actions/IOU.ts
  src/pages/Share/SubmitDetailsPage.tsx
  src/pages/iou/request/step/IOURequestStepAmount.tsx
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
  tests/actions/IOUTest.ts
Owners: @Expensify/pullerbear

remove connect method
  src/libs/PersonalDetailsUtils.ts
  src/pages/settings/Profile/PersonalDetails/PersonalAddressPage.tsx
Owners: @Expensify/pullerbear

Remove Onyx connect for the sign-in redirect
  src/HybridAppHandler.tsx
  src/libs/Navigation/AppNavigator/AuthScreens.tsx
  src/libs/actions/Session/index.ts
  src/libs/actions/SignInRedirect.ts
  src/pages/ErrorPage/GenericErrorPage.tsx
  src/pages/LogOutPreviousUserPage.tsx
  src/pages/home/report/ContextMenu/BaseReportActionContextMenu.tsx
  src/pages/home/sidebar/SignInButton.tsx
  src/pages/settings/InitialSettingsPage.tsx
  src/pages/signin/UnlinkLoginForm.tsx
Owners: @Expensify/pullerbear

Update signOutAndRedirectToSignIn input parameters structure
  src/libs/Middleware/HandleDeletedAccount.ts
  src/libs/Navigation/AppNavigator/AuthScreens.tsx
  src/libs/actions/Report.ts
  src/libs/actions/Session/index.ts
  src/pages/ErrorPage/GenericErrorPage.tsx
  src/pages/LogOutPreviousUserPage.tsx
  src/pages/home/report/ContextMenu/BaseReportActionContextMenu.tsx
  src/pages/home/sidebar/SignInButton.tsx
  src/pages/settings/InitialSettingsPage.tsx
Owners: @Expensify/pullerbear

update network hook
  src/hooks/useNetwork.ts
  src/pages/settings/InitialSettingsPage.tsx
Owners: @Expensify/pullerbear

Update Using-Search-on-the-Reports-Page.md
  docs/articles/new-expensify/reports-and-expenses/Using-Search-on-the-Reports-Page.md
Owners: @Expensify/pullerbear

uber initial page and button
  assets/images/integrationicons/uber.svg
  assets/images/simple-illustrations/simple-illustration__receipt.svg
  src/CONST/index.ts
  src/ROUTES.ts
  src/SCREENS.ts
  src/components/FocusTrap/WIDE_LAYOUT_INACTIVE_SCREENS.ts
  src/components/Icon/Expensicons.ts
  src/components/Icon/Illustrations.ts
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/API/parameters/OpenPolicyReceiptPartnersPageParams.ts
  src/libs/API/parameters/index.ts
  src/libs/API/types.ts
  src/libs/HttpUtils.ts
  src/libs/Navigation/AppNavigator/Navigators/WorkspaceSplitNavigator.tsx
  src/libs/Navigation/linkingConfig/RELATIONS/WORKSPACE_TO_RHP.ts
  src/libs/Navigation/linkingConfig/config.ts
  src/libs/Navigation/types.ts
  src/libs/actions/Policy/Policy.ts
  src/libs/prepareRequestPayload/index.ts
  src/pages/workspace/receiptPartners/WorkspaceReceiptPartnersPage.tsx
  src/pages/workspace/receiptPartners/types.ts
  src/pages/workspace/receiptPartners/utils.tsx
  src/types/onyx/Policy.ts
  tests/utils/TestNavigationContainer.tsx
Owners: @Expensify/design, @Expensify/pullerbear

fixed counting while fast changing views
  src/libs/actions/Search.ts
Owners: @Expensify/pullerbear

fix canDeleteReportAction to check user is not admin of personal policy
  src/libs/ReportUtils.ts
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

added top margin for search loading state
  src/components/Search/index.tsx
Owners: @Expensify/pullerbear

update to useNetwork hook
  src/HybridAppHandler.tsx
  src/pages/ErrorPage/GenericErrorPage.tsx
  src/pages/LogOutPreviousUserPage.tsx
  src/pages/home/report/ContextMenu/BaseReportActionContextMenu.tsx
  src/pages/home/sidebar/SignInButton.tsx
  src/pages/settings/InitialSettingsPage.tsx
  src/pages/signin/UnlinkLoginForm.tsx
Owners: @Expensify/pullerbear

fix prettier
  src/libs/actions/Session/index.ts
  src/libs/actions/SignInRedirect.ts
  src/pages/LogOutPreviousUserPage.tsx
  src/pages/home/sidebar/SignInButton.tsx
Owners: @Expensify/pullerbear

Expense - New workspace on confirm page shows a fallback avatar when sharing with accountant
  src/components/ReportActionAvatars/index.tsx
  src/components/ReportActionAvatars/useReportActionAvatars.ts
  src/components/SelectionList/UserListItem.tsx
Owners: @Expensify/pullerbear

fixes after main merge
  src/components/Search/index.tsx
Owners: @Expensify/pullerbear

Add files via upload
  docs/assets/images/474921706-4ee7caee-4926-4014-bf58-56cf6bc47f81.png
Owners: @Expensify/design, @Expensify/pullerbear

PR fixes to for testing
  src/libs/Formula.ts
  src/libs/OptimisticReportNames.ts
  tests/perf-test/Formula.perf-test.ts
  tests/perf-test/OptimisticReportNames.perf-test.ts
  tests/unit/FormulaTest.ts
  tests/unit/OptimisticReportNamesTest.ts
Owners: @Expensify/pullerbear

chore: add otel dep
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Refactor AuthScreens to utilize useNetwork hook for network status management
  src/libs/Navigation/AppNavigator/AuthScreens.tsx
Owners: @Expensify/pullerbear

make size of receipt images flexible
  src/components/ReportActionItem/MoneyRequestReceiptView.tsx
  src/components/ReportActionItem/ReportActionItemImage.tsx
  src/pages/home/ReportScreen.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

feat: wrap getOrderedReportIDs in an attributed span
  src/libs/SidebarUtils.ts
  src/libs/Telemetry.ts
Owners: @Expensify/pullerbear

fix eslint
  src/components/Search/index.tsx
  src/libs/actions/Search.ts
Owners: @Expensify/pullerbear

chore: hotfix moduleresolution on the tsconfig
  tsconfig.json
Owners: @Expensify/pullerbear

feat: add basic backend collector setup with prometheus, zipkin and grafana
  collector/docker-compose.yaml
  collector/grafana/provisioning/datasources/dashboards/dashboards.yaml
  collector/grafana/provisioning/datasources/dashboards/json/otel-metric-dashboard.json
  collector/grafana/provisioning/datasources/dashboards/json/zipkin-traces-dashboard.json
  collector/grafana/provisioning/datasources/datasources.yaml
  collector/otel-collector-config.yaml
  collector/prometheus.yaml
  package.json
Owners: @Expensify/pullerbear

chore: bump otel
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

fix: close a string template for sessions
  src/libs/Telemetry.ts
Owners: @Expensify/pullerbear

feat: session tracking based on session.id
  src/libs/Telemetry.ts
Owners: @Expensify/pullerbear

fix: grafana tempo setup
  collector/docker-compose.yaml
  collector/grafana/provisioning/datasources/dashboards/dashboards.yaml
  collector/grafana/provisioning/datasources/dashboards/json/otel-metric-dashboard.json
  collector/grafana/provisioning/datasources/dashboards/json/zipkin-traces-dashboard.json
  collector/grafana/provisioning/datasources/datasources.yaml
  collector/otel-collector-config.yaml
  collector/tempo.yaml
Owners: @Expensify/pullerbear

Update version to 9.1.89-18
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.89-18
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #67993 from software-mansion-labs/korytko/fix-single-expense-no-subscript
  src/components/ReportActionAvatars/useReportActionAvatars.ts
Owners: @Expensify/pullerbear

Update version to 9.1.89-19
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #68006 from Expensify/revert-67479-fix/67142-1
  src/hooks/useShowNotFoundPageInIOUStep.ts
  src/pages/iou/request/step/IOURequestEditReportCommon.tsx
  src/pages/iou/request/step/IOURequestStepAmount.tsx
  src/pages/iou/request/step/IOURequestStepDate.tsx
  src/pages/iou/request/step/IOURequestStepDistance.tsx
  src/pages/iou/request/step/IOURequestStepDistanceRate.tsx
  src/pages/iou/request/step/IOURequestStepMerchant.tsx
  src/pages/iou/request/step/IOURequestStepReport.tsx
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
