Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

fix: apply necessary filter for transaction report
  src/pages/home/report/ReportActionsView.tsx
Owners: @Expensify/pullerbear

chore: remove redundant default value
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

Introduce tests for Optimistic Report Names. Add Logging and Perfrormance tracking
  src/CONST/index.ts
  src/libs/OptimisticReportNames.ts
Owners: @Expensify/pullerbear

Add tests for Optimistic Report Names
  tests/unit/CustomFormulaTest.ts
  tests/unit/OptimisticReportNamesTest.ts
Owners: @Expensify/pullerbear

update code
  src/components/AttachmentComposerModal.tsx
Owners: @Expensify/pullerbear

Introduce reassure tests
  tests/perf-test/CustomFormula.perf-test.ts
  tests/perf-test/OptimisticReportNames.perf-test.ts
Owners: @Expensify/pullerbear

fix: Fix Dropdown to Show only Button and onPress should register to that buttons onOption Selected
  src/components/ButtonWithDropdownMenu/index.tsx
  src/pages/workspace/companyCards/WorkspaceCompanyCardsListHeaderButtons.tsx
  src/pages/workspace/distanceRates/PolicyDistanceRatesPage.tsx
  src/pages/workspace/taxes/WorkspaceTaxesPage.tsx
Owners: @Expensify/pullerbear

fix infinite loading after deleting moved transaction
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

fix not found shown briefly when navigating from preexisting report
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

fix: wip
  src/libs/actions/IOU.ts
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepParticipants.tsx
Owners: @Expensify/pullerbear

readd unintended removed code
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

remove unused code
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

Lift up into utils
  src/libs/MergeTransactionUtils.ts
  src/pages/TransactionMerge/MergeTransactionsListContent.tsx
Owners: @Expensify/pullerbear

Display transaction merge receipts
  src/languages/en.ts
  src/pages/TransactionMerge/ReceiptReview.tsx
  src/pages/TransactionMerge/TransactionMergeReceipts.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix: minor fix
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
Owners: @Expensify/pullerbear

bring back Artems changes, apply bug fixes
  assets/images/integrationicons/export/microsoft-dynamics-icon.svg
  assets/images/integrationicons/export/netsuite-icon.svg
  assets/images/integrationicons/export/netsuite-oracle-icon.svg
  assets/images/integrationicons/export/oracle-icon.svg
  assets/images/integrationicons/export/qbo-icon.svg
  assets/images/integrationicons/export/sage-intacct-icon.svg
  assets/images/integrationicons/export/sap-icon.svg
  assets/images/integrationicons/export/xero-icon.svg
  src/CONST/index.ts
  src/components/Icon/Expensicons.ts
  src/components/MoneyReportHeader.tsx
  src/components/PopoverMenu.tsx
  src/hooks/useSelectedTransactionsActions.ts
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/ReportSecondaryActionUtils.ts
  src/libs/ReportUtils.ts
  src/pages/Search/SearchPage.tsx
  src/pages/Search/SearchSelectedNarrow.tsx
  tests/unit/ReportSecondaryActionUtilsTest.ts
Owners: @Expensify/design, @Expensify/pullerbear

fix: failing ts check
  tests/unit/SidebarUtilsTest.ts
Owners: @Expensify/pullerbear

update modal max height.
  src/pages/settings/Subscription/SubscriptionPlan/ComparePlansModal.tsx
Owners: @Expensify/pullerbear

Eslint fixes
  src/components/TransactionItemRow/index.tsx
Owners: @Expensify/pullerbear

fix: remove zip
  src/CONST/index.ts
Owners: @Expensify/pullerbear

Small code cleanup
  src/components/TransactionItemRow/index.tsx
Owners: @Expensify/pullerbear

fix type issues
  src/libs/actions/Search.ts
Owners: @Expensify/pullerbear

fix: minor fix
  src/pages/iou/request/step/IOURequestStepParticipants.tsx
Owners: @Expensify/pullerbear

set maxResults as undefined for back compability
  src/libs/OptionsListUtils.ts
Owners: @Expensify/pullerbear

remove unnecessary getEmptyObject calls
  src/components/Search/SearchPageHeader/SearchPageHeaderInput.tsx
  src/components/Search/SearchRouter/SearchRouter.tsx
Owners: @Expensify/pullerbear

Improvements on findUnusedStyles
  .github/scripts/findUnusedStyles.ts
Owners: @Expensify/pullerbear

fix tests
  tests/unit/useReportAvatarDetailsTest.ts
Owners: @Expensify/pullerbear

fix: negative amount flow reset
  src/pages/iou/MoneyRequestAmountForm.tsx
Owners: @Expensify/pullerbear

disable no-continue rule
  .eslintrc.js
  src/libs/FastSearch.ts
  src/libs/OptionsListUtils.ts
  src/libs/PaginationUtils.ts
  src/libs/ReportActionsUtils.ts
  src/libs/SearchUIUtils.ts
  src/libs/StringUtils/dedent.ts
  src/libs/SuffixUkkonenTree/index.ts
  src/libs/SuffixUkkonenTree/utils.ts
  src/libs/actions/OnyxDerived/configs/reportTransactionsAndViolations.ts
  src/libs/actions/OnyxUpdateManager/utils/index.ts
  src/libs/actions/Policy/PerDiem.ts
  src/pages/settings/Wallet/InternationalDepositAccount/utils.ts
  tests/e2e/testRunner.ts
Owners: @Expensify/pullerbear

fix: fix for self dm
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepParticipants.tsx
Owners: @Expensify/pullerbear

fix lint changed job
  src/libs/actions/OnyxUpdateManager/index.ts
Owners: @Expensify/pullerbear

fix lint changed on OnyxUpdateManager utils
  src/libs/actions/OnyxUpdateManager/utils/index.ts
Owners: @Expensify/pullerbear

fix: fix manual flow
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepParticipants.tsx
Owners: @Expensify/pullerbear

does it right I think
  src/libs/ReportUtils.ts
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

fix: update amount comparison logic to include better opposite conversion handling
  src/pages/iou/request/step/IOURequestStepAmount.tsx
Owners: @Expensify/pullerbear

runs prettier on the changed files
  src/libs/ReportUtils.ts
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

adds tests
  tests/unit/PolicyUtilsTest.ts
Owners: @Expensify/pullerbear

fixes the issue
  src/libs/PolicyUtils.ts
  src/pages/workspace/WorkspacesListPage.tsx
Owners: @Expensify/pullerbear

add 'shouldCalculateTotals'
  src/libs/actions/Search.ts
Owners: @Expensify/pullerbear

Revert "Merge pull request #65421 from software-mansion-labs/@szymczak/performance-improvements"
  src/ONYXKEYS.ts
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionList.tsx
  src/components/Navigation/SearchSidebar.tsx
  src/components/Search/SearchContext.tsx
  src/components/Search/SearchList.tsx
  src/components/Search/SearchPageHeader/SearchFiltersBar.tsx
  src/components/Search/SearchPageHeader/SearchPageHeader.tsx
  src/components/Search/index.tsx
  src/components/SelectionList/Search/TransactionListItem.tsx
  src/components/SelectionListWithModal/index.tsx
  src/hooks/useMobileSelectionMode.ts
  src/hooks/useSearchBackPress/index.android.ts
  src/libs/SearchUIUtils.ts
  src/libs/actions/MobileSelectionMode.ts
  src/pages/ReportParticipantsPage.tsx
  src/pages/RoomMembersPage.tsx
  src/pages/Search/SearchPage.tsx
  src/pages/Search/SearchPageNarrow.tsx
  src/pages/workspace/WorkspaceMembersPage.tsx
  src/pages/workspace/categories/WorkspaceCategoriesPage.tsx
  src/pages/workspace/distanceRates/PolicyDistanceRatesPage.tsx
  src/pages/workspace/perDiem/WorkspacePerDiemPage.tsx
  src/pages/workspace/reportFields/ReportFieldsListValuesPage.tsx
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
  src/pages/workspace/tags/WorkspaceViewTagsPage.tsx
  src/pages/workspace/taxes/WorkspaceTaxesPage.tsx
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
