Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

Fix eslint check
  src/components/ProductTrainingContext/TOOLTIPS.ts
Owners: @Expensify/pullerbear

prettier
  src/components/Search/index.tsx
Owners: @Expensify/pullerbear

fix checks
  src/components/SidePanel/HelpContent/helpContentMap.tsx
Owners: @Expensify/pullerbear

Update Add-a-payment-card-and-view-your-subscription.md
  docs/articles/new-expensify/billing-and-subscriptions/Add-a-payment-card-and-view-your-subscription.md
Owners: @Expensify/pullerbear

delete redundant disable compiler case
  src/components/Search/index.tsx
Owners: @Expensify/pullerbear

Fix eslint check
  src/components/ProductTrainingContext/TOOLTIPS.ts
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

replace \\n => \n
  src/languages/de.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
Owners: @Expensify/pullerbear

More review fixes
  src/components/DatePicker/CalendarPicker/index.tsx
  src/components/Modal/BaseModal.tsx
  src/components/Modal/ReanimatedModal/index.tsx
  src/components/Modal/ReanimatedModal/utils.ts
  src/components/SidePanel/HelpComponents/HelpOverlay.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/pullerbear, @Expensify/design

updated for clearer explanation
  src/components/VideoPlayerPreview/index.tsx
  src/hooks/useCheckIfRouteHasRemainedUnchanged.ts
Owners: @Expensify/pullerbear

fix: apply requested changes
  src/hooks/useFilesValidation.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
Owners: @Expensify/pullerbear

Delete help/ref/settings/workspaces/:policyId/index.md
  help/ref/settings/workspaces/:policyId/index.md
Owners: @Expensify/pullerbear

Delete help/ref/settings/workspaces/index.md
  help/ref/settings/workspaces/index.md
Owners: @Expensify/pullerbear

fix failing linter
  src/components/Navigation/SearchSidebar.tsx
  src/hooks/useMobileSelectionMode.ts
  src/hooks/useSearchBackPress/index.android.ts
  src/pages/ReportParticipantsPage.tsx
  src/pages/workspace/categories/WorkspaceCategoriesPage.tsx
  src/pages/workspace/distanceRates/PolicyDistanceRatesPage.tsx
  src/pages/workspace/reportFields/ReportFieldsListValuesPage.tsx
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
  src/pages/workspace/tags/WorkspaceViewTagsPage.tsx
  src/pages/workspace/taxes/WorkspaceTaxesPage.tsx
Owners: @Expensify/pullerbear

Update index.md
  help/ref/settings/workspaces/accounting/index.md
Owners: @Expensify/pullerbear

Update index.md
  help/ref/settings/workspaces/members/index.md
Owners: @Expensify/pullerbear

Delete help/ref/settings/workspaces/:policyID/index.md
  help/ref/settings/workspaces/:policyID/index.md
Owners: @Expensify/pullerbear

Delete help/ref/settings/workspaces/:policyID/members/index.md
  help/ref/settings/workspaces/:policyID/members/index.md
Owners: @Expensify/pullerbear

Delete help/ref/settings/workspaces/:policyID/accounting/index.md
  help/ref/settings/workspaces/:policyID/accounting/index.md
Owners: @Expensify/pullerbear

add new asset treasure-chest
  assets/images/treasure-chest.svg
Owners: @Expensify/design, @Expensify/pullerbear

revert to the file on main
  ios/Podfile.lock
Owners: @Expensify/pullerbear

add new menu item what's new in initialSettingsPage
  src/pages/settings/InitialSettingsPage.tsx
Owners: @Expensify/pullerbear

indent
  android/app/src/main/java/com/expensify/chat/MainApplication.kt
Owners: @Expensify/pullerbear

Add 'What's New' translation in all locales
  src/CONST/index.ts
  src/components/Icon/Expensicons.ts
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

fix: accept single file when adding a receipt to a manual request
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
Owners: @Expensify/pullerbear

fix prettier
  src/components/Icon/Expensicons.ts
  src/languages/de.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

fix: Text input has transparent backround on sign in screen.
  src/components/EmojiPicker/EmojiPickerMenu/index.native.tsx
  src/pages/signin/LoginForm/BaseLoginForm.tsx
Owners: @Expensify/pullerbear

fix: adjust font sizes for pay action in search
  src/components/ButtonWithDropdownMenu/index.tsx
  src/components/ButtonWithDropdownMenu/types.ts
  src/components/SettlementButton/index.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

Create index.md
  help/ref/settings/workspaces/policyID/overview/index.md
Owners: @Expensify/pullerbear

fix spellcheck
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/pages/settings/InitialSettingsPage.tsx
Owners: @Expensify/pullerbear

add HYBRID_APP to ONYXKEYS
  src/ONYXKEYS.ts
  src/components/BookTravelButton.tsx
  src/components/CustomStatusBarAndBackground/index.tsx
  src/components/ScreenWrapper/index.tsx
  src/hooks/useOnboardingFlow.ts
  src/libs/Notification/PushNotification/subscribeToPushNotifications.ts
  src/libs/actions/HybridApp/index.ts
  src/libs/actions/Session/index.ts
  src/pages/ErrorPage/SessionExpiredPage.tsx
  src/pages/OnboardingAccounting/BaseOnboardingAccounting.tsx
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
  src/pages/settings/InitialSettingsPage.tsx
  src/pages/settings/Security/MergeAccounts/MergeResultPage.tsx
  src/types/onyx/HybridApp.ts
  src/types/onyx/index.ts
Owners: @Expensify/pullerbear

Create index.md
  help/ref/settings/workspaces/:policyID/overview/index.md
Owners: @Expensify/pullerbear

Create index.md
  help/ref/settings/workspaces/:policyID/reports/index.md
Owners: @Expensify/pullerbear

Create index.md
  help/ref/settings/workspaces/:policyID/categories/index.md
Owners: @Expensify/pullerbear

Create index.md
  help/ref/settings/workspaces/:policyID/tags/index.md
Owners: @Expensify/pullerbear

Create index.md
  help/ref/settings/workspaces/:policyID/taxes/index.md
Owners: @Expensify/pullerbear

Create index.md
  help/ref/settings/workspaces/:policyID/workflows/index.md
Owners: @Expensify/pullerbear

Create index.md
  help/ref/settings/workspaces/:policyID/rules/index.md
Owners: @Expensify/pullerbear

Create index.md
  help/ref/settings/workspaces/:policyID/distance-rates/index.md
Owners: @Expensify/pullerbear

Create index.md
  help/ref/settings/workspaces/:policyID/invoices/index.md
Owners: @Expensify/pullerbear

Create index.md
  help/ref/settings/workspaces/:policyID/per-diem/index.md
Owners: @Expensify/pullerbear
