Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

Update Track-Personal-Expenses.md
  docs/articles/new-expensify/getting-started/Track-Personal-Expenses.md
Owners: @Expensify/pullerbear

[ImgBot] Optimize images
  assets/images/arrow-collapse.svg
  assets/images/arrow-split.svg
  assets/images/chatbubble-counter.svg
  assets/images/check-square.svg
  assets/images/companyCards/card-plaid.svg
  assets/images/companyCards/large/card-plaid-large.svg
  assets/images/document-merge.svg
  assets/images/educational-illustration__multi-scan.svg
  assets/images/empty-square.svg
  assets/images/emptystate__spy-pigeon.svg
  assets/images/integrationicons/circle-slash.svg
  assets/images/integrationicons/microsoft-dynamics-icon-square.svg
  assets/images/integrationicons/oracle-icon-square.svg
  assets/images/integrationicons/sap-icon-square.svg
  assets/images/menu.svg
  assets/images/minus.svg
  assets/images/multi-tag.svg
  assets/images/plus-minus.svg
  assets/images/product-illustrations/illustration__card-replacement-success.svg
  assets/images/product-illustrations/receipts-stacked-on-pin.svg
  assets/images/receipt-multiple.svg
  assets/images/running-turtle.svg
  assets/images/simple-illustrations/simple-illustration__headset.svg
  assets/images/simple-illustrations/simple-illustration__messageinabottle.svg
  assets/images/simple-illustrations/simple-illustration__replace-receipt.svg
  assets/images/simple-illustrations/simple-illustration__smartscan.svg
  assets/images/test-drive.svg
  assets/images/user-lock.svg
  docs/assets/images/fullscreen.svg
  docs/assets/images/pause.svg
  docs/assets/images/play-button.svg
  docs/assets/images/play.svg
Owners: @Expensify/design, @Expensify/pullerbear

fix prefix alignment.
  src/components/AmountForm.tsx
  src/components/MoneyRequestAmountInput.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

Update Create-a-company-workspace.md
  docs/articles/new-expensify/getting-started/Create-a-company-workspace.md
Owners: @Expensify/pullerbear

minor update.
  src/components/MoneyRequestAmountInput.tsx
Owners: @Expensify/pullerbear

Update New Expensify > Create Expense redirect
  docs/redirects.csv
Owners: @Expensify/pullerbear

fix ESLint.
  src/components/TextInput/BaseTextInput/implementation/index.tsx
Owners: @Expensify/pullerbear

Revert "Use tripdata payload to get reservations setup"
  cspell.json
  src/ROUTES.ts
  src/components/ReportActionItem/MoneyRequestView.tsx
  src/components/ReportActionItem/TripDetailsView.tsx
  src/components/ReportActionItem/TripRoomPreview.tsx
  src/libs/DebugUtils.ts
  src/libs/Navigation/types.ts
  src/libs/TripReservationUtils.ts
  src/pages/Travel/CarTripDetails.tsx
  src/pages/Travel/TripDetailsPage.tsx
  src/pages/Travel/TripSummaryPage.tsx
  src/pages/home/report/TripSummary.tsx
  src/types/onyx/Report.ts
  src/types/onyx/TripData.ts
  tests/ui/ReservationAddressTest.tsx
Owners: @Expensify/pullerbear

conditionally show the report level export depending on whether or not all expenses are selected
  src/components/MoneyReportHeader.tsx
  src/hooks/useSelectedTransactionsActions.ts
Owners: @Expensify/pullerbear

fix: Reports - Columns are misaligned.
  src/components/SelectionList/Search/ReportListItem.tsx
Owners: @Expensify/pullerbear

Update TSCompilerUtils.traverseASTsInParallel implementation
  scripts/utils/TSCompilerUtils.ts
  tests/unit/TSCompilerUtilsTest.ts
Owners: @Expensify/pullerbear

style/lint/naming
  src/components/MoneyReportHeader.tsx
  src/hooks/useSelectedTransactionsActions.ts
Owners: @Expensify/pullerbear

add nav options for tracking distance
  src/pages/home/report/ReportActionCompose/AttachmentPickerWithMenuItems.tsx
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
  src/pages/iou/request/IOURequestStartPage.tsx
Owners: @Expensify/pullerbear

Make pay always visible
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

lint
  src/components/Search/SearchPageHeader/SearchFiltersBar.tsx
Owners: @Expensify/pullerbear

add conditional chaining
  src/pages/OnboardingWorkEmailValidation/BaseOnboardingWorkEmailValidation.tsx
Owners: @Expensify/pullerbear

tests and translations
  src/languages/de.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/API/types.ts
  tests/unit/ReportSecondaryActionUtilsTest.ts
Owners: @Expensify/pullerbear

refactoring
  src/components/AnchorForAttachmentsOnly/BaseAnchorForAttachmentsOnly.tsx
  src/components/HTMLEngineProvider/HTMLRenderers/ImageRenderer.tsx
  src/components/HTMLEngineProvider/HTMLRenderers/MentionUserRenderer.tsx
  src/components/HTMLEngineProvider/HTMLRenderers/PreRenderer.tsx
  src/components/ReportWelcomeText.tsx
  src/components/VideoPlayerPreview/VideoPlayerThumbnail.tsx
  src/libs/OptionsListUtils.ts
  src/libs/ReportUtils.ts
  src/libs/SidebarUtils.ts
  src/pages/ReportDetailsPage.tsx
  src/pages/ReportParticipantsPage.tsx
  src/pages/home/report/ContextMenu/BaseReportActionContextMenu.tsx
  src/pages/home/report/PureReportActionItem.tsx
  src/pages/home/report/ReportActionsList.tsx
  src/pages/home/report/ReportFooter.tsx
  src/pages/settings/Report/NotificationPreferencePage.tsx
  src/pages/settings/Report/ReportSettingsPage.tsx
  src/pages/settings/Report/VisibilityPage.tsx
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

spanish translation for groupBy
  src/languages/es.ts
Owners: @Expensify/pullerbear

prettier
  src/libs/actions/IOU.ts
  src/pages/Search/SearchHoldReasonPage.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.70-6
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #64769 from Expensify/revert-63853-parasharrajat/travel-update
  cspell.json
  src/ROUTES.ts
  src/components/ReportActionItem/MoneyRequestView.tsx
  src/components/ReportActionItem/TripDetailsView.tsx
  src/components/ReportActionItem/TripRoomPreview.tsx
  src/libs/DebugUtils.ts
  src/libs/Navigation/types.ts
  src/libs/TripReservationUtils.ts
  src/pages/Travel/CarTripDetails.tsx
  src/pages/Travel/TripDetailsPage.tsx
  src/pages/Travel/TripSummaryPage.tsx
  src/pages/home/report/TripSummary.tsx
  src/types/onyx/Report.ts
  src/types/onyx/TripData.ts
  tests/ui/ReservationAddressTest.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.70-6
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

typecheck
  src/libs/API/parameters/BulkHoldRequestParams.ts
Owners: @Expensify/pullerbear

prettier
  src/libs/API/parameters/BulkHoldRequestParams.ts
Owners: @Expensify/pullerbear

update export options for moneyrequestreportactionslist
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  tests/unit/ReportSecondaryActionUtilsTest.ts
Owners: @Expensify/pullerbear

chore: move date locale store to lib
  src/libs/DateLocaleStore.ts
  src/libs/actions/App.ts
  src/libs/actions/Locale.ts
  tests/unit/DateUtilsTest.ts
Owners: @Expensify/pullerbear

TSCompilerUtils.traverseASTsInParallel: third time's the charm
  scripts/utils/TSCompilerUtils.ts
  tests/unit/TSCompilerUtilsTest.ts
Owners: @Expensify/pullerbear

Save untested draft of incremental translations
  scripts/generateTranslations.ts
Owners: @Expensify/pullerbear

chore: update import log
  src/libs/DateLocaleStore.ts
Owners: @Expensify/pullerbear

Fix: Scan-After selecting a corrupt file, the camera is deactivated
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
Owners: @Expensify/pullerbear

add unit test
  tests/ui/ComposerTest.tsx
Owners: @Expensify/pullerbear

unarchive expense report when moving to a different workspace
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

Split is not shown when unreported split expense is submitted to workspace
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
Owners: @Expensify/pullerbear

Workspace avatar briefly displayed with every new report added to chat
  src/libs/actions/Report.ts
  tests/actions/ReportTest.ts
Owners: @Expensify/pullerbear

fix spelling
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

fix: handlle change report in creation flow
  src/components/MoneyRequestConfirmationListFooter.tsx
  src/libs/ReportUtils.ts
  src/libs/actions/Transaction.ts
  src/pages/iou/request/step/IOURequestEditReportCommon.tsx
  src/pages/iou/request/step/IOURequestStepReport.tsx
Owners: @Expensify/pullerbear

add unit test
  tests/actions/ReportTest.ts
Owners: @Expensify/pullerbear

refactor code
  src/components/ReportActionItem/TaskPreview.tsx
Owners: @Expensify/pullerbear

refactor code
  src/types/onyx/OriginalMessage.ts
Owners: @Expensify/pullerbear
