Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

prettier
  src/pages/workspace/WorkspacesListPage.tsx
  tests/unit/PolicyUtilsTest.ts
Owners: @Expensify/pullerbear

fix: minor fix
  src/libs/Permissions.ts
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
Owners: @Expensify/pullerbear

Removed unused styles
  .github/scripts/findUnusedStyles.ts
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

revert chatreport onyx
  src/components/ReportActionItem/MoneyRequestView.tsx
Owners: @Expensify/pullerbear

re-adds tests
  tests/unit/PolicyUtilsTest.ts
Owners: @Expensify/pullerbear

clean slate
  tests/unit/PolicyUtilsTest.ts
Owners: @Expensify/pullerbear

fix: remove unnecessary code
  src/libs/Permissions.ts
Owners: @Expensify/pullerbear

fix: revert removing zip
  src/CONST/index.ts
Owners: @Expensify/pullerbear

small fix
  src/components/Search/SearchAutocompleteList.tsx
  src/components/Search/SearchPageHeader/SearchPageHeaderInput.tsx
  src/components/Search/SearchRouter/SearchRouter.tsx
Owners: @Expensify/pullerbear

fix: add missing link
  src/CONST/index.ts
Owners: @Expensify/pullerbear

fix: prettier
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
Owners: @Expensify/pullerbear

updated script for gh
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

fix: check spell
  src/pages/iou/request/step/IOURequestStepParticipants.tsx
Owners: @Expensify/pullerbear

add file check
  .github/scripts/findUnusedStyles.ts
Owners: @Expensify/pullerbear

Text input field - Unable to paste text with CMD + v
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

update var to query
  src/libs/actions/Search.ts
Owners: @Expensify/pullerbear

added new .ts file in lint
  .github/workflows/lint.yml
Owners: @Expensify/pullerbear

deleted unused import
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

Sync drafts between devices
  src/ONYXKEYS.ts
  src/libs/API/types.ts
  src/libs/actions/Report.ts
  src/pages/home/report/ReportActionCompose/ComposerWithSuggestions/ComposerWithSuggestions.tsx
  src/types/onyx/DraftReportComments.ts
  src/types/onyx/index.ts
Owners: @Expensify/pullerbear

Migrate drafts from collection key to NVP key; also use for LHN
  src/components/LHNOptionsList/LHNOptionsList.tsx
  src/hooks/useSidebarOrderedReports.tsx
  src/libs/DraftCommentUtils.ts
  src/libs/ReportUtils.ts
  src/libs/SidebarUtils.ts
  src/libs/actions/Report.ts
  src/libs/migrateOnyx.ts
  src/libs/migrations/MoveDraftsToNVP.ts
  src/pages/home/report/ReportActionCompose/ComposerWithSuggestions/ComposerWithSuggestions.tsx
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
  src/pages/home/report/ReportActionCompose/SilentCommentUpdater/index.android.tsx
  src/pages/home/report/ReportActionCompose/SilentCommentUpdater/index.tsx
  src/pages/home/report/ReportActionCompose/SilentCommentUpdater/types.ts
  src/types/onyx/DraftReportComments.ts
Owners: @Expensify/pullerbear

Fix draft optimistic update clobbering other drafts
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

Clean up NVP drafts in local policy deletion cascades
  src/libs/actions/IOU.ts
  src/libs/actions/Policy/Category.ts
  src/libs/actions/Policy/DistanceRate.ts
  src/libs/actions/Policy/Member.ts
  src/libs/actions/Policy/PerDiem.ts
  src/libs/actions/Policy/Policy.ts
  src/libs/actions/Policy/ReportField.ts
  src/libs/actions/Policy/Tag.ts
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

adding unused style
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

removed unused style
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

Use demo route in onboarding task for invited employees
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

Revert "fix selfDM assigning"
  src/libs/actions/IOU.ts
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepParticipants.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
Owners: @Expensify/pullerbear

fix cspell
  src/components/FormHelpMessage.tsx
  src/pages/iou/SplitExpensePage.tsx
Owners: @Expensify/pullerbear

update svg
  assets/images/simple-illustrations/simple-illustration__rules.svg
  src/pages/OnboardingInterestedFeatures/BaseOnboardingInterestedFeatures.tsx
Owners: @Expensify/design, @Expensify/pullerbear

fix: lint
  src/pages/Search/SearchAdvancedFiltersPage/SearchFiltersGroupByPage.tsx
  src/pages/Search/SearchAdvancedFiltersPage/SearchFiltersTypePage.tsx
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepParticipants.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/workspace/accounting/PolicyAccountingPage.tsx
Owners: @Expensify/pullerbear

fix: typecheck and prettier
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
Owners: @Expensify/pullerbear

Refactor to remove Navattic code
  src/CONST/index.ts
  src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.tsx
  src/libs/ReportUtils.ts
  src/libs/TourUtils.ts
  src/libs/actions/Welcome/OnboardingFlow.ts
  src/pages/ConciergePage.tsx
  src/types/onyx/Onboarding.ts
  tests/unit/TourUtilsTest.ts
Owners: @Expensify/pullerbear

update icon size
  src/pages/OnboardingInterestedFeatures/BaseOnboardingInterestedFeatures.tsx
  src/pages/OnboardingInterestedFeatures/types.ts
Owners: @Expensify/pullerbear

align my changes with duplicate fix
  .github/actions/javascript/checkDeployBlockers/checkDeployBlockers.ts
  .github/actions/javascript/checkDeployBlockers/index.js
Owners: @Expensify/pullerbear

show highlighting only when we have dependent tags
  src/components/ReportActionItem/MoneyRequestView.tsx
Owners: @Expensify/pullerbear

Fix lint and style and types
  src/hooks/useSidebarOrderedReports.tsx
  src/libs/API/parameters/SaveReportDraftCommentParams.ts
  src/libs/API/parameters/index.ts
  src/libs/API/types.ts
  src/libs/DraftCommentUtils.ts
  src/libs/ReportUtils.ts
  src/libs/SidebarUtils.ts
  src/libs/migrateOnyx.ts
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
  src/types/onyx/DraftReportComments.ts
  src/types/onyx/index.ts
  tests/unit/DebugUtilsTest.ts
Owners: @Expensify/pullerbear

updated phoneError alert text
  src/components/HTMLEngineProvider/BaseHTMLEngineProvider.tsx
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

Update version to 9.1.80-0
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

fix: prettier
  src/pages/iou/MoneyRequestAmountForm.tsx
  src/pages/iou/request/step/IOURequestStepAmount.tsx
Owners: @Expensify/pullerbear

chore: write ui test for ButtonWithDropdownMenu Button
  tests/ui/components/ButtonWithDropdownMenuTest.tsx
Owners: @Expensify/pullerbear

added inline textDecorationLine
  src/components/HTMLEngineProvider/BaseHTMLEngineProvider.tsx
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
