Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

fix: remove console.logs
  src/hooks/useFilesValidation.tsx
Owners: @Expensify/pullerbear

Import easing from utils
  src/components/Modal/ReanimatedModal/Backdrop/index.web.tsx
  src/components/Modal/ReanimatedModal/Container/index.web.tsx
  src/components/Modal/ReanimatedModal/utils.ts
Owners: @Expensify/pullerbear

fix search router swipe close
  src/components/Search/SearchRouter/SearchRouter.tsx
Owners: @Expensify/pullerbear

fix eslint
  src/hooks/useSearchTypeMenuSections.ts
Owners: @Expensify/pullerbear

Fix iOS horizontal padding issue in Lightbox component
  src/components/Lightbox/index.tsx
Owners: @Expensify/pullerbear

fix type errors
  tests/unit/Search/SearchUIUtilsTest.ts
Owners: @Expensify/pullerbear

Add cache cleanup on component unmount to prevent memory leaks
  src/components/Lightbox/index.tsx
Owners: @Expensify/pullerbear

Fix closing the current flow when clicking on backdrop in StatePicker
  src/components/StatePicker/index.tsx
Owners: @Expensify/pullerbear

Update gradient for ReceiptHover component
  src/components/TransactionItemRow/ReceiptHoverAudit/index.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

better condition
  src/components/Search/FilterDropdowns/DateSelectPopup.tsx
Owners: @Expensify/pullerbear

use runOnJS=true
  src/components/Search/SearchRouter/SearchRouter.tsx
Owners: @Expensify/pullerbear

Update styling for ReceiptHover component
  src/components/TransactionItemRow/ReceiptHoverAudit/index.tsx
Owners: @Expensify/pullerbear

show hidden participants for invoice reports
  android/.kotlin/sessions/kotlin-compiler-10260230485239059209.salive
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

minor fix
  android/.kotlin/sessions/kotlin-compiler-10260230485239059209.salive
  android/.kotlin/sessions/kotlin-compiler-14250602032631065249.salive
Owners: @Expensify/pullerbear

deleted unnecessary file
  android/.kotlin/sessions/kotlin-compiler-14250602032631065249.salive
Owners: @Expensify/pullerbear

update docs
  contributingGuides/NAVIGATION.md
Owners: @Expensify/pullerbear

fix PR comments
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/index.tsx
Owners: @Expensify/pullerbear

Add stable default values references
  src/components/ArchivedReportFooter.tsx
  src/components/KYCWall/BaseKYCWall.tsx
  src/components/MoneyReportHeader.tsx
  src/components/Reactions/MiniQuickEmojiReactions.tsx
  src/components/Reactions/QuickEmojiReactions/BaseQuickEmojiReactions.tsx
  src/components/Search/SearchAutocompleteList.tsx
  src/components/Search/SearchPageHeader/SearchFiltersBar.tsx
  src/components/SelectionList/Search/TransactionGroupListItem.tsx
  src/components/ValidateCodeActionModal/ValidateCodeForm/BaseValidateCodeForm.tsx
  src/hooks/usePaymentOptions.ts
  src/hooks/useSearchTypeMenu.tsx
  src/hooks/useTransactionViolations.ts
  src/hooks/useTripTransactions.ts
  src/pages/AddUnreportedExpense.tsx
  src/pages/OnboardingPurpose/BaseOnboardingPurpose.tsx
  src/pages/Search/AdvancedSearchFilters.tsx
  src/pages/Search/SearchAdvancedFiltersPage/SearchFiltersTagPage.tsx
  src/pages/Search/SearchMoneyRequestReportPage.tsx
  src/pages/Search/SearchPage.tsx
  src/pages/home/ReportScreen.tsx
  src/pages/iou/request/step/IOURequestStepScan/ReceiptViewModal/index.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/settings/Preferences/PreferencesPage.tsx
  src/pages/settings/Wallet/ActivatePhysicalCardPage.tsx
  src/pages/settings/Wallet/PaymentMethodList.tsx
  src/pages/settings/Wallet/WalletPage/WalletPage.tsx
  src/pages/signin/SignInPage.tsx
  src/pages/workspace/WorkspaceOverviewPage.tsx
  src/pages/workspace/companyCards/WorkspaceCompanyCardsListHeaderButtons.tsx
  src/pages/workspace/companyCards/WorkspaceCompanyCardsPage.tsx
  src/pages/workspace/companyCards/addNew/SelectCountryStep.tsx
  src/pages/workspace/companyCards/assignCard/ConfirmationStep.tsx
  src/types/utils/EmptyObject.ts
  src/types/utils/getEmptyArray.ts
Owners: @Expensify/pullerbear

fix tests
  src/components/ReportActionItem/MoneyRequestReportPreview/index.tsx
  tests/ui/MoneyRequestReportPreview.test.tsx
Owners: @Expensify/pullerbear

Minor improvement
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionsNavigation.tsx
Owners: @Expensify/pullerbear

fix PR comments
  src/components/Modal/ReanimatedModal/Container/GestureHandler.tsx
  src/components/Search/SearchRouter/SearchRouter.tsx
Owners: @Expensify/pullerbear

fix lint
  src/components/Search/SearchRouter/SearchRouter.tsx
Owners: @Expensify/pullerbear

remove typo
  src/components/Search/SearchRouter/SearchRouter.tsx
Owners: @Expensify/pullerbear

fix: LHN preview incorrectly
  src/libs/OptionsListUtils.ts
  src/libs/SidebarUtils.ts
Owners: @Expensify/pullerbear

fix: add missing allReportAction to dependency array
  src/pages/home/report/ReportActionsView.tsx
Owners: @Expensify/pullerbear

fix: add loader
  src/pages/home/report/ReportActionCompose/AttachmentPickerWithMenuItems.tsx
Owners: @Expensify/pullerbear

update help overlay to use modal utils
  src/components/SidePanel/HelpComponents/HelpOverlay.tsx
Owners: @Expensify/pullerbear

add use Memo
  src/components/SidePanel/HelpComponents/HelpOverlay.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.77-2
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #65630 from linhvovan29546/fix/65553-not-here-page-when-back-to-perdiem
  src/ROUTES.ts
  src/libs/Navigation/linkingConfig/config.ts
Owners: @Expensify/pullerbear

Update version to 9.1.77-2
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Remove unnecessary default value
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestHeader.tsx
Owners: @Expensify/pullerbear

hide takeATestDrive button when there is ws
  src/pages/Search/EmptySearchView.tsx
Owners: @Expensify/pullerbear

Enable Fullstory for all variants
  android/app/build.gradle
Owners: @Expensify/pullerbear

freeze screen when blurred
  src/components/Search/index.tsx
  src/pages/Search/SearchPage.tsx
Owners: @Expensify/pullerbear

Testing X10 font
  assets/fonts/native/ExpensifyNeue-Bold.otf
  assets/fonts/native/ExpensifyNeue-Regular.otf
  assets/fonts/web/ExpensifyNeue-Bold.woff
  assets/fonts/web/ExpensifyNeue-Bold.woff2
  assets/fonts/web/ExpensifyNeue-Regular.woff
  assets/fonts/web/ExpensifyNeue-Regular.woff2
  src/components/Navigation/TopBar.tsx
Owners: @Expensify/design, @Expensify/pullerbear

Fetch transaction for merge and display skeleton view while fetching
  src/components/Skeletons/MergeExpensesSkeleton.tsx
  src/libs/API/parameters/GetTransactionsForMergingParams.ts
  src/libs/API/parameters/index.ts
  src/libs/API/types.ts
  src/libs/actions/Transaction.ts
  src/pages/TransactionMerge/MergeTransactionsList.tsx
Owners: @Expensify/pullerbear

fix: title of the dropzone
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
Owners: @Expensify/pullerbear

fix: do not show dual dropzone on distance requests
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
Owners: @Expensify/pullerbear

Display no eligible expenses view
  src/pages/TransactionMerge/MergeTransactionsList.tsx
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
