Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

report filtering for policyID
  src/libs/OptimisticReportNames.ts
Owners: @Expensify/pullerbear

revert
  src/components/Search/index.tsx
Owners: @Expensify/pullerbear

Fix: Missing Split indicator next to Amount when card expense is split
  src/components/ReportActionItem/MoneyRequestView.tsx
Owners: @Expensify/pullerbear

fix lint error
  src/components/MoneyReportHeader.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/hooks/useInvoiceChatByParticipants.ts
  src/libs/ReportUtils.ts
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

filter out unsupported date and amount filter
  src/libs/SearchQueryUtils.ts
Owners: @Expensify/pullerbear

Small fix of mismatching types
  src/components/Button/index.tsx
Owners: @Expensify/pullerbear

fix lint
  src/types/onyx/ImportedSpreadsheetMemberData.ts
Owners: @Expensify/pullerbear

create new method to check the pending delete member
  src/libs/PolicyUtils.ts
  src/pages/workspace/members/ImportedMembersConfirmationPage.tsx
  src/pages/workspace/members/ImportedMembersPage.tsx
Owners: @Expensify/pullerbear

clear imported data when unmounting
  src/pages/workspace/members/ImportedMembersConfirmationPage.tsx
Owners: @Expensify/pullerbear

run prettier
  src/libs/PolicyUtils.ts
  src/pages/workspace/members/ImportedMembersPage.tsx
Owners: @Expensify/pullerbear

Removed Onyx.connect from PolicyUtils (part 1)
  package.json
  src/libs/Navigation/AppNavigator/createSplitNavigator/SplitRouter.ts
  src/libs/PolicyUtils.ts
Owners: @Expensify/pullerbear

Improve readability by refactoring SignInPageBase
  src/pages/signin/SignInPage.tsx
Owners: @Expensify/pullerbear

fix: adjust bottom scroll calculation
  src/pages/home/report/ReportActionsList.tsx
Owners: @Expensify/pullerbear

feat: added separate form for signer info via invite
  src/CONST/index.ts
  src/ONYXKEYS.ts
  src/ROUTES.ts
  src/SCREENS.ts
  src/hooks/useEnterSignerInfoStepFormSubmit.ts
  src/languages/en.ts
  src/libs/Navigation/AppNavigator/ModalStackNavigators/index.tsx
  src/libs/Navigation/linkingConfig/config.ts
  src/libs/Navigation/types.ts
  src/libs/Permissions.ts
  src/pages/ReimbursementAccount/EnterSignerInfo/index.tsx
  src/pages/ReimbursementAccount/EnterSignerInfo/subSteps/Address.tsx
  src/pages/ReimbursementAccount/EnterSignerInfo/subSteps/Confirmation.tsx
  src/pages/ReimbursementAccount/EnterSignerInfo/subSteps/DateOfBirth.tsx
  src/pages/ReimbursementAccount/EnterSignerInfo/subSteps/JobTitle.tsx
  src/pages/ReimbursementAccount/EnterSignerInfo/subSteps/Name.tsx
  src/pages/ReimbursementAccount/EnterSignerInfo/subSteps/UploadDocuments.tsx
  src/pages/ReimbursementAccount/EnterSignerInfo/utils/getSignerDetailsAndSignerFiles.ts
  src/pages/ReimbursementAccount/NonUSD/SignerInfo/index.tsx
  src/pages/ReimbursementAccount/NonUSD/utils/getSignerDetailsAndSignerFilesForSignerInfo.ts
  src/pages/home/report/ReportActionItemMessage.tsx
  src/types/form/EnterSignerInfoForm.ts
  src/types/form/index.ts
  src/types/onyx/OriginalMessage.ts
Owners: @Expensify/pullerbear

Fix some comments
  src/components/SelectionList/types.ts
  src/libs/actions/IOU.ts
  src/pages/iou/SplitExpenseEditPage.tsx
Owners: @Expensify/pullerbear

fix: change show reimbursable conditions
  src/components/ReportActionItem/MoneyRequestView.tsx
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

enabled reanimated version of modal in all confirm modals and changed styles for modals to appear correctly
  src/components/ConfirmModal.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/pullerbear, @Expensify/design

Remove unused styles
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

Explain SignInPageWrapperProps prop shouldUseStyles
  src/pages/signin/SignInPage.tsx
Owners: @Expensify/pullerbear

Remove unused import
  src/pages/iou/SplitExpenseEditPage.tsx
Owners: @Expensify/pullerbear

refactor: remove unused code
  jest/setup.ts
  src/components/InvertedFlatList/BaseInvertedFlatList/RenderTaskQueue.tsx
Owners: @Expensify/pullerbear

refactor: rename variable
  src/pages/home/report/ReportActionsView.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.89-4
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

fix: not found page
  src/pages/iou/request/step/IOURequestEditReport.tsx
Owners: @Expensify/pullerbear

Merge pull request #67902 from getusha/fix-mark-as-paid-double-trigger
  src/components/SettlementButton/index.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.89-4
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

fix: crash when submitting expense to workspace
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

Fix prettier
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

added comment
  src/CONST/index.ts
Owners: @Expensify/pullerbear

fix: shared offline image disappears from the chat after going online
  src/libs/prepareRequestPayload/index.native.ts
Owners: @Expensify/pullerbear

Use better names for profile navigation wrapper prop
  src/components/ReportActionAvatars/ReportActionAvatar.tsx
  src/components/ReportActionAvatars/index.tsx
  src/pages/ReportDetailsPage.tsx
Owners: @Expensify/pullerbear

fix: add comments
  src/components/InvertedFlatList/BaseInvertedFlatList/index.tsx
Owners: @Expensify/pullerbear

fix eslint
  src/pages/settings/Security/TwoFactorAuth/TwoFactorAuthForm/BaseTwoFactorAuthForm.tsx
  src/pages/settings/Security/TwoFactorAuth/TwoFactorAuthForm/index.tsx
Owners: @Expensify/pullerbear

disable company card removal
  src/pages/iou/request/step/IOURequestEditReportCommon.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.89-5
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

fix order of reports in navigation
  src/components/MoneyRequestReportView/MoneyRequestReportNavigation.tsx
  src/components/Search/index.tsx
  src/libs/actions/Search.ts
  src/types/onyx/ReportNavigation.ts
Owners: @Expensify/pullerbear

Update version to 9.1.89-5
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #67915 from Expensify/jsenyitko-revert-deploy-blocker
  src/components/Search/index.tsx
Owners: @Expensify/pullerbear

Switch the order of the Continuous Reconciliation setup steps
  docs/articles/expensify-classic/expensify-card/Expensify-Card-Reconciliation.md
Owners: @Expensify/pullerbear

Update Expensify-Card-Reconciliation.md
  docs/articles/expensify-classic/expensify-card/Expensify-Card-Reconciliation.md
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
