Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

Update @onfido+react-native-sdk+10.6.0.patch
  patches/@onfido+react-native-sdk+10.6.0.patch
Owners: @Expensify/pullerbear

Commit after prettier changes
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

Fix onboardingInitialPath in mobile
  src/hooks/useOnboardingFlow.ts
  src/libs/Navigation/NavigationRoot.tsx
  src/libs/actions/Report.ts
  src/libs/actions/Welcome/OnboardingFlow.ts
  src/libs/actions/Welcome/index.ts
Owners: @Expensify/pullerbear

Fix react-native-keyboard leaks by bumping package version
  package-lock.json
  package.json
  patches/react-native-keyboard-controller+1.16.7.patch
Owners: @Expensify/pullerbear

fix: RTER violation on the reports page for paid transactions.
  src/components/TransactionItemRow/TransactionItemRowRBRWithOnyx.tsx
  src/hooks/useTransactionViolations.ts
  src/libs/TransactionUtils/index.ts
Owners: @Expensify/pullerbear

update next step
  src/libs/actions/Transaction.ts
  src/pages/AddUnreportedExpense.tsx
  src/pages/Search/SearchTransactionsChangeReport.tsx
  src/pages/iou/request/step/IOURequestEditReport.tsx
  src/pages/iou/request/step/IOURequestStepReport.tsx
Owners: @Expensify/pullerbear

perf: precompute optionList in UserSelectPopup
  src/ONYXKEYS.ts
  src/components/Search/FilterDropdowns/UserSelectPopup.tsx
Owners: @Expensify/pullerbear

fix: minor fix
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

Fixing typecheck in languages
  src/languages/de.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

Add accepted parameters
  src/components/Search/types.ts
Owners: @Expensify/pullerbear

Optional
  src/components/Search/types.ts
Owners: @Expensify/pullerbear

Fix multiple modal backdrops appearing when opening right-docked modals from RHP
  src/components/CountryPicker/CountrySelectorModal.tsx
  src/components/CurrencyPicker.tsx
  src/components/DatePicker/CalendarPicker/YearPickerModal.tsx
  src/components/Modal/BaseModal.tsx
  src/components/Modal/ReanimatedModal/Backdrop/index.tsx
  src/components/StatePicker/StateSelectorModal.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/pullerbear, @Expensify/design

Update HOW_TO_BECOME_A_CONTRIBUTOR_PLUS.md
  contributingGuides/HOW_TO_BECOME_A_CONTRIBUTOR_PLUS.md
Owners: @Expensify/pullerbear

Add more debug logs
  modules/hybrid-app/android/src/main/java/com/expensify/reactnativehybridapp/ReactNativeHybridApp.kt
  modules/hybrid-app/src/NativeReactNativeHybridApp.ts
  modules/hybrid-app/src/index.native.ts
  modules/hybrid-app/src/index.ts
  modules/hybrid-app/src/types.ts
  src/Expensify.tsx
Owners: @Expensify/pullerbear

allow users to unselect accounting
  src/pages/OnboardingInterestedFeatures/BaseOnboardingInterestedFeatures.tsx
  src/pages/OnboardingInterestedFeatures/types.ts
Owners: @Expensify/pullerbear

Explicitly support NEwDot url
  src/libs/Navigation/linkingConfig/prefixes.ts
Owners: @Expensify/pullerbear

Add log in prefixes
  src/libs/Navigation/linkingConfig/prefixes.ts
Owners: @Expensify/pullerbear

Fix scroll bar color in help panel
  src/components/SidePanel/HelpModal/index.tsx
Owners: @Expensify/pullerbear

Add test for hasRequestFromCurrentAccount
  tests/unit/ReportActionsUtilsTest.ts
Owners: @Expensify/pullerbear

fix: cspell
  cspell.json
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

Revert mobile changes
  src/components/Modal/ReanimatedModal/Backdrop/index.tsx
Owners: @Expensify/pullerbear

remove semicolon rendered after empty selection list
  src/pages/iou/request/MoneyRequestParticipantsSelector.tsx
Owners: @Expensify/pullerbear

docs: add explanation for FlatList usage
  src/pages/home/report/ReportActionsList.tsx
Owners: @Expensify/pullerbear

Remove unnecessary prop usage
  src/components/AmountPicker/AmountSelectorModal.tsx
  src/components/TextPicker/TextSelectorModal.tsx
  src/pages/workspace/reportFields/InitialListValueSelector/InitialListValueSelectorModal.tsx
  src/pages/workspace/reportFields/TypeSelector/TypeSelectorModal.tsx
Owners: @Expensify/pullerbear

fix ts
  src/libs/TransactionUtils/index.ts
Owners: @Expensify/pullerbear

saving last query to onyx and fetch more data
  src/ONYXKEYS.ts
  src/components/HeaderWithBackButton/index.tsx
  src/components/Search/index.tsx
  src/libs/API/types.ts
  src/libs/actions/ReportNavigation.ts
  src/libs/actions/Search.ts
  src/types/onyx/ReportNavigation.ts
  src/types/onyx/index.ts
Owners: @Expensify/pullerbear

minor fix
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

include user to invite
  src/components/OptionListContextProvider.tsx
  src/components/Search/SearchAutocompleteList.tsx
  src/libs/OptionsListUtils.ts
Owners: @Expensify/pullerbear

Additional comments
  src/libs/OptionsListUtils.ts
Owners: @Expensify/pullerbear

Cleanup code, final improvements, heap usage in autocomplete keys (in, from, to etc)
  src/components/Search/SearchAutocompleteList.tsx
  src/libs/OptionsListUtils.ts
Owners: @Expensify/pullerbear

Convert date to user timezone to display on schedule call calender
  src/pages/ScheduleCall/ScheduleCallConfirmationPage.tsx
  src/pages/ScheduleCall/ScheduleCallPage.tsx
Owners: @Expensify/pullerbear

fix: reusable component and all edge cases
  src/components/SubStepForms/CountryFullStep/CountryFullStep.tsx
  src/components/SubStepForms/CountryFullStep/subSteps/Confirmation.tsx
  src/libs/Permissions.ts
  src/libs/actions/ReimbursementAccount/resetUSDBankAccount.ts
  src/libs/mapCurrencyToCountry.ts
  src/pages/ReimbursementAccount/CountryConfirmationSubStep.tsx
  src/pages/ReimbursementAccount/NonUSD/Country/Country.tsx
  src/pages/ReimbursementAccount/ReimbursementAccountPage.tsx
  src/pages/ReimbursementAccount/USD/Country/Country.tsx
  src/pages/ReimbursementAccount/USD/USDVerifiedBankAccountFlow.tsx
  src/pages/ReimbursementAccount/VerifiedBankAccountFlowEntryPoint.tsx
  src/pages/workspace/WorkspaceOverviewCurrencyPage.tsx
  src/pages/workspace/WorkspaceResetBankAccountModal.tsx
Owners: @Expensify/pullerbear

update searches & add back isActionLoading
  src/libs/SearchUIUtils.ts
  src/libs/actions/Search.ts
Owners: @Expensify/pullerbear

fix: work leftovers
  src/CONST/index.ts
  src/libs/Permissions.ts
Owners: @Expensify/pullerbear

update optimistic. comments
  src/libs/actions/Search.ts
Owners: @Expensify/pullerbear

make currentSearchKey a derived value based on state, dont manually calc it
  src/components/Search/SearchContext.tsx
  src/components/Search/types.ts
Owners: @Expensify/pullerbear

Bring back onBackdropPress and remove unused props
  src/components/AddPaymentCard/PaymentCardCurrencyModal.tsx
Owners: @Expensify/pullerbear

clenaup card display logic
  src/components/Search/SearchContext.tsx
  src/hooks/useCardFeedsForDisplay.ts
  src/hooks/useDefaultCardFeed.ts
  src/hooks/useSearchTypeMenuSections.ts
  src/libs/CardFeedUtils.ts
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

chore: remove useLegacyPackaging
  modules/ExpensifyNitroUtils/android/build.gradle
  modules/background-task/android/build.gradle
  modules/hybrid-app/android/build.gradle
  patches/react-native-safe-area-context/react-native-safe-area-context+5.4.0+001+android-enable-16kb-memory-page-size.patch
Owners: @Expensify/pullerbear

add new.expensify prefix to fix adhoc testing
  src/libs/Navigation/linkingConfig/prefixes.ts
Owners: @Expensify/pullerbear
