Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

refactor workspace directory
  help/ref/workspaces/:policyID/categories/index.md
  help/ref/workspaces/:policyID/company-cards/index.md
  help/ref/workspaces/:policyID/distance-rates/index.md
  help/ref/workspaces/:policyID/expensify-card/index.md
  help/ref/workspaces/:policyID/invoices/index.md
  help/ref/workspaces/:policyID/more-features/index.md
  help/ref/workspaces/:policyID/overview/index.md
  help/ref/workspaces/:policyID/per-diem/index.md
  help/ref/workspaces/:policyID/reportFields/index.md
  help/ref/workspaces/:policyID/rules/index.md
  help/ref/workspaces/:policyID/tags/index.md
  help/ref/workspaces/:policyID/taxes/index.md
  help/ref/workspaces/:policyID/workflows/index.md
  src/components/SidePanel/HelpContent/helpContentMap.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.78-0
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update Reimburse-Australian-Reports.md
  docs/articles/expensify-classic/bank-accounts-and-payments/payments/Reimburse-Australian-Reports.md
Owners: @Expensify/pullerbear

update WHATS_NEW_URL to only include updates
  src/CONST/index.ts
Owners: @Expensify/pullerbear

fix: trim invisible characters from email before merge
  src/pages/settings/Security/MergeAccounts/AccountDetailsPage.tsx
Owners: @Expensify/pullerbear

Fix tests
  scripts/generateTranslations.ts
  tests/unit/generateTranslationsTest.ts
Owners: @Expensify/pullerbear

Improve comments and remove debug logs
  scripts/generateTranslations.ts
Owners: @Expensify/pullerbear

Improve comments, fix lint
  scripts/generateTranslations.ts
  tests/unit/generateTranslationsTest.ts
Owners: @Expensify/pullerbear

Fix spellcheck
  scripts/generateTranslations.ts
Owners: @Expensify/pullerbear

Rebuild gh actions
  .github/actions/javascript/authorChecklist/index.js
  .github/actions/javascript/awaitStagingDeploys/index.js
  .github/actions/javascript/checkDeployBlockers/index.js
  .github/actions/javascript/createOrUpdateStagingDeploy/index.js
  .github/actions/javascript/getArtifactInfo/index.js
  .github/actions/javascript/getDeployPullRequestList/index.js
  .github/actions/javascript/getPreviousVersion/index.js
  .github/actions/javascript/getPullRequestDetails/index.js
  .github/actions/javascript/isStagingDeployLocked/index.js
  .github/actions/javascript/markPullRequestsAsDeployed/index.js
  .github/actions/javascript/postTestBuildComment/index.js
  .github/actions/javascript/proposalPoliceComment/index.js
  .github/actions/javascript/reopenIssueWithComment/index.js
  .github/actions/javascript/reviewerChecklist/index.js
  .github/actions/javascript/verifySignedCommits/index.js
Owners: @Expensify/pullerbear

refactor: remove unused `active` class
  docs/assets/js/main.js
  docs/assets/js/platform-tabs.js
Owners: @Expensify/design, @Expensify/pullerbear

add guide for JDK Android build error
  contributingGuides/HYBRID_APP.md
Owners: @Expensify/pullerbear

add bonus git cache tip
  contributingGuides/HYBRID_APP.md
Owners: @Expensify/pullerbear

fix the hub parsing logic
  docs/_data/_routes.yml
  docs/_includes/hub.html
  docs/articles/travel/booking-travel/Book-With-Expensify-Travel.md
  docs/articles/travel/company-setup/Dummy.md
  docs/articles/travel/expensify-classic/Edit-or-cancel-travel-arrangements.md
  docs/articles/travel/expensify-classic/Manage-Travel-Member-Roles.md
  docs/articles/travel/getting-started/Approve-Travel-Expenses.md
  docs/articles/travel/getting-started/Tutorial-Video.md
  docs/articles/travel/getting-started/setting-up-your-profile/Dummy-copy.md
  docs/articles/travel/getting-started/setting-up-your-profile/Dummy.md
  docs/articles/travel/managing-trips/Dummy.md
  docs/articles/travel/new-expensify/Approve-travel-expenses.md
  docs/articles/travel/new-expensify/Book-with-Expensify-Travel.md
  docs/articles/travel/new-expensify/Configure-travel-policy-and-preferences.md
  docs/articles/travel/new-expensify/Edit-or-cancel-travel-arrangements.md
  docs/articles/travel/new-expensify/Manage-Travel-Member-Roles.md
  docs/articles/travel/new-expensify/Track-Travel-Analytics.md
  docs/articles/travel/new-expensify/Travel-Approval-Types.md
  docs/articles/travel/travel-analytics/Track-Travel-Analytics.md
  docs/articles/travel/travel-policy/Configure-Travel-Policy-and-Preferences.md
  docs/travel/hubs/booking-travel/index.html
  docs/travel/hubs/company-setup/index.html
  docs/travel/hubs/getting-started/index.html
  docs/travel/hubs/getting-started/setting-up-your-profile.html
  docs/travel/hubs/managing-trips/index.html
  docs/travel/hubs/travel-analytics/index.html
  docs/travel/hubs/travel-policy/index.html
Owners: @Expensify/pullerbear

update translations.
  src/languages/en.ts
  src/languages/es.ts
Owners: @Expensify/pullerbear

fix: prevent loading indicator from displaying when offline
  src/pages/workspace/WorkspacePageWithSections.tsx
Owners: @Expensify/pullerbear

Condition added - Show Delete option if isReportOpenOrProcessing is true
  src/libs/ReportSecondaryActionUtils.ts
Owners: @Expensify/pullerbear

Add user invitation functionality in WorkspaceWorkflowsApprovalsExpensesFromPage to allow inviting unselected users, enhancing member management capabilities.
  src/pages/workspace/workflows/approvals/WorkspaceWorkflowsApprovalsExpensesFromPage.tsx
Owners: @Expensify/pullerbear

Remove unnecessary whitespace in WorkspaceWorkflowsApprovalsExpensesFromPage for improved code cleanliness.
  src/pages/workspace/workflows/approvals/WorkspaceWorkflowsApprovalsExpensesFromPage.tsx
Owners: @Expensify/pullerbear

Add comment to clarify user invitation logic in WorkspaceWorkflowsApprovalsExpensesFromPage for better code understanding.
  src/pages/workspace/workflows/approvals/WorkspaceWorkflowsApprovalsExpensesFromPage.tsx
Owners: @Expensify/pullerbear

Fix video can't play on RHP
  src/hooks/useCheckIfRouteHasRemainedUnchanged.ts
Owners: @Expensify/pullerbear

chore: write ui test for WorkspacePageWithSections
  tests/ui/WorkspacePageWithSectionsTest.tsx
Owners: @Expensify/pullerbear

update translations in all files.
  src/languages/de.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

fix translations.
  src/languages/de.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

memoize custom emoji function uses
  src/components/EmojiWithTooltip/index.android.tsx
  src/components/LHNOptionsList/OptionRowLHN.tsx
  src/components/Text.tsx
  src/pages/home/report/comment/TextCommentFragment.tsx
  src/pages/home/report/comment/shouldRenderAsText/index.native.ts
Owners: @Expensify/pullerbear

lint fix
  src/components/LHNOptionsList/OptionRowLHN.tsx
  src/pages/home/report/comment/shouldRenderAsText/index.native.ts
Owners: @Expensify/pullerbear

optimization(dev): web server heap optimization and auto-restart
  config/webpack/webpack.common.ts
  config/webpack/webpack.dev.ts
  package.json
  scripts/web-server-with-restart.sh
Owners: @Expensify/pullerbear

fix: Cursor is not shown in active magic code input.
  src/components/MagicCodeInput.tsx
  src/styles/index.ts
  src/styles/utils/FontUtils/fontWeight/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix cursor animation.
  src/components/MagicCodeInput.tsx
Owners: @Expensify/pullerbear

added PolicyCategoriesProvider
  src/components/OnyxProvider.tsx
  src/components/ReportActionItem/MoneyRequestView.tsx
Owners: @Expensify/pullerbear

use object with stable ref and add comment about source values
  src/libs/actions/OnyxDerived/configs/reportTransactionsAndViolations.ts
Owners: @Expensify/pullerbear

Render only last fullscreen navigator in RootStackNavigator
  src/libs/Navigation/AppNavigator/createRootStackNavigator/index.tsx
Owners: @Expensify/pullerbear

Add usePreloadFullScreenNavigators
  src/components/Navigation/NavigationTabBar/index.tsx
  src/libs/Navigation/AppNavigator/Navigators/ReportsSplitNavigator.tsx
  src/libs/Navigation/AppNavigator/Navigators/SearchFullscreenNavigator.tsx
  src/libs/Navigation/AppNavigator/Navigators/SettingsSplitNavigator.tsx
  src/libs/Navigation/AppNavigator/Navigators/WorkspaceSplitNavigator.tsx
  src/libs/Navigation/AppNavigator/usePreloadFullScreenNavigators.ts
  src/libs/Navigation/linkingConfig/RELATIONS/FULLSCREEN_TO_TAB.ts
  src/libs/Navigation/linkingConfig/RELATIONS/TAB_TO_FULLSCREEN.ts
  src/libs/Navigation/linkingConfig/RELATIONS/index.ts
  src/pages/workspace/WorkspacesListPage.tsx
  tests/ui/GroupChatNameTests.tsx
  tests/ui/PaginationTest.tsx
  tests/ui/UnreadIndicatorsTest.tsx
Owners: @Expensify/pullerbear

Fix signing out by clearing preloadedRoutes
  src/libs/Navigation/Navigation.ts
  src/libs/actions/Session/index.ts
Owners: @Expensify/pullerbear

Fix preloading Workspaces tab
  src/libs/Navigation/AppNavigator/usePreloadFullScreenNavigators.ts
Owners: @Expensify/pullerbear

Add implemention of useCustomRootStackNavigatorState for native platforms
  src/libs/Navigation/AppNavigator/createRootStackNavigator/index.tsx
  src/libs/Navigation/AppNavigator/createRootStackNavigator/useCustomRootStackNavigatorState/index.native.ts
  src/libs/Navigation/AppNavigator/createRootStackNavigator/useCustomRootStackNavigatorState/index.ts
Owners: @Expensify/pullerbear

Fix TS issues and add comments to usePreloadFullScreenNavigators
  src/components/Navigation/NavigationTabBar/index.tsx
  src/libs/Navigation/AppNavigator/Navigators/ReportsSplitNavigator.tsx
  src/libs/Navigation/AppNavigator/Navigators/SearchFullscreenNavigator.tsx
  src/libs/Navigation/AppNavigator/Navigators/SettingsSplitNavigator.tsx
  src/libs/Navigation/AppNavigator/Navigators/WorkspaceSplitNavigator.tsx
  src/libs/Navigation/AppNavigator/usePreloadFullScreenNavigators.ts
  src/libs/Navigation/types.ts
  src/pages/workspace/WorkspacesListPage.tsx
Owners: @Expensify/pullerbear

bring back empty object to derived value
  src/libs/actions/OnyxDerived/configs/reportTransactionsAndViolations.ts
Owners: @Expensify/pullerbear

App Becomes Unresponsive After Restarting During Onboarding
  src/libs/Navigation/AppNavigator/Navigators/OnboardingModalNavigator.tsx
Owners: @Expensify/pullerbear

fix: remove unused imports
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
Owners: @Expensify/pullerbear
