Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

Fix readable tag name
  src/components/HTMLEngineProvider/BaseHTMLEngineProvider.tsx
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

added a check if current is admin and manager to show gbr if there is a manager assigned
  src/libs/ReportUtils.ts
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

Only show submit expenses button on expenseReports
  src/pages/home/report/PureReportActionItem.tsx
Owners: @Expensify/pullerbear

docs: explain implementation changes
  src/components/MoneyRequestHeader.tsx
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

Add shouldRender check in EducationalTooltip
  src/components/Tooltip/EducationalTooltip/index.tsx
Owners: @Expensify/pullerbear

Remove newdotMultiScan beta
  src/CONST/index.ts
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
Owners: @Expensify/pullerbear

fix prettier
  src/libs/ReportUtils.ts
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

matched with staging dimensions width and height
  src/pages/settings/AboutPage/AboutPage.tsx
Owners: @Expensify/pullerbear

Set of optimizations for better rendering time
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

fix: remove invisible characters from input value
  src/pages/settings/Security/MergeAccounts/AccountDetailsPage.tsx
Owners: @Expensify/pullerbear

Add empty fields in details.md
  patches/react-native/details.md
Owners: @Expensify/pullerbear

use reports by policy ID in canEditFieldOfMoneyRequest
  src/components/MoneyRequestConfirmationListFooter.tsx
  src/libs/ReportUtils.ts
  src/pages/iou/request/step/IOURequestEditReportCommon.tsx
Owners: @Expensify/pullerbear

fix: dont use snapshot data in search page
  src/components/SettlementButton/index.tsx
  src/libs/PolicyUtils.ts
Owners: @Expensify/pullerbear

fix: remove console log
  src/components/SettlementButton/index.tsx
Owners: @Expensify/pullerbear

Merge usages of single & multiple avatars
  src/components/AvatarWithDisplayName.tsx
  src/components/MultipleAvatars.tsx
  src/components/ReportActionItem/SingleReportAvatar.tsx
  src/pages/home/report/ReportActionItemSingle.tsx
Owners: @Expensify/pullerbear

Update redirects.csv
  docs/redirects.csv
Owners: @Expensify/pullerbear

Fix conditions
  src/pages/home/report/PureReportActionItem.tsx
Owners: @Expensify/pullerbear

Remove unused
  src/pages/home/report/PureReportActionItem.tsx
Owners: @Expensify/pullerbear

Add gradle patch description
  patches/react-native/details.md
Owners: @Expensify/pullerbear

Set of updates for more efficient render time
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
Owners: @Expensify/pullerbear

Remove no longer used SHORT_MENTION regex
  src/CONST/index.ts
  src/libs/ReportUtils.ts
  tests/unit/ShortMentionRegexTest.ts
Owners: @Expensify/pullerbear

Fix avatars in LHN
  src/components/LHNOptionsList/OptionRowLHN.tsx
  src/components/MultipleAvatars.tsx
Owners: @Expensify/pullerbear

Add reason of patch no 024
  patches/react-native/details.md
Owners: @Expensify/pullerbear

add translations
  src/components/ButtonWithDropdownMenu/index.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/components/MoneyRequestReportView/SearchMoneyRequestReportEmptyState.tsx
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

fix: prevent use of snapshot policies onyx data
  src/components/SettlementButton/index.tsx
  src/libs/PolicyUtils.ts
Owners: @Expensify/pullerbear

remove debuggers
  src/components/ButtonWithDropdownMenu/index.tsx
  src/components/MoneyRequestReportView/SearchMoneyRequestReportEmptyState.tsx
Owners: @Expensify/pullerbear

fix: report header shows "x expense" instead of "x for description" after removing merchant #65974
  src/libs/TransactionUtils/index.ts
Owners: @Expensify/pullerbear

fix: persist bank option when pressing back button
  src/pages/ReimbursementAccount/ReimbursementAccountPage.tsx
  src/pages/ReimbursementAccount/USD/BankInfo/BankInfo.tsx
  src/pages/ReimbursementAccount/USD/BankInfo/subSteps/Plaid.tsx
  src/pages/ReimbursementAccount/USD/USDVerifiedBankAccountFlow.tsx
Owners: @Expensify/pullerbear

fix: lint
  src/pages/ReimbursementAccount/USD/USDVerifiedBankAccountFlow.tsx
Owners: @Expensify/pullerbear

fix: enable buttons when max attempt reached
  src/pages/ReimbursementAccount/VerifiedBankAccountFlowEntryPoint.tsx
Owners: @Expensify/pullerbear

feat: remove beta checks for newDotMultiFilesDragAndDrop
  src/CONST/index.ts
  src/pages/Search/SearchPage.tsx
  src/pages/home/report/ReportActionCompose/AttachmentPickerWithMenuItems.tsx
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
  src/pages/iou/request/IOURequestStartPage.tsx
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepParticipants.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
  src/pages/iou/request/step/StepScreenDragAndDropWrapper.tsx
Owners: @Expensify/pullerbear

Update Edit-and-Submit-Expense-Reports.md
  docs/articles/expensify-classic/reports/Edit-and-Submit-Expense-Reports.md
Owners: @Expensify/pullerbear

Update Edit-expenses.md
  docs/articles/expensify-classic/expenses/Edit-expenses.md
Owners: @Expensify/pullerbear

fix wide screen issues
  src/components/AvatarCropModal/AvatarCropModal.tsx
  src/components/Modal/BaseModal.tsx
  src/components/ValidateCodeActionModal/index.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix: lint
  src/components/SettlementButton/index.tsx
  src/libs/PolicyUtils.ts
Owners: @Expensify/pullerbear

fix: remove unused import
  src/components/SettlementButton/index.tsx
Owners: @Expensify/pullerbear

remove import arePaymentsEnabled
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

fix ts
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/design, @Expensify/pullerbear

fix: more precise logics to enable/disable report fields
  src/pages/workspace/accounting/xero/XeroMapTrackingCategoryConfigurationPage.tsx
Owners: @Expensify/pullerbear

add forgotten stashed changes lol
  src/components/Modal/BaseModal.tsx
  src/components/Modal/ReanimatedModal/Backdrop/index.web.tsx
  src/hooks/useSidePanel.ts
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/pullerbear, @Expensify/design
