Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

run pretty
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/libs/ReportPreviewActionUtils.ts
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

fix api err
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

fix typo
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

Removed forwardRef from InputWrapper.tsx
  src/components/Form/InputWrapper.tsx
Owners: @Expensify/pullerbear

Removed forwardRef from ConstantSelector.tsx
  src/pages/Debug/ConstantSelector.tsx
Owners: @Expensify/pullerbear

Removed forwardRef from DateTimeSelector.tsx
  src/pages/Debug/DateTimeSelector.tsx
Owners: @Expensify/pullerbear

Removed forwardRef from InitialListValueSelector/index.tsx
  src/pages/workspace/reports/InitialListValueSelector/index.tsx
Owners: @Expensify/pullerbear

Removed forwardRef from TypeSelector/index.tsx
  src/pages/workspace/reports/TypeSelector/index.tsx
Owners: @Expensify/pullerbear

Remove backTo from ROUTES.SEARCH_MONEY_REQUEST_REPORT
  src/ROUTES.ts
  src/components/MoneyRequestReportView/MoneyRequestReportView.tsx
  src/components/Search/index.tsx
  src/libs/Navigation/types.ts
  src/libs/SearchUIUtils.ts
  src/libs/actions/QuickActionNavigation.ts
  src/pages/Search/EmptySearchView.tsx
  src/pages/Search/SearchMoneyRequestReportPage.tsx
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
Owners: @Expensify/pullerbear

Prettier run
  src/components/Button/index.tsx
  src/components/ButtonWithDropdownMenu/types.ts
  src/components/CurrencySelector.tsx
  src/components/Form/InputWrapper.tsx
  src/components/Hoverable/types.ts
  src/components/MenuItem.tsx
  src/components/Pressable/GenericPressable/implementation/BaseGenericPressable.tsx
  src/components/Pressable/PressableWithDelayToggle.tsx
  src/components/Pressable/PressableWithFeedback.tsx
  src/components/Pressable/PressableWithoutFeedback.tsx
  src/components/PressableWithSecondaryInteraction/index.native.tsx
  src/components/PressableWithSecondaryInteraction/index.tsx
  src/components/ScrollView.tsx
  src/components/Search/SearchList.tsx
  src/components/SelectionListWithModal/index.tsx
  src/components/Share/ShareTabParticipantsSelector.tsx
  src/components/StateSelector.tsx
  src/components/Text.tsx
  src/components/TextPicker/index.tsx
  src/components/Tooltip/types.ts
  src/components/ValuePicker/index.tsx
  src/components/ValuePicker/types.ts
  src/pages/Debug/ConstantSelector.tsx
  src/pages/Share/ShareTab.tsx
  src/pages/iou/request/MoneyRequestParticipantsSelector.tsx
Owners: @Expensify/pullerbear

Fix - Red dot is shown in recent chats for scanned expense moved to Workspace
  src/components/Search/SearchAutocompleteList.tsx
  src/components/SelectionList/Search/SearchQueryListItem.tsx
  src/components/SelectionList/UserListItem.tsx
Owners: @Expensify/pullerbear

show GBR in recent chats
  src/components/Search/SearchAutocompleteList.tsx
  src/libs/OptionsListUtils.ts
Owners: @Expensify/pullerbear

comment cleanse
  tests/unit/FormulaTest.ts
Owners: @Expensify/pullerbear

improve tests
  tests/ui/PureReportActionItemTest.tsx
Owners: @Expensify/pullerbear

fix prettier
  tests/ui/PureReportActionItemTest.tsx
  tests/unit/OptionsListUtilsTest.tsx
Owners: @Expensify/pullerbear

all the changes again
  src/components/PopoverWithMeasuredContent/PopoverWithMeasuredContentBase.tsx
  src/components/PopoverWithMeasuredContent/index.tsx
  src/components/PopoverWithMeasuredContent/types.ts
  src/components/Search/FilterDropdowns/DropdownButton.tsx
  tests/ui/components/OnboardingHelpDropdownButtonTest.tsx
Owners: @Expensify/pullerbear

chore: merge main
  src/components/MoneyRequestConfirmationListFooter.tsx
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
Owners: @Expensify/pullerbear

some changes
  src/libs/actions/Policy/Policy.ts
  src/types/onyx/Policy.ts
Owners: @Expensify/pullerbear

Fixes for issues mentioned by grgia & shubham
  src/components/ReportActionAvatars/index.tsx
  src/components/ReportActionAvatars/useReportActionAvatars.ts
  src/components/SelectionList/InviteMemberListItem.tsx
  src/components/SelectionList/TableListItem.tsx
  src/components/SelectionList/UserListItem.tsx
Owners: @Expensify/pullerbear

should work on some cases
  src/ONYXKEYS.ts
  src/libs/actions/Share.ts
  src/pages/Share/ShareDetailsPage.tsx
  src/pages/Share/ShareRootPage.tsx
  src/pages/Share/SubmitDetailsPage.tsx
  src/types/onyx/index.ts
Owners: @Expensify/pullerbear

Add a little of Onyx optimalization
  src/components/ReportActionAvatars/index.tsx
  src/components/ReportActionAvatars/useReportActionAvatars.ts
Owners: @Expensify/pullerbear

chore: add tests
  tests/ui/MoneyRequestConfirmationListFooterTest.tsx
Owners: @Expensify/pullerbear

fix crash.
  src/pages/settings/Subscription/CardSection/CardSectionButton/index.tsx
Owners: @Expensify/pullerbear

Update src/components/ReportActionItem/TripDetailsView.tsx
  src/components/ReportActionItem/TripDetailsView.tsx
Owners: @Expensify/pullerbear

Fix reactions modal fallback avatar
  src/components/OptionRow.tsx
  src/pages/home/report/ReactionList/BaseReactionList.tsx
Owners: @Expensify/pullerbear

refactor: simplify report ready conditions
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

Update Pagination.ts
  src/libs/Middleware/Pagination.ts
Owners: @Expensify/pullerbear

fix: update oldestUnreadReportActionID type
  src/types/onyx/Response.ts
Owners: @Expensify/pullerbear

Fix getAllNonDeletedTransactions
  src/libs/MoneyRequestReportUtils.ts
Owners: @Expensify/pullerbear

Small fix to getAllNonDeletedTransactions
  src/libs/MoneyRequestReportUtils.ts
Owners: @Expensify/pullerbear

change withdral type filter RHP route
  src/ROUTES.ts
Owners: @Expensify/pullerbear

update comment and link to tracking issue
  src/components/Search/SearchPageHeader/SearchFiltersBar.tsx
Owners: @Expensify/pullerbear

fix prettier
  src/libs/ModifiedExpenseMessage.ts
Owners: @Expensify/pullerbear

added withdrawal-type tests
  tests/unit/Search/SearchQueryUtilsTest.ts
  tests/unit/SearchParserTest.ts
Owners: @Expensify/pullerbear

fix import for useOnyx
  src/pages/home/report/ReportActionItem.tsx
Owners: @Expensify/pullerbear

update tests
  tests/unit/Search/SearchQueryUtilsTest.ts
  tests/unit/SearchParserTest.ts
Owners: @Expensify/pullerbear

remove getAmountInputLineHeightStyles.
  src/components/SymbolButton.tsx
  src/pages/workspace/taxes/ValuePage.tsx
  src/styles/utils/getAmountInputLineHeightStyles/index.ios.ts
  src/styles/utils/getAmountInputLineHeightStyles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

remove getAmountInputLineHeightStyles.
  src/styles/utils/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

fix policyID not being shared when it s should be
  src/components/MoneyReportHeader.tsx
  src/hooks/useSelectedTransactionsActions.ts
Owners: @Expensify/pullerbear

Implement unit tests for Tour action file
  tests/actions/TourTest.ts
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
