Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

fix types
  src/libs/actions/IOU.ts
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
Owners: @Expensify/pullerbear

fix types
  src/libs/actions/IOU.ts
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
Owners: @Expensify/pullerbear

prettier
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
Owners: @Expensify/pullerbear

remove connect method
  src/libs/actions/Welcome/index.ts
Owners: @Expensify/pullerbear

fix scrolling issues in ios
  src/components/FlatList/FlatListWithScrollKey/index.ios.tsx
  src/components/FlatList/FlatListWithScrollKey/index.tsx
Owners: @Expensify/pullerbear

remove connect method
  src/components/LocaleContextProvider.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/libs/DateUtils.ts
  src/libs/ReportActionsUtils.ts
  src/pages/home/report/ReportActionsList.tsx
Owners: @Expensify/pullerbear

add comment
  package.json
  src/libs/DateUtils.ts
Owners: @Expensify/pullerbear

resolve cmt
  src/pages/iou/request/step/IOURequestStepScan/ReceiptViewModal/index.tsx
Owners: @Expensify/pullerbear

fix import
  src/components/FlatList/FlatListWithScrollKey/index.ios.tsx
Owners: @Expensify/pullerbear

fix: correct condition to show reimbursable toggle
  src/components/ReportActionItem/MoneyRequestView.tsx
Owners: @Expensify/pullerbear

refactor: enhance TransactionMerge component architecture and testing
  src/libs/MergeTransactionUtils.ts
  src/pages/TransactionMerge/DetailsReviewPage.tsx
  src/pages/TransactionMerge/MergeFieldReview.tsx
  src/types/onyx/MergeTransaction.ts
  tests/unit/MergeTransactionUtilsTest.ts
Owners: @Expensify/pullerbear

fix: Update integrationSyncFailed link when tryNewDot is dismissed
  src/components/SelectionList/ChatListItem.tsx
  src/components/SelectionList/types.ts
  src/libs/ReportActionsUtils.ts
  src/pages/Debug/ReportAction/DebugReportActionCreatePage.tsx
  src/pages/Debug/ReportAction/DebugReportActionPreview.tsx
  src/pages/TransactionDuplicate/DuplicateTransactionItem.tsx
  src/pages/home/report/ContextMenu/BaseReportActionContextMenu.tsx
  src/pages/home/report/ContextMenu/ContextMenuActions.tsx
  src/pages/home/report/PureReportActionItem.tsx
  src/pages/home/report/ReportActionItemParentAction.tsx
  src/pages/home/report/ReportActionsList.tsx
  src/pages/home/report/ReportActionsListItemRenderer.tsx
Owners: @Expensify/pullerbear

update code
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/components/SelectionList/ChatListItem.tsx
  src/components/SelectionList/types.ts
  src/libs/ReportActionsUtils.ts
Owners: @Expensify/pullerbear

refactor: use transactionDetails to get field value of a transaction
  src/libs/MergeTransactionUtils.ts
  src/pages/TransactionMerge/DetailsReviewPage.tsx
  tests/unit/MergeTransactionUtilsTest.ts
Owners: @Expensify/pullerbear

Centralize check amount conflict
  src/libs/MergeTransactionUtils.ts
Owners: @Expensify/pullerbear

Run prettier
  src/libs/MergeTransactionUtils.ts
Owners: @Expensify/pullerbear

bump react-native-keyboard-controller
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

fix adjusting + calculate position
  src/components/ActionSheetAwareScrollView/ActionSheetKeyboardSpace.tsx
Owners: @Expensify/pullerbear

remove position calculation from wrapper
  src/components/ActionSheetAwareScrollView/index.ios.tsx
Owners: @Expensify/pullerbear

chore: remove old formatting issue
  src/components/EmojiPicker/EmojiPicker.tsx
Owners: @Expensify/pullerbear

clean PopoverWithMeasuredContent
  src/pages/home/report/ContextMenu/PopoverReportActionContextMenu.tsx
Owners: @Expensify/pullerbear

fix patch
  patches/react-native/react-native+0.79.2+025+textinput-prevent-focus-on-first-responder.patch
Owners: @Expensify/pullerbear

prevent multiple onfido initiation
  src/components/Onfido/index.tsx
  src/libs/actions/Wallet.ts
  src/pages/EnablePayments/OnfidoStep.tsx
  src/types/onyx/WalletOnfido.ts
Owners: @Expensify/pullerbear

fix: new requirement
  src/components/EmojiWithTooltip/index.tsx
  src/styles/utils/display.ts
  src/styles/utils/emojiDefaultStyles/index.native.ts
  src/styles/utils/emojiDefaultStyles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix: new requirement
  src/styles/utils/emojiDefaultStyles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

Fix back navigation for whisper message links with forceReplace option
  README_LINK_FIX.md
  src/libs/actions/Link.ts
  tests/unit/LinkNavigationTest.ts
Owners: @Expensify/pullerbear

Revert frontend fix, add backend solution for whisper link navigation
  BACKEND_CHANGES_REQUIRED.md
  README_LINK_FIX.md
  SOLUTION_SUMMARY.md
  src/libs/actions/Link.ts
  tests/unit/LinkNavigationTest.ts
  tests/unit/WhisperLinkNavigationTest.ts
Owners: @Expensify/pullerbear

Fix whisper message links by adding backTo navigation context
  BACKEND_CHANGES_REQUIRED.md
  SOLUTION_SUMMARY.md
  tests/unit/WhisperLinkNavigationTest.ts
Owners: @Expensify/pullerbear

Add currentReportID to actionable mention whisper resolution params
  BACKEND_WHISPER_NAVIGATION_FIX.md
  src/libs/API/parameters/ResolveActionableMentionWhisperParams.ts
  src/libs/actions/Report.ts
  tests/actions/ReportTest.ts
Owners: @Expensify/pullerbear

Remove frontend navigation context for whisper links
  BACKEND_ONLY_WHISPER_NAVIGATION_FIX.md
  BACKEND_WHISPER_NAVIGATION_FIX.md
  src/libs/API/parameters/ResolveActionableMentionWhisperParams.ts
  src/libs/actions/Report.ts
  tests/actions/ReportTest.ts
Owners: @Expensify/pullerbear

Allow sorting by description
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionList.tsx
  src/components/SelectionList/SortableTableHeader.tsx
Owners: @Expensify/pullerbear

update code
  src/libs/Violations/ViolationsUtils.ts
Owners: @Expensify/pullerbear

Update src/libs/actions/IOU.ts
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

Update src/libs/actions/IOU.ts
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

remove connect method
  src/libs/NextStepUtils.ts
  src/libs/actions/Transaction.ts
  src/pages/AddUnreportedExpense.tsx
  src/pages/Search/SearchTransactionsChangeReport.tsx
  src/pages/iou/request/step/IOURequestEditReport.tsx
  src/pages/iou/request/step/IOURequestStepReport.tsx
  tests/actions/IOUTest.ts
  tests/unit/TransactionTest.ts
Owners: @Expensify/pullerbear

remove connect method
  src/components/LHNOptionsList/OptionRowLHNData.tsx
  src/libs/ReportActionsUtils.ts
  src/libs/SidebarUtils.ts
  tests/unit/SidebarUtilsTest.ts
Owners: @Expensify/pullerbear

fix UT
  tests/perf-test/SidebarUtils.perf-test.ts
Owners: @Expensify/pullerbear

Fix: Out-of-pocket and company spend not seen automatically if adding unreported expense
  tests/actions/IOUTest.ts
Owners: @Expensify/pullerbear

use radio checkmark for list item
  src/pages/settings/Profile/CustomStatus/StatusClearAfterPage.tsx
Owners: @Expensify/pullerbear

use radio checkmark for list item
  src/pages/settings/Profile/PronounsPage.tsx
Owners: @Expensify/pullerbear
