Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

Merge pull request #63965 from Expensify/revert-63410-62778-translate-error-message-bank-account-deletion-spanish
  src/languages/en.ts
  src/languages/es.ts
  src/libs/actions/BankAccounts.ts
Owners: @Expensify/pullerbear

Update version to 9.1.64-2
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

show delete
  jest.config.js
  src/libs/ReportSecondaryActionUtils.ts
Owners: @Expensify/pullerbear

fix handleActionButtonPress test
  tests/unit/Search/handleActionButtonPressTest.ts
Owners: @Expensify/pullerbear

fix native keyboard top spacing for bottom docked modals
  src/components/Modal/BaseModal.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/pullerbear, @Expensify/design

suppress deprecation
  src/libs/ReportActionsUtils.ts
Owners: @Expensify/pullerbear

update dependency array of getUpdatedReports
  src/hooks/useSidebarOrderedReports.tsx
Owners: @Expensify/pullerbear

Fix individual expense row opens expense report instead of transaction thread (63461)
  src/components/SelectionList/Search/ReportListItem.tsx
Owners: @Expensify/pullerbear

update to openSearchPage
  src/libs/API/types.ts
  src/libs/actions/Search.ts
Owners: @Expensify/pullerbear

refactor: extract refocus logic and fix refocus on Android
  src/components/EmojiPicker/EmojiPicker.tsx
  src/libs/refocusComposerAfterPreventFirstResponder.ts
  src/pages/home/report/ContextMenu/PopoverReportActionContextMenu.tsx
Owners: @Expensify/pullerbear

Delete docs/articles/new-expensify/expensify-card/Manage-Expensify-Cards.md
  docs/articles/new-expensify/expensify-card/Manage-Expensify-Cards.md
Owners: @Expensify/pullerbear

improve noop
  src/components/PopoverWithoutOverlay/index.tsx
Owners: @Expensify/pullerbear

Fix prettier issue
  src/components/MoneyReportHeader.tsx
Owners: @Expensify/pullerbear

Update Set-Up-and-Manage-the-Expensify-Card.md
  docs/articles/new-expensify/expensify-card/Set-Up-and-Manage-the-Expensify-Card.md
Owners: @Expensify/pullerbear

Delete docs/articles/new-expensify/expensify-card/Check-Expensify-Card-limit.md
  docs/articles/new-expensify/expensify-card/Check-Expensify-Card-limit.md
Owners: @Expensify/pullerbear

Update redirects.csv
  docs/redirects.csv
Owners: @Expensify/pullerbear

fix: simplify avatarURL with fallback statement
  src/pages/media/AttachmentModalScreen/routes/WorkspaceAvatarModalContent.tsx
Owners: @Expensify/pullerbear

fix: add more comments and address minor issues
  src/pages/media/AttachmentModalScreen/AttachmentModalBaseContent.tsx
Owners: @Expensify/pullerbear

add exporter to response from openSearchPage
  src/types/onyx/Policy.ts
Owners: @Expensify/pullerbear

update empty state copy
  src/languages/en.ts
  src/languages/es.ts
  src/pages/workspace/categories/WorkspaceCategoriesPage.tsx
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
Owners: @Expensify/pullerbear

optimistic updates for all accounting platforms
  src/libs/actions/connections/NetSuiteCommands.ts
  src/libs/actions/connections/QuickbooksDesktop.ts
  src/libs/actions/connections/QuickbooksOnline.ts
  src/libs/actions/connections/SageIntacct.ts
Owners: @Expensify/pullerbear

fix: add waitFor to Test
  tests/utils/ReportTestUtils.ts
Owners: @Expensify/pullerbear

update dependency
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
Owners: @Expensify/pullerbear

Fix - Sender>Receiver instead of Receiver>Sender is shown for expense submitted by receiver in IOU Report Preview
  src/components/ReportActionItem/MoneyRequestReportPreview/index.tsx
  src/components/ReportActionItem/TransactionPreview/TransactionPreviewContent.tsx
Owners: @Expensify/pullerbear

pass current user account id for notifyNewAction
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

Fix expense report loads infinitely after reset app (63470)
  src/pages/Search/SearchMoneyRequestReportPage.tsx
Owners: @Expensify/pullerbear

design changes
  assets/images/product-illustrations/receipts-stacked-on-pin.svg
  assets/images/simple-illustrations/simple-illustration__paperairplane.svg
  src/components/AutoSubmitModal.tsx
  src/components/Icon/Illustrations.ts
  src/languages/en.ts
Owners: @Expensify/design, @Expensify/pullerbear

remove unused import
  tests/utils/ReportTestUtils.ts
Owners: @Expensify/pullerbear

fix: report screen not loading
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

Revert "Reintroduce "Improve HybridApp initialProps""
  src/App.tsx
  src/Expensify.tsx
  src/HybridAppHandler.tsx
  src/components/InitialURLContextProvider.tsx
  src/setup/hybridApp/index.native.ts
  src/setup/hybridApp/index.ts
Owners: @Expensify/pullerbear

fix typescript Error
  src/libs/Navigation/AppNavigator/createSplitNavigator/SplitRouter.ts
Owners: @Expensify/pullerbear

remove unnecessary new line
  src/libs/Navigation/AppNavigator/createSplitNavigator/SplitRouter.ts
Owners: @Expensify/pullerbear

Call open report one more time to load transactions
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

handle corner cases
  src/components/Modal/BaseModal.tsx
  src/components/withKeyboardState.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/pullerbear, @Expensify/design

Fix - Avatar and sender name broken for IOUs
  src/libs/ReportUtils.ts
  src/pages/home/report/ReportActionItemSingle.tsx
Owners: @Expensify/pullerbear

add entrance animation for payer on first load
  src/pages/Search/SearchTypeMenu.tsx
Owners: @Expensify/pullerbear

refactor split phrase addReadAndAcceptCardPayment
  src/languages/en.ts
  src/languages/es.ts
  src/pages/workspace/members/WorkspaceOwnerPaymentCardForm.tsx
Owners: @Expensify/pullerbear

show expense recipent even when recipent is the same as submitter
  src/components/SelectionList/Search/UserInfoAndActionButtonRow.tsx
Owners: @Expensify/pullerbear

fix: add back FileObject type
  src/components/AttachmentModal.ts
Owners: @Expensify/pullerbear

move HybridAppHandler up
  src/App.tsx
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
