Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

add: switching between images in ReceiptViewModal with arrows, delete functionality
  src/ROUTES.ts
  src/components/Attachments/AttachmentCarousel/AttachmentCarouselView/AttachmentCarouselView.tsx
  src/components/Attachments/AttachmentCarousel/index.native.tsx
  src/components/Attachments/AttachmentCarousel/index.tsx
  src/libs/Navigation/types.ts
  src/pages/iou/request/step/IOURequestStepScan/ReceiptPreviews/index.tsx
  src/pages/iou/request/step/IOURequestStepScan/ReceiptViewModal/index.tsx
  src/pages/iou/request/step/IOURequestStepScan/types.ts
Owners: @Expensify/pullerbear

scripts: lintChanged.sh: add newline EOF
  scripts/lintChanged.sh
Owners: @Expensify/pullerbear

Update Approve-Expenses.md
  docs/articles/new-expensify/reports-and-expenses/Approve-Expenses.md
Owners: @Expensify/pullerbear

Add Permissions hook tests
  tests/unit/usePermissionsTest.tsx
Owners: @Expensify/pullerbear

Use transaction preview in IOUAction file
  src/components/ReportActionItem/MoneyRequestAction.tsx
  src/pages/home/report/PureReportActionItem.tsx
Owners: @Expensify/pullerbear

Fixes
  src/pages/Travel/TripSummaryPage.tsx
Owners: @Expensify/pullerbear

fix prettier
  src/pages/iou/request/IOURequestStartPage.tsx
Owners: @Expensify/pullerbear

fixes after c+ review
  src/components/FeedSelector.tsx
  src/components/MenuItem.tsx
  src/components/PlaidCardFeedIcon.tsx
  src/libs/CardUtils.ts
  src/libs/actions/Plaid.ts
  src/pages/settings/Wallet/PaymentMethodList.tsx
  src/pages/workspace/companyCards/BankConnection/index.native.tsx
  src/pages/workspace/companyCards/WorkspaceCompanyCardDetailsPage.tsx
  src/pages/workspace/companyCards/WorkspaceCompanyCardFeedSelectorPage.tsx
  src/pages/workspace/companyCards/WorkspaceCompanyCardsListHeaderButtons.tsx
  src/pages/workspace/companyCards/WorkspaceCompanyCardsPage.tsx
  src/pages/workspace/companyCards/addNew/PlaidConnectionStep.tsx
  src/pages/workspace/companyCards/assignCard/CardSelectionStep.tsx
  src/pages/workspace/companyCards/assignCard/ConfirmationStep.tsx
  src/pages/workspace/members/WorkspaceMemberDetailsPage.tsx
  src/types/onyx/AssignCard.ts
  src/types/onyx/CardFeeds.ts
Owners: @Expensify/pullerbear

fix layout shift for user selection list
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

Updating several articles in the reports & expenses section of helpdot
  docs/articles/new-expensify/reports-and-expenses/Track-Expenses.md
  docs/articles/new-expensify/reports-and-expenses/Track-expenses.md
Owners: @Expensify/pullerbear

feat: create a new function for multiple files
  src/CONST.ts
  src/components/AttachmentModal.tsx
  src/components/AttachmentPicker/index.native.tsx
  src/components/AttachmentPicker/index.tsx
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
Owners: @Expensify/pullerbear

action fixes
  src/components/MenuItem.tsx
  src/pages/workspace/companyCards/BankConnection/index.tsx
  src/pages/workspace/companyCards/WorkspaceCompanyCardsListHeaderButtons.tsx
Owners: @Expensify/pullerbear

fix prettier
  src/components/Modal/BottomDockedModal/index.tsx
Owners: @Expensify/pullerbear

Update and rename Split-an-expense.md to Split-Expenses.md
  docs/articles/new-expensify/reports-and-expenses/Split-Expenses.md
Owners: @Expensify/pullerbear

Another migration
  src/pages/Search/EmptySearchView.tsx
Owners: @Expensify/pullerbear

Remove keyboardHandling patch
  patches/@react-navigation+native-stack+6.9.26+001+keyboardHandlingEnabled-prop.patch
Owners: @Expensify/pullerbear

fix: only call `onInitiallyLoaded` once and improve naming of variable
  src/components/InvertedFlatList/BaseInvertedFlatList/index.tsx
Owners: @Expensify/pullerbear

fix: add a max waiting time to GetNewerMessages/GetOlderMessages trigger
  src/hooks/useLoadReportActions.ts
Owners: @Expensify/pullerbear

Update and rename Send-an-invoice.md to Send-an-Invoice.md
  docs/articles/new-expensify/reports-and-expenses/Send-an-Invoice.md
  docs/articles/new-expensify/reports-and-expenses/Send-an-invoice.md
Owners: @Expensify/pullerbear

feat: create validation utils
  src/CONST.ts
  src/libs/fileDownload/FileUtils.ts
Owners: @Expensify/pullerbear

feat: exctract isValidReceiptExtension
  src/libs/fileDownload/FileUtils.ts
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
Owners: @Expensify/pullerbear

Fix animation on Android
  src/libs/Navigation/AppNavigator/useSplitNavigatorScreenOptions.ts
Owners: @Expensify/pullerbear

fix: minor fix
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
Owners: @Expensify/pullerbear

feat: refactor error handling for the attachment modal
  src/CONST.ts
  src/components/AttachmentModal.tsx
  src/libs/fileDownload/FileUtils.ts
Owners: @Expensify/pullerbear

fix: resolve naming conflict
  src/components/AttachmentModal.tsx
Owners: @Expensify/pullerbear

fix: removed redundant `/ReadNewestAction` calls
  src/hooks/useReadNewestActionDebounced.ts
  src/pages/home/ReportScreen.tsx
  src/pages/home/report/ReportActionsList.tsx
  src/pages/home/report/useReportUnreadMessageScrollTracking.ts
Owners: @Expensify/pullerbear

Update Suggested-Search.md
  docs/articles/new-expensify/reports-and-expenses/Suggested-Search.md
Owners: @Expensify/pullerbear

Fix option value for
  src/libs/Navigation/PlatformStackNavigation/navigationOptions/animation/none/index.ts
  src/libs/Navigation/PlatformStackNavigation/navigationOptions/animation/slideFromBottom/index.ts
  src/libs/Navigation/PlatformStackNavigation/navigationOptions/animation/slideFromLeft/index.ts
  src/libs/Navigation/PlatformStackNavigation/navigationOptions/animation/slideFromRight/index.ts
Owners: @Expensify/pullerbear

Make it clear that after sign out redirect does nothing non-native
  src/libs/actions/Session/afterSignOutRedirect/index.native.ts
Owners: @Expensify/pullerbear

Update Managing-Expenses-in-a-Report.md
  docs/articles/new-expensify/reports-and-expenses/Managing-Expenses-in-a-Report.md
Owners: @Expensify/pullerbear

Prevent displaying Onboarding help button on archived report
  src/pages/home/HeaderView.tsx
Owners: @Expensify/pullerbear

Update redirects.csv
  docs/redirects.csv
Owners: @Expensify/pullerbear

download all files when switch is disabled
  src/components/RecordTroubleshootDataToolMenu/BaseRecordTroubleshootDataToolMenu.tsx
  src/components/RecordTroubleshootDataToolMenu/index.android.tsx
  src/components/RecordTroubleshootDataToolMenu/index.ios.tsx
  src/components/RecordTroubleshootDataToolMenu/index.tsx
Owners: @Expensify/pullerbear

Use web implementation of after signout redirect to fix test
  tests/actions/SessionTest.ts
Owners: @Expensify/pullerbear

chore: minor clean up
  src/components/Attachments/AttachmentCarousel/AttachmentCarouselView/AttachmentCarouselView.tsx
  src/pages/iou/request/step/IOURequestStepScan/ReceiptViewModal/index.tsx
Owners: @Expensify/pullerbear

Updating several resources in the Expensify Card category of the help site to reflect navigation changes
  docs/articles/new-expensify/expensify-card/Add-Expensify-Card-to-Apple-or-Google-Pay.md
Owners: @Expensify/pullerbear

remove transaction on deleteMoneyRequest
  src/components/MoneyRequestHeader.tsx
Owners: @Expensify/pullerbear

removed option managerID
  src/libs/ReportPrimaryActionUtils.ts
  src/libs/actions/Policy/Member.ts
Owners: @Expensify/pullerbear

fix PR comments
  src/components/HTMLEngineProvider/BaseHTMLEngineProvider.tsx
  src/components/Search/index.tsx
  src/components/SelectionList/Search/ReportListItem.tsx
  src/components/SelectionList/Search/ReportListItemHeader.tsx
  src/components/SelectionList/Search/TransactionListItem.tsx
  src/components/SelectionList/Search/UserInfoAndActionButtonRow.tsx
  src/components/SelectionList/types.ts
  src/components/TransactionItemRow/DataCells/MerchantCell.tsx
  src/components/TransactionItemRow/index.tsx
Owners: @Expensify/pullerbear

Fix section header paddings to 8px
  src/pages/Search/SearchPageNarrow.tsx
  src/pages/Search/SearchTypeMenu.tsx
  src/pages/home/sidebar/SidebarLinks.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
