Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

Merge pull request #66130 from rayane-d/fix-unabe-to-add-unreported-expense-to-report
  src/pages/AddUnreportedExpense.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.81-4
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

fix: incorrect next step
  src/libs/NextStepUtils.ts
Owners: @Expensify/pullerbear

remove redundant views in Search components
  src/components/Search/SearchPageHeader/SearchPageHeader.tsx
  src/components/SelectionList/Search/UserInfoAndActionButtonRow.tsx
  src/components/SelectionList/Search/UserInfoCell.tsx
  src/components/SelectionList/Search/UserInfoCellsWithArrow.tsx
Owners: @Expensify/pullerbear

cleanup shouldHideSplash logic
  src/App.tsx
  src/Expensify.tsx
  src/ONYXKEYS.ts
  src/components/BookTravelButton.tsx
Owners: @Expensify/pullerbear

remove redundant views from MoneyRequestReportTransactionList
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionList.tsx
Owners: @Expensify/pullerbear

wait for UI udpates before checking item in the screen
  tests/ui/LHNItemsPresence.tsx
Owners: @Expensify/pullerbear

fix degraded performance when signing out from OD by bumping react-native-performance
  package-lock.json
  package.json
  patches/react-native-performance+5.1.0+001+bridgeless.patch
  patches/react-native-performance+5.1.4+001+fix-soft-crash-by-checking-for-active-react-instance.patch
Owners: @Expensify/pullerbear

fix lint issues
  src/components/Modal/ReanimatedModal/Container/index.web.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/pullerbear, @Expensify/design

shouldUseNarrowLayout not necessary after other PR merge
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/design, @Expensify/pullerbear

use date preset values as is in suggestions
  src/components/Search/SearchAutocompleteList.tsx
  src/components/Search/SearchRouter/buildSubstitutionsMap.ts
  src/libs/SearchAutocompleteUtils.ts
  src/libs/SearchQueryUtils.ts
Owners: @Expensify/pullerbear

fix: validate legal name
  src/pages/settings/Profile/PersonalDetails/LegalNamePage.tsx
Owners: @Expensify/pullerbear

Fix: Show all violations for multi-level tags and display tags as comma-separated in transaction preview
  src/components/ReportActionItem/TransactionPreview/TransactionPreviewContent.tsx
  src/libs/PolicyUtils.ts
  src/libs/Violations/ViolationsUtils.ts
Owners: @Expensify/pullerbear

fixed spelling errors
  src/components/ReportActionItem/TransactionPreview/TransactionPreviewContent.tsx
  src/libs/PolicyUtils.ts
Owners: @Expensify/pullerbear

Fix: Show all violations for multi-level tags and display tags as comma-separated in transaction preview and reports screen
  src/components/TransactionItemRow/TransactionItemRowRBRWithOnyx.tsx
  src/libs/PolicyUtils.ts
  src/libs/TransactionUtils/index.ts
  src/libs/Violations/ViolationsUtils.ts
  src/types/onyx/Transaction.ts
Owners: @Expensify/pullerbear

fixed typescript issue in debugUtils
  src/libs/DebugUtils.ts
Owners: @Expensify/pullerbear

Remove redundant tag-level violation messages in transaction preview as we are using tagViolation count now
  src/components/ReportActionItem/TransactionPreview/TransactionPreviewContent.tsx
Owners: @Expensify/pullerbear

changed comma separated violations to dot separated and added tag violation count logic in transaction preview
  src/libs/TransactionPreviewUtils.ts
  src/libs/Violations/ViolationsUtils.ts
Owners: @Expensify/pullerbear

rename getTagViolationCount to getMultiLevelTagViolationsCount
  src/libs/TransactionPreviewUtils.ts
Owners: @Expensify/pullerbear

fixed pr comments
  src/libs/PolicyUtils.ts
Owners: @Expensify/pullerbear

fixed comment
  src/libs/Violations/ViolationsUtils.ts
Owners: @Expensify/pullerbear

fixed pr comments
  src/libs/TransactionPreviewUtils.ts
Owners: @Expensify/pullerbear

resolved conflicts
  src/libs/DebugUtils.ts
  src/types/onyx/Transaction.ts
Owners: @Expensify/pullerbear

lint
  src/libs/SearchAutocompleteUtils.ts
Owners: @Expensify/pullerbear

update checkmark icon
  src/components/Checkbox.tsx
  src/pages/OnboardingInterestedFeatures/BaseOnboardingInterestedFeatures.tsx
Owners: @Expensify/pullerbear

Add tests and bones of paths input
  scripts/generateTranslations.ts
  tests/unit/generateTranslationsTest.ts
Owners: @Expensify/pullerbear

Improve onboardingInitialPath check
  src/hooks/useOnboardingFlow.ts
  src/libs/Navigation/NavigationRoot.tsx
  src/libs/actions/Report.ts
  src/libs/actions/Welcome/OnboardingFlow.ts
Owners: @Expensify/pullerbear

call finishBackgroundProcessing native code
  src/libs/Notification/PushNotification/subscribeToPushNotifications.ts
  src/types/modules/react-native.d.ts
Owners: @Expensify/pullerbear

update the divider
  src/components/AnimatedCollapsible/index.tsx
  src/components/SelectionList/Search/CardListItemHeader.tsx
  src/components/SelectionList/Search/MemberListItemHeader.tsx
  src/components/SelectionList/Search/ReportListItemHeader.tsx
  src/components/SelectionList/Search/TransactionGroupListItem.tsx
  src/components/SelectionList/SearchTableHeader.tsx
  src/styles/utils/index.ts
  src/styles/variables.ts
Owners: @Expensify/pullerbear, @Expensify/design

update divider place
  src/components/AnimatedCollapsible/index.tsx
Owners: @Expensify/pullerbear

add working counter before refactor
  src/components/HeaderWithBackButton/index.tsx
  src/components/HeaderWithBackButton/types.ts
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportView.tsx
  src/components/PrevNextButtons.tsx
Owners: @Expensify/pullerbear

remove padding right
  src/components/AnimatedCollapsible/index.tsx
  src/components/SelectionList/Search/CardListItemHeader.tsx
  src/components/SelectionList/Search/ReportListItemHeader.tsx
  src/components/SelectionList/Search/TransactionGroupListItem.tsx
  src/components/SelectionList/Search/UserInfoAndActionButtonRow.tsx
Owners: @Expensify/pullerbear

fix prettier
  src/components/SelectionList/Search/UserInfoAndActionButtonRow.tsx
Owners: @Expensify/pullerbear

applied offline blocking view for add bank account flow
  src/components/BlockingViews/FullPageOfflineBlockingView.tsx
  src/components/InteractiveStepWrapper.tsx
  src/pages/ReimbursementAccount/NonUSD/Agreements/index.tsx
  src/pages/ReimbursementAccount/NonUSD/BankInfo/BankInfo.tsx
  src/pages/ReimbursementAccount/NonUSD/BeneficialOwnerInfo/BeneficialOwnerInfo.tsx
  src/pages/ReimbursementAccount/NonUSD/BusinessInfo/BusinessInfo.tsx
  src/pages/ReimbursementAccount/NonUSD/Country/Country.tsx
  src/pages/ReimbursementAccount/NonUSD/Docusign/Docusign.tsx
  src/pages/ReimbursementAccount/NonUSD/Finish/index.tsx
  src/pages/ReimbursementAccount/NonUSD/SignerInfo/index.tsx
  src/pages/ReimbursementAccount/ReimbursementAccountPage.tsx
  src/pages/ReimbursementAccount/USD/BankInfo/BankInfo.tsx
  src/pages/ReimbursementAccount/USD/BeneficialOwnerInfo/BeneficialOwnersStep.tsx
  src/pages/ReimbursementAccount/USD/BusinessInfo/BusinessInfo.tsx
  src/pages/ReimbursementAccount/USD/CompleteVerification/CompleteVerification.tsx
  src/pages/ReimbursementAccount/USD/ConnectBankAccount/ConnectBankAccount.tsx
  src/pages/ReimbursementAccount/USD/Requestor/PersonalInfo/PersonalInfo.tsx
  src/pages/ReimbursementAccount/USD/Requestor/VerifyIdentity/VerifyIdentity.tsx
  src/pages/ReimbursementAccount/VerifiedBankAccountFlowEntryPoint.tsx
  src/pages/workspace/WorkspaceResetBankAccountModal.tsx
Owners: @Expensify/pullerbear

fix overlap animation
  src/components/Search/SearchList.tsx
Owners: @Expensify/pullerbear

Revert "Merge pull request #64259 from callstack-internal/feat/waterim/unreport-transaction-v2"
  src/components/MoneyReportHeader.tsx
  src/components/TransactionItemRow/DataCells/ChatBubbleCell.tsx
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/API/parameters/ChangeTransactionsReportParams.ts
  src/libs/ReportUtils.ts
  src/libs/actions/Transaction.ts
  src/pages/Search/SearchTransactionsChangeReport.tsx
  src/pages/iou/request/step/IOURequestEditReport.tsx
  src/pages/iou/request/step/IOURequestEditReportCommon.tsx
  src/pages/iou/request/step/IOURequestStepReport.tsx
Owners: @Expensify/pullerbear

avoid creating violations for invoices
  src/components/MoneyRequestConfirmationList.tsx
  src/libs/ReportUtils.ts
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

Fix flaky test UnreadIndicatorsTest
  tests/ui/UnreadIndicatorsTest.tsx
Owners: @Expensify/pullerbear

fix: first and Last name entered during onboarding is not saved
  src/pages/OnboardingAccounting/BaseOnboardingAccounting.tsx
Owners: @Expensify/pullerbear

remove withOnyx on SuggestionEmoji
  src/pages/home/report/ReportActionCompose/SuggestionEmoji.tsx
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
