Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

fix: RBR appear after remove unverify contact method
  src/pages/settings/Profile/Contacts/ContactMethodDetailsPage.tsx
  tests/unit/ContactMethodDetailsPageTest.tsx
Owners: @Expensify/pullerbear

fix: test
  tests/unit/SidebarUtilsTest.ts
Owners: @Expensify/pullerbear

fix: minor improvement
  src/pages/settings/Wallet/CountrySelectionList.tsx
Owners: @Expensify/pullerbear

CHange REPORT_MOVE_TYPE to REPORT.MOVE_TYPE
  src/CONST/index.ts
  src/components/LHNOptionsList/LHNOptionsList.tsx
  src/components/LHNOptionsList/OptionRowLHNData.tsx
  src/libs/ModifiedExpenseMessage.ts
  src/libs/OptionsListUtils.ts
  src/libs/ReportUtils.ts
  src/libs/actions/Report.ts
  src/pages/home/report/ContextMenu/BaseReportActionContextMenu.tsx
  src/pages/home/report/ReportActionItem.tsx
  tests/unit/ModifiedExpenseMessageTest.ts
Owners: @Expensify/pullerbear

fix: deleted expense box with comments is shown & app navigates to concierge
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

fix(63871): reorg patches
  patches/expo-av/details.md
  patches/expo-av/expo-av+15.1.5+001+fix-blank-screen-android.patch
  patches/expo-av/expo-av+15.1.5+002+handle-unsupported-videos-ios.patch
  patches/expo-av/expo-av+15.1.5+003+android-enable-16kb-memory-page-size.patch
  patches/expo-modules-core/details.md
  patches/expo-modules-core/expo-modules-core+2.3.12+001+disableViewRecycling.patch
  patches/expo-modules-core/expo-modules-core+2.3.12+002+android-enable-16kb-memory-page-size.patch
  patches/react-native-fs/details.md
  patches/react-native-fs/react-native-fs+2.20.0+001+android-jni-packaging-for-16kb-memory-page-size.patch
  patches/react-native-pdf/details.md
  patches/react-native-pdf/react-native-pdf+6.7.7.patch
  patches/react-native-safe-area-context/details.md
Owners: @Expensify/pullerbear

Make movedFromOrToReportMessage optional
  src/libs/ModifiedExpenseMessage.ts
  src/libs/Notification/LocalNotification/types.ts
  tests/unit/ModifiedExpenseMessageTest.ts
Owners: @Expensify/pullerbear

Update src/components/Modal/ReanimatedModal/Container/index.tsx
  src/components/Modal/ReanimatedModal/Container/index.tsx
Owners: @Expensify/pullerbear

fix(63871): make contentAfterStartOfChecklist optional
  .github/actions/javascript/authorChecklist/authorChecklist.ts
  .github/actions/javascript/authorChecklist/index.js
Owners: @Expensify/pullerbear

fix: temporarily revert the empty wrapper
  src/pages/settings/Wallet/WalletPage/WalletPage.tsx
Owners: @Expensify/pullerbear

perf: useTransactionViolations called on a list-item level
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionItem.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionList.tsx
  src/components/TransactionItemRow/index.tsx
Owners: @Expensify/pullerbear

fix(63871): remove redundant 16kb script
  scripts/check-16kb-android.sh
Owners: @Expensify/pullerbear

fix(63871): fix 16kb alignment script to pass on CI
  scripts/check-android-16kb-memory-page-size-compatibility.sh
Owners: @Expensify/pullerbear

fix: apply requested changes
  src/pages/settings/Wallet/CountrySelectionList.tsx
Owners: @Expensify/pullerbear

fix: prettier
  src/pages/settings/Wallet/CountrySelectionList.tsx
Owners: @Expensify/pullerbear

Remove unnecessary movedFromOrToReportMessage after making it optional
  src/libs/OptionsListUtils.ts
  tests/perf-test/ModifiedExpenseMessage.perf-test.ts
  tests/perf-test/SidebarUtils.perf-test.ts
  tests/unit/ModifiedExpenseMessageTest.ts
  tests/unit/SidebarUtilsTest.ts
Owners: @Expensify/pullerbear

Revert "[CP Staging] Revert "fix: approve button is present after submitting a scan expense with missing amount""
  src/components/MoneyReportHeader.tsx
  src/libs/NextStepUtils.ts
  src/libs/ReportPrimaryActionUtils.ts
  src/libs/TransactionUtils/index.ts
  tests/unit/ReportPrimaryActionUtilsTest.ts
Owners: @Expensify/pullerbear

fix prettier
  src/hooks/useEffectOnMount.ts
Owners: @Expensify/pullerbear

fix: hovering over the new user avatar does not display email
  src/components/ReportActionAvatars/index.tsx
  src/components/ReportActionAvatars/useReportActionAvatars.ts
  src/pages/workspace/WorkspaceInviteMessagePage.tsx
Owners: @Expensify/pullerbear

feat: allow switching between metro and repack
  rnef.config.mjs
  rspack.config.mjs
Owners: @Expensify/pullerbear

feat: uncomment fullstory plugin
  babel.config.js
Owners: @Expensify/pullerbear

update code
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

formulatest reintroduction
  src/libs/OptimisticReportNames.ts
  src/libs/OptimisticReportNamesConnectionManager.ts
Owners: @Expensify/pullerbear

fix(63871): add cspell words
  cspell.json
Owners: @Expensify/pullerbear

fix missing merchant case
  src/libs/TransactionUtils/index.ts
Owners: @Expensify/pullerbear

revert revert PR
  src/CONST/index.ts
  src/ONYXKEYS.ts
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportNavigation.tsx
  src/components/PrevNextButtons.tsx
  src/components/Search/index.tsx
  src/components/Search/types.ts
  src/libs/API/types.ts
  src/libs/ReportUtils.ts
  src/libs/actions/ReportNavigation.ts
  src/libs/actions/Search.ts
  src/styles/utils/flex.ts
  src/styles/utils/sizing.ts
  src/types/onyx/ReportNavigation.ts
  src/types/onyx/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix: fullstory babel plugin
  patches/@fullstory+babel-plugin-react-native+1.4.1.patch
Owners: @Expensify/pullerbear

fix prettier issue
  tests/perf-test/ModifiedExpenseMessage.perf-test.ts
Owners: @Expensify/pullerbear

perf: useTransactionViolations called on a list-item level
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionList.tsx
  src/components/SelectionList/Search/TransactionGroupListItem.tsx
  src/components/SelectionList/Search/TransactionListItem.tsx
  src/components/TransactionItemRow/index.tsx
Owners: @Expensify/pullerbear

fix test
  tests/actions/ReportPreviewActionUtilsTest.ts
  tests/unit/ReportPrimaryActionUtilsTest.ts
  tests/unit/TransactionPreviewUtils.test.ts
  tests/unit/ViolationUtilsTest.ts
Owners: @Expensify/pullerbear

Remove backTo from ROUTES.SEARCH_MONEY_REQUEST_REPORT
  src/ROUTES.ts
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportView.tsx
  src/components/Search/index.tsx
  src/libs/Navigation/types.ts
  src/libs/SearchUIUtils.ts
  src/pages/Search/EmptySearchView.tsx
  src/pages/Search/SearchMoneyRequestReportPage.tsx
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
Owners: @Expensify/pullerbear

add exfy travel tab
  docs/assets/js/main.js
  docs/assets/js/platform-tabs.js
Owners: @Expensify/design, @Expensify/pullerbear

rm platform id
  docs/articles/new-expensify/connections/quickbooks-desktop/QuickBooks-Desktop-Troubleshooting.md
  docs/articles/travel/travel-policy/Approving-Travel.md
Owners: @Expensify/pullerbear

run prettier
  tests/unit/ReportPrimaryActionUtilsTest.ts
  tests/unit/TransactionPreviewUtils.test.ts
  tests/unit/TransactionUtilsTest.ts
Owners: @Expensify/pullerbear

fix: restructure screen props
  src/pages/Share/ShareDetailsPage.tsx
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
  src/pages/media/AttachmentModalScreen/routes/TransactionReceiptModalContent.tsx
  src/pages/media/AttachmentModalScreen/routes/report/ReportAddAttachmentModalContent.tsx
  src/pages/media/AttachmentModalScreen/routes/report/ReportAttachmentModalContent.tsx
  src/pages/media/AttachmentModalScreen/routes/report/hooks/useNavigateToReportOnRefresh.ts
  src/pages/media/AttachmentModalScreen/routes/report/hooks/useReportAttachmentModalType.ts
Owners: @Expensify/pullerbear

fix: workspace empty state is not centered
  src/pages/workspace/WorkspacesListPage.tsx
Owners: @Expensify/pullerbear

pretty
  docs/assets/js/main.js
Owners: @Expensify/design, @Expensify/pullerbear

fix:68830: clear error on BA confirmation step
  src/pages/settings/Wallet/InternationalDepositAccount/substeps/Confirmation.tsx
Owners: @Expensify/pullerbear

remove backTo & forwardTo from wallets verify account page
  src/ROUTES.ts
  src/SCREENS.ts
  src/libs/Navigation/AppNavigator/ModalStackNavigators/index.tsx
  src/libs/Navigation/linkingConfig/RELATIONS/SETTINGS_TO_RHP.ts
  src/libs/Navigation/linkingConfig/config.ts
  src/libs/Navigation/types.ts
  src/pages/settings/Wallet/VerifyAccountPage.tsx
  src/pages/settings/Wallet/WalletPage/WalletPage.tsx
Owners: @Expensify/pullerbear

perf: useTransactionViolations called on a list-item level
  src/components/MoneyRequestReportView/MoneyRequestReportView.tsx
Owners: @Expensify/pullerbear
