Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

update cmts
  src/libs/UserUtils.ts
  src/pages/settings/InitialSettingsPage.tsx
Owners: @Expensify/pullerbear

Preserve the amount and currency for card transaction
  src/libs/MergeTransactionUtils.ts
Owners: @Expensify/pullerbear

fix: inconsistent emoji format for markdown
  src/components/EmojiWithTooltip/index.tsx
  src/styles/utils/display.ts
  src/styles/utils/emojiDefaultStyles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

Eslint errors
  src/libs/Formula.ts
  src/libs/OptimisticReportNames.ts
  src/libs/OptimisticReportNamesConnectionManager.ts
  tests/perf-test/OptimisticReportNames.perf-test.ts
  tests/unit/OptimisticReportNamesTest.ts
Owners: @Expensify/pullerbear

add dismisal logic for modal, show all data report-level for invoices
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/pages/Search/SearchPage.tsx
Owners: @Expensify/pullerbear

add undefined type
  src/libs/UserUtils.ts
  src/pages/settings/Profile/Contacts/NewContactMethodPage.tsx
  src/pages/settings/Security/TwoFactorAuth/VerifyPage.tsx
Owners: @Expensify/pullerbear

updates after merge
  src/CONST/index.ts
  src/libs/actions/Policy/Policy.ts
  src/pages/workspace/WorkspaceInitialPage.tsx
  src/types/onyx/Policy.ts
Owners: @Expensify/pullerbear

spellcheck
  src/libs/OptimisticReportNames.ts
Owners: @Expensify/pullerbear

Remove unnecessary patch
  patches/react-native-reanimated/details.md
  patches/react-native-reanimated/react-native-reanimated+3.19.1+003+hybrid-app.patch
Owners: @Expensify/pullerbear

add Uts
  tests/unit/useAccountTabIndicatorStatusTest.ts
  tests/unit/useIndicatorStatusTest.ts
Owners: @Expensify/pullerbear

fix: implement physical-first sorting for Expensify cards in PaymentMethodList
  src/libs/CardUtils.ts
  src/pages/settings/Wallet/PaymentMethodList.tsx
  tests/unit/CardUtilsTest.ts
Owners: @Expensify/pullerbear

fix lint issue in imports order
  tests/unit/CardUtilsTest.ts
Owners: @Expensify/pullerbear

updates translations
  src/languages/de.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

add local promise defer and immutable state
  __mocks__/p-defer.ts
  jest.config.js
  package-lock.json
  package.json
  src/components/Modal/PromiseModal/ModalContext.tsx
  src/libs/createDeferredPromise.ts
Owners: @Expensify/pullerbear

fix lint issues related to object types
  tests/unit/CardUtilsTest.ts
Owners: @Expensify/pullerbear

typecheck errors
  src/libs/OptimisticReportNames.ts
  tests/perf-test/OptimisticReportNames.perf-test.ts
  tests/unit/OptimisticReportNamesTest.ts
Owners: @Expensify/pullerbear

suppress typescript error
  tests/unit/OnyxDerivedTest.tsx
  tests/unit/OptionsListUtilsTest.tsx
Owners: @Expensify/pullerbear

update new method's doc comment.
  src/libs/CardUtils.ts
Owners: @Expensify/pullerbear

use export template instead of csvexportlayout and integrationserverexporttemplate
  src/ONYXKEYS.ts
  src/components/MoneyReportHeader.tsx
  src/hooks/useSelectedTransactionsActions.ts
  src/libs/ReportSecondaryActionUtils.ts
  src/pages/Search/SearchPage.tsx
  src/types/onyx/CsvExportLayout.ts
  src/types/onyx/ExportTemplate.ts
  src/types/onyx/IntegrationServerExportTemplate.ts
  src/types/onyx/Policy.ts
  src/types/onyx/index.ts
Owners: @Expensify/pullerbear

lint fixes
  src/libs/OptimisticReportNames.ts
  tests/perf-test/OptimisticReportNames.perf-test.ts
Owners: @Expensify/pullerbear

remove unused spread
  src/pages/Search/SearchPage.tsx
Owners: @Expensify/pullerbear

correct page name
  src/pages/workspace/receiptPartners/WorkspaceReceiptPartnersPage.tsx
Owners: @Expensify/pullerbear

fix eslint
  src/pages/workspace/duplicate/WorkspaceDuplicateForm.tsx
Owners: @Expensify/pullerbear

Temporary disable merge action
  src/libs/ReportSecondaryActionUtils.ts
Owners: @Expensify/pullerbear

fix bug
  package.json
  src/pages/settings/Profile/PersonalDetails/PersonalAddressPage.tsx
Owners: @Expensify/pullerbear

Update comment
  src/libs/ReportSecondaryActionUtils.ts
Owners: @Expensify/pullerbear

Update assets/images/integrationicons/uber.svg
  assets/images/integrationicons/uber.svg
Owners: @Expensify/design, @Expensify/pullerbear

fix: Validation loophole in global reimbursements
  src/pages/ReimbursementAccount/NonUSD/utils/getInitialSubStepForBankInfoStep.ts
  src/pages/ReimbursementAccount/NonUSD/utils/getInitialSubStepForBusinessInfoStep.ts
Owners: @Expensify/pullerbear

minor fixes.
  src/libs/ReportUtils.ts
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
Owners: @Expensify/pullerbear

lint/type
  src/hooks/useSelectedTransactionsActions.ts
Owners: @Expensify/pullerbear

rollback
  src/libs/HttpUtils.ts
  src/libs/actions/Policy/Policy.ts
Owners: @Expensify/pullerbear

fix: linter
  src/pages/ReimbursementAccount/NonUSD/utils/getInitialSubStepForBusinessInfoStep.ts
Owners: @Expensify/pullerbear

enabled reanimated in this two specific modals and fixed styles
  src/components/MoneyReportHeader.tsx
  src/components/RequireTwoFactorAuthenticationModal.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix: prettier fixes
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

fix prettier
  tests/unit/Search/SearchUIUtilsTest.ts
Owners: @Expensify/pullerbear

Add files via upload
  docs/assets/images/export.png
Owners: @Expensify/design, @Expensify/pullerbear

Update lint command in package.json to reduce max warnings
  package.json
Owners: @Expensify/pullerbear

fix: show submit button if report has been retracted/ reopened
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/libs/ReportActionsUtils.ts
  src/libs/ReportPreviewActionUtils.ts
  src/libs/ReportPrimaryActionUtils.ts
  src/libs/ReportSecondaryActionUtils.ts
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

add module description & remove unused imports
  android/app/src/main/java/com/expensify/chat/AppStateTrackerModule.kt
  android/app/src/main/java/com/expensify/chat/MainApplication.kt
Owners: @Expensify/pullerbear

remove scrollview
  src/pages/workspace/duplicate/WorkspaceDuplicateSelectFeaturesForm.tsx
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
