Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

chore: revert comment
  src/pages/EnablePayments/OnfidoPrivacy.tsx
Owners: @Expensify/pullerbear

chore: add comment to explain initWithStoredValues
  src/pages/EnablePayments/EnablePaymentsPage.tsx
  src/pages/EnablePayments/OnfidoStep.tsx
Owners: @Expensify/pullerbear

Remove it from the rules page
  src/pages/workspace/rules/PolicyRulesPage.tsx
Owners: @Expensify/pullerbear

don't store View in state
  src/components/TabSelector/TabSelector.tsx
  src/components/TabSelector/TabSelectorItem.tsx
Owners: @Expensify/pullerbear

correct spanish task
  src/languages/es.ts
Owners: @Expensify/pullerbear

Change currency modal to reanimated
  src/components/AddPaymentCard/PaymentCardCurrencyModal.tsx
Owners: @Expensify/pullerbear

Migrated to full AST
  .github/scripts/findUnusedStyles.ts
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix: minor changes
  src/components/DropZone/DualDropZone.tsx
  src/pages/Search/SearchPage.tsx
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

Lint
  src/languages/de.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/pages/workspace/rules/PolicyRulesPage.tsx
Owners: @Expensify/pullerbear

add `onURLListenerAdded` method to notify OD about ND listener
  modules/hybrid-app/android/src/main/java/com/expensify/reactnativehybridapp/ReactNativeHybridApp.kt
  modules/hybrid-app/ios/ReactNativeHybridApp.mm
  modules/hybrid-app/src/NativeReactNativeHybridApp.ts
  modules/hybrid-app/src/index.native.ts
  modules/hybrid-app/src/index.ts
  modules/hybrid-app/src/types.ts
  src/Expensify.tsx
Owners: @Expensify/pullerbear

Add comments for future reference
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

Moving out extractKeyFromPropertyNode
  .github/scripts/findUnusedStyles.ts
  scripts/utils/TSCompilerUtils.ts
  tests/unit/TSCompilerUtilsTest.ts
Owners: @Expensify/pullerbear

fix: eslint
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
Owners: @Expensify/pullerbear

fix: handling edge cases
  src/CONST/index.ts
  src/libs/API/parameters/RestartBankAccountSetupParams.ts
  src/libs/actions/ReimbursementAccount/resetUSDBankAccount.ts
  src/pages/ReimbursementAccount/ReimbursementAccountPage.tsx
  src/pages/ReimbursementAccount/USD/BankInfo/BankInfo.tsx
  src/pages/ReimbursementAccount/USD/BankInfo/subSteps/Manual.tsx
  src/pages/ReimbursementAccount/USD/Country/Country.tsx
  src/pages/ReimbursementAccount/USD/USDVerifiedBankAccountFlow.tsx
  src/pages/workspace/WorkspaceResetBankAccountModal.tsx
Owners: @Expensify/pullerbear

Remove the useTableReportView
  src/libs/API/parameters/OpenReportParams.ts
  src/libs/actions/Report.ts
  src/pages/Search/SearchMoneyRequestReportPage.tsx
  src/pages/Share/ShareDetailsPage.tsx
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

Update fonts
  assets/fonts/native/ExpensifyNeue-Bold.otf
  assets/fonts/native/ExpensifyNeue-Regular.otf
  assets/fonts/web/ExpensifyNeue-Bold.woff
  assets/fonts/web/ExpensifyNeue-Bold.woff2
  assets/fonts/web/ExpensifyNeue-Regular.woff
  assets/fonts/web/ExpensifyNeue-Regular.woff2
Owners: @Expensify/design, @Expensify/pullerbear

Update fonts
  assets/fonts/native/ExpensifyNeue-Bold.otf
  assets/fonts/native/ExpensifyNeue-Regular.otf
  assets/fonts/web/ExpensifyNeue-Bold.woff
  assets/fonts/web/ExpensifyNeue-Bold.woff2
  assets/fonts/web/ExpensifyNeue-Regular.woff
  assets/fonts/web/ExpensifyNeue-Regular.woff2
Owners: @Expensify/design, @Expensify/pullerbear

fix prettier
  modules/hybrid-app/src/index.native.ts
  modules/hybrid-app/src/index.ts
  src/Expensify.tsx
Owners: @Expensify/pullerbear

address code review comments
  src/components/MoneyRequestConfirmationList.tsx
  src/pages/home/report/PureReportActionItem.tsx
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
Owners: @Expensify/pullerbear

Update fonts
  assets/fonts/native/ExpensifyNeue-Bold.otf
  assets/fonts/native/ExpensifyNeue-Regular.otf
  assets/fonts/web/ExpensifyNeue-Bold.woff
  assets/fonts/web/ExpensifyNeue-Bold.woff2
  assets/fonts/web/ExpensifyNeue-Regular.woff
  assets/fonts/web/ExpensifyNeue-Regular.woff2
Owners: @Expensify/design, @Expensify/pullerbear

work in progress
  src/ONYXKEYS.ts
  src/components/MoneyRequestReportView/MoneyRequestReportView.tsx
  src/components/Search/index.tsx
  src/libs/actions/ReportNavigation.ts
Owners: @Expensify/pullerbear

fix: improve performance for translation
  src/libs/Localize/index.ts
Owners: @Expensify/pullerbear

Fixing TS errors
  tests/unit/findUnusedStylesTest.ts
Owners: @Expensify/pullerbear

prevent text selection on mweb iOS
  src/components/SelectionList/Search/TransactionGroupListItem.tsx
  src/components/SelectionList/Search/TransactionListItem.tsx
Owners: @Expensify/pullerbear

Revert "feat: Reduce amount of items displayed per page of SelectionList"
  src/CONST/index.ts
  src/components/SelectionList/BaseSelectionList.tsx
Owners: @Expensify/pullerbear

Reverted the reverted changes from main
  src/ROUTES.ts
  src/components/MoneyRequestHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionList.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionsNavigation.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportView.tsx
  src/libs/Navigation/types.ts
  src/pages/home/ReportScreen.tsx
  src/pages/home/report/ReportActionsList.tsx
  src/pages/home/report/ReportActionsView.tsx
Owners: @Expensify/pullerbear

Narrow down disabling bottom padding to FeatureTrainingScrollable modals only
  src/components/FeatureTrainingModal.tsx
  src/components/Modal/BaseModal.tsx
  src/components/Modal/types.ts
  src/components/withKeyboardState.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
  src/styles/utils/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

revert the InvertedList in the ReportActionsList
  src/pages/home/report/ReportActionsList.tsx
Owners: @Expensify/pullerbear

Spellcheck typo
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.81-3
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.81-3
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #66157 from callstack-internal/revert-65846-feat/65634-reduce-amount-of-items-per-page-of-selection-list
  src/CONST/index.ts
  src/components/SelectionList/BaseSelectionList.tsx
Owners: @Expensify/pullerbear

add dedent
  tests/unit/findUnusedStylesTest.ts
Owners: @Expensify/pullerbear

reduce amount of cloneDeep calls
  src/components/HTMLEngineProvider/HTMLRenderers/MentionUserRenderer.tsx
Owners: @Expensify/pullerbear

disable auto focus on mobile on 2fa page
  src/components/MagicCodeInput.tsx
  src/pages/settings/Security/TwoFactorAuth/TwoFactorAuthForm/BaseTwoFactorAuthForm.tsx
  src/pages/settings/Security/TwoFactorAuth/TwoFactorAuthForm/types.ts
  src/pages/settings/Security/TwoFactorAuth/VerifyPage.tsx
Owners: @Expensify/pullerbear

remove unnecessary chatReport calls
  src/components/MoneyReportHeader.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/components/SettlementButton/types.ts
Owners: @Expensify/pullerbear

Apply suggestions from code review
  tests/ui/PureReportActionItemTest.tsx
Owners: @Expensify/pullerbear

Fix avatars in Details panel
  src/components/MultipleAvatars.tsx
  src/components/ReportActionItem/SingleReportAvatar.tsx
  src/components/SubscriptAvatar.tsx
  src/pages/ReportDetailsPage.tsx
  src/styles/index.ts
  src/styles/utils/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix: incorrect next step
  src/libs/NextStepUtils.ts
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

Update version to 9.1.81-4
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
