Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

removed test
  tests/unit/postTestCoverageCommentTest.ts
Owners: @Expensify/pullerbear

Update version to 9.1.89-15
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #67966 from Expensify/cmartins-fixReportCreation
  src/hooks/useSearchHighlightAndScroll.ts
Owners: @Expensify/pullerbear

added group currency filter page
  src/ROUTES.ts
  src/SCREENS.ts
  src/components/Search/SearchSingleSelectionPicker.tsx
  src/languages/en.ts
  src/libs/Navigation/AppNavigator/ModalStackNavigators/index.tsx
  src/libs/Navigation/linkingConfig/RELATIONS/SEARCH_TO_RHP.ts
  src/libs/Navigation/linkingConfig/config.ts
  src/pages/Search/AdvancedSearchFilters.tsx
  src/pages/Search/SearchAdvancedFiltersPage/SearchFiltersGroupCurrencyPage.tsx
Owners: @Expensify/pullerbear

fix: search name and last name
  src/components/Search/SearchAutocompleteList.tsx
  src/components/Search/SearchPageHeader/SearchPageHeaderInput.tsx
  src/components/Search/SearchRouter/SearchRouter.tsx
Owners: @Expensify/pullerbear

add group currency filter to allowed list + correctly build query string from form filter values
  src/libs/SearchQueryUtils.ts
  src/types/form/SearchAdvancedFiltersForm.ts
Owners: @Expensify/pullerbear

fix category and tag list gets deselected when editing list item name
  src/pages/workspace/categories/WorkspaceCategoriesPage.tsx
Owners: @Expensify/pullerbear

chore: add test cases
  tests/unit/SearchAutocompleteContinuationTest.ts
  tests/unit/SearchAutocompleteParserTest.ts
Owners: @Expensify/pullerbear

chore: add test cases
  src/components/Search/SearchAutocompleteList.tsx
  tests/unit/SearchAutocompleteContinuationTest.ts
Owners: @Expensify/pullerbear

fix: pipeline
  src/components/Search/SearchAutocompleteList.tsx
  src/styles/index.ts
  tests/unit/SearchAutocompleteParserTest.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix lint
  src/components/OptionListContextProvider.tsx
Owners: @Expensify/pullerbear

Update condition to prevent scrolling to end when there is a new message
  src/pages/home/report/ReportActionsList.tsx
Owners: @Expensify/pullerbear

pick necessary props from NumberWithSymbolForm for AmountPicker
  src/components/AmountPicker/types.ts
  src/pages/workspace/taxes/WorkspaceCreateTaxPage.tsx
Owners: @Expensify/pullerbear

fix lint
  src/hooks/useShowNotFoundPageInIOUStep.ts
  src/pages/iou/request/step/IOURequestStepDistance.tsx
  src/pages/iou/request/step/IOURequestStepDistanceRate.tsx
  src/pages/iou/request/step/IOURequestStepMerchant.tsx
  src/pages/iou/request/step/IOURequestStepReport.tsx
Owners: @Expensify/pullerbear

fix ts
  src/ROUTES.ts
  src/components/MoneyRequestConfirmationListFooter.tsx
  src/libs/Navigation/types.ts
  src/pages/iou/request/step/IOURequestStepDistance.tsx
  src/pages/iou/request/step/IOURequestStepDistanceRate.tsx
  src/pages/iou/request/step/IOURequestStepMerchant.tsx
  src/pages/iou/request/step/IOURequestStepReport.tsx
Owners: @Expensify/pullerbear

fix: stuff
  src/components/Search/SearchPageHeader/SearchPageHeaderInput.tsx
  src/components/Search/SearchRouter/SearchRouter.tsx
Owners: @Expensify/pullerbear

pass missing props
  src/components/MoneyRequestAmountInput.tsx
  src/components/NumberWithSymbolForm.tsx
  src/pages/iou/MoneyRequestAmountForm.tsx
Owners: @Expensify/pullerbear

fix: auto complete
  src/components/Search/SearchAutocompleteList.tsx
  src/components/Search/SearchRouter/SearchRouter.tsx
Owners: @Expensify/pullerbear

fix: re-render
  src/components/Search/SearchAutocompleteList.tsx
Owners: @Expensify/pullerbear

remove full width container for split amount inputs
  src/components/MoneyRequestAmountInput.tsx
  src/components/MoneyRequestConfirmationList.tsx
  src/components/NumberWithSymbolForm.tsx
  src/components/OptionRow.tsx
  src/components/SelectionList/SplitListItem.tsx
Owners: @Expensify/pullerbear

update JSDoc comment
  src/components/MoneyRequestAmountInput.tsx
Owners: @Expensify/pullerbear

reset default query on error or clear cache
  src/components/Search/SearchContext.tsx
  src/components/Search/index.tsx
  src/components/Search/types.ts
  src/pages/settings/Troubleshoot/TroubleshootPage.tsx
Owners: @Expensify/pullerbear

clean up props
  src/components/MoneyRequestAmountInput.tsx
Owners: @Expensify/pullerbear

update tooltip text for symbol button
  src/components/SymbolButton.tsx
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

update number state
  src/components/NumberWithSymbolForm.tsx
Owners: @Expensify/pullerbear

Removed Onyx.connect from DistanceRequestUtils
  package.json
  src/libs/DistanceRequestUtils.ts
  src/libs/actions/IOU.ts
  src/pages/iou/request/IOURequestStartPage.tsx
  src/pages/iou/request/step/IOURequestStepDistance.tsx
  src/pages/iou/request/step/IOURequestStepDistanceMap.tsx
  src/pages/iou/request/step/IOURequestStepParticipants.tsx
  tests/unit/DistanceRequestUtilsTest.ts
Owners: @Expensify/pullerbear

eslint
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionList.tsx
  src/components/TransactionItemRow/TransactionItemRowRBRWithOnyx.tsx
Owners: @Expensify/pullerbear

prettier
  src/components/TransactionItemRow/TransactionItemRowRBRWithOnyx.tsx
Owners: @Expensify/pullerbear

reset shouldResetSearchQuery flag when creating a new search
  src/components/Search/SearchRouter/SearchRouter.tsx
  src/components/Search/index.tsx
Owners: @Expensify/pullerbear

fix broken workflow on main
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

Fix pagination test
  tests/ui/PaginationTest.tsx
Owners: @Expensify/pullerbear

fix: Add Transfer owner option
  src/pages/workspace/WorkspaceOverviewPage.tsx
  src/pages/workspace/WorkspacesListPage.tsx
Owners: @Expensify/pullerbear

update keyboard type for IOS
  src/CONST/index.ts
  src/components/AmountWithoutCurrencyInput.tsx
  src/libs/getAmountInputKeyboard/index.android.ts
  src/libs/getAmountInputKeyboard/index.desktop.ts
  src/libs/getAmountInputKeyboard/index.ios.ts
  src/libs/getAmountInputKeyboard/index.ts
  src/libs/getAmountInputKeyboard/type.ts
Owners: @Expensify/pullerbear

fix: App crashes after entering invalid format date
  src/libs/SearchQueryUtils.ts
  src/libs/ValidationUtils.ts
  tests/unit/ValidationUtilsTest.ts
Owners: @Expensify/pullerbear

add logic to auto scroll and highlight
  src/libs/actions/Policy/Policy.ts
  src/pages/workspace/WorkspacesListPage.tsx
  src/pages/workspace/duplicate/WorkspaceDuplicatePage.tsx
Owners: @Expensify/pullerbear

Update package.json
  package.json
Owners: @Expensify/pullerbear

chore: refactor
  src/CONST/index.ts
  src/components/Search/SearchAutocompleteList.tsx
  src/components/Search/SearchRouter/SearchRouter.tsx
Owners: @Expensify/pullerbear

fix: lint
  src/CONST/index.ts
  src/components/Search/SearchRouter/SearchRouter.tsx
Owners: @Expensify/pullerbear

fix tag list diselected when editing name
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
Owners: @Expensify/pullerbear

docs: rm the severity level property from rules
  contributingGuides/review/RULES.md
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
