Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

create hook for getting single item data
  src/components/OnyxProvider.tsx
  src/hooks/useReportTransactionsAndViolations.ts
Owners: @Expensify/pullerbear

fix lint
  src/components/PopoverMenu.tsx
Owners: @Expensify/pullerbear

popover memoization
  src/components/Search/FilterDropdowns/DropdownButton.tsx
Owners: @Expensify/pullerbear

unify format of holding transactions and transactions violations
  src/libs/actions/OnyxDerived/configs/reportTransactionsAndViolations.ts
  src/types/onyx/DerivedValues.ts
Owners: @Expensify/pullerbear

fix: clear error onCancel
  src/components/AttachmentModal.tsx
Owners: @Expensify/pullerbear

atomic updates on derived value
  src/libs/actions/OnyxDerived/configs/reportTransactionsAndViolations.ts
Owners: @Expensify/pullerbear

replace reduce with for of
  src/libs/actions/OnyxDerived/configs/reportTransactionsAndViolations.ts
Owners: @Expensify/pullerbear

Fix avatar for splits
  src/pages/home/report/ReportActionItemSingle.tsx
Owners: @Expensify/pullerbear

update due to PR 65192 reverted ButtonWithDropdownMenu
  src/components/MoneyReportHeader.tsx
Owners: @Expensify/pullerbear

fix: show export if authentication error happens
  src/libs/PolicyUtils.ts
Owners: @Expensify/pullerbear

update useReportWithTransactionsAndViolations hook
  src/hooks/useReportTransactionsAndViolations.ts
  src/hooks/useReportWithTransactionsAndViolations.ts
Owners: @Expensify/pullerbear

perf
  src/components/AccountSwitcher.tsx
  src/components/Search/FilterDropdowns/UserSelectPopup.tsx
  src/components/Search/SearchPageHeader/SearchFiltersBar.tsx
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
Owners: @Expensify/pullerbear

add s77rt comment
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

update code
  src/libs/PolicyUtils.ts
Owners: @Expensify/pullerbear

fix PR comments
  src/components/Modal/BaseModal.tsx
  src/components/Modal/ReanimatedModal/utils.ts
Owners: @Expensify/pullerbear

Remove avatar type check based on actions
  src/pages/home/report/ReportActionItemSingle.tsx
Owners: @Expensify/pullerbear

update code
  src/libs/PolicyUtils.ts
Owners: @Expensify/pullerbear

create styles for ReceiptPreview
  src/components/TransactionItemRow/ReceiptPreview/index.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

perf
  src/components/Navigation/NavigationTabBar/index.tsx
  src/hooks/useChatTabBrickRoad.tsx
  src/libs/WorkspacesSettingsUtils.ts
Owners: @Expensify/pullerbear

add test coverage report workflow
  .github/workflows/octocov.yml
  octocov.yml
Owners: @Expensify/pullerbear

upgrade node version
  .github/workflows/octocov.yml
Owners: @Expensify/pullerbear

update node version
  .github/workflows/octocov.yml
  octocov.yml
Owners: @Expensify/pullerbear

fix canbeMissing
  src/hooks/useTransactionViolations.ts
Owners: @Expensify/pullerbear

add useTransactionsAndViolationsForReport hook
  src/hooks/useTransactionsAndViolationsForReport.ts
Owners: @Expensify/pullerbear

fix: wrong condition
  src/libs/PolicyUtils.ts
Owners: @Expensify/pullerbear

create getAllNonDeletedTransactions function
  src/libs/MoneyRequestReportUtils.ts
Owners: @Expensify/pullerbear

chat bricks
  src/components/Navigation/NavigationTabBar/index.tsx
  src/hooks/useChatTabBrickRoad.tsx
  src/libs/WorkspacesSettingsUtils.ts
Owners: @Expensify/pullerbear

prettier
  src/components/Navigation/NavigationTabBar/index.tsx
Owners: @Expensify/pullerbear

remove using selectAllTransactionsForReport
  src/components/MoneyRequestReportView/MoneyRequestReportView.tsx
  src/libs/MoneyRequestReportUtils.ts
  src/pages/home/ReportScreen.tsx
  src/pages/home/report/ReportActionsView.tsx
Owners: @Expensify/pullerbear

find unused styles pilot
  .github/scripts/findUnusedStyles.ts
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Mermaid renderer fixes
  src/components/HTMLEngineProvider/HTMLRenderers/MermaidRenderer.tsx
  src/components/HTMLEngineProvider/HTMLRenderers/MermaidRenderer/MermaidRenderer.native.tsx
  src/components/HTMLEngineProvider/HTMLRenderers/MermaidRenderer/MermaidRenderer.tsx
  src/components/HTMLEngineProvider/HTMLRenderers/MermaidRenderer/MermaidRenderer.web.tsx
  src/components/HTMLEngineProvider/HTMLRenderers/MermaidRenderer/index.tsx
  src/pages/home/report/ReportDetailsApprovalWorkflowPage.tsx
  src/pages/workspace/workflows/ApprovalChart.tsx
  test-mermaid-chart.md
Owners: @Expensify/pullerbear

Fix Shawn issue & failing test
  __mocks__/reportData/personalDetails.ts
  src/libs/ReportUtils.ts
  src/pages/home/report/ReportActionItemSingle.tsx
  tests/unit/ReportActionItemSingleTest.ts
Owners: @Expensify/pullerbear

refactor: use attachmentmodal on other screens
  src/libs/Navigation/AppNavigator/AuthScreens.tsx
Owners: @Expensify/pullerbear

prettier
  src/components/Search/FilterDropdowns/DropdownButton.tsx
Owners: @Expensify/pullerbear

update webview
  src/pages/Travel/TravelDotLinkWebview.tsx
Owners: @Expensify/pullerbear

fix empty report header
  src/CONST/index.ts
  src/components/MoneyReportHeader.tsx
  src/libs/ReportPrimaryActionUtils.ts
  src/libs/ReportSecondaryActionUtils.ts
  tests/unit/ReportPrimaryActionUtilsTest.ts
Owners: @Expensify/pullerbear

bump `react-native-airship`
  ios/Podfile.lock
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

refactor: migrate remaining screens
  src/ROUTES.ts
  src/components/AttachmentModal.tsx
  src/components/AvatarWithImagePicker.tsx
  src/libs/Navigation/types.ts
  src/pages/ReportAvatar.tsx
  src/pages/Share/ShareDetailsPage.tsx
  src/pages/TransactionReceiptPage.tsx
  src/pages/home/report/ReportActionCompose/AttachmentPickerWithMenuItems.tsx
  src/pages/home/report/ReportActionCompose/ComposerWithSuggestions/ComposerWithSuggestions.tsx
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
  src/pages/settings/Profile/ProfileAvatar.tsx
  src/pages/workspace/WorkspaceAvatar.tsx
Owners: @Expensify/pullerbear

matched staging/production fontSize
  src/components/HTMLEngineProvider/BaseHTMLEngineProvider.tsx
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

Reapply "Feat: Updated the "Download" option to be a push row in both the bulk actions menu and in the More secondary action menu"
  assets/images/integrationicons/export/microsoft-dynamics-icon.svg
  assets/images/integrationicons/export/netsuite-icon.svg
  assets/images/integrationicons/export/netsuite-oracle-icon.svg
  assets/images/integrationicons/export/oracle-icon.svg
  assets/images/integrationicons/export/qbo-icon.svg
  assets/images/integrationicons/export/sage-intacct-icon.svg
  assets/images/integrationicons/export/sap-icon.svg
  assets/images/integrationicons/export/xero-icon.svg
  src/CONST/index.ts
  src/components/Icon/Expensicons.ts
  src/components/MoneyReportHeader.tsx
  src/hooks/useSelectedTransactionsActions.ts
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/ReportSecondaryActionUtils.ts
  src/libs/ReportUtils.ts
  src/pages/Search/SearchPage.tsx
  tests/unit/ReportSecondaryActionUtilsTest.ts
Owners: @Expensify/design, @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
