Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

fixL jest test
  tests/unit/Search/SearchQueryUtilsTest.ts
  tests/unit/Search/SearchUIUtilsTest.ts
  tests/unit/SearchParserTest.ts
Owners: @Expensify/pullerbear

fix: prettier
  tests/unit/Search/SearchUIUtilsTest.ts
Owners: @Expensify/pullerbear

fix PR comments
  src/hooks/useNewTransactions.ts
Owners: @Expensify/pullerbear

add missing variable
  src/styles/variables.ts
Owners: @Expensify/design, @Expensify/pullerbear

fix: update peggy file
  src/libs/SearchParser/searchParser.peggy
Owners: @Expensify/pullerbear

Fix prettier
  src/Expensify.tsx
Owners: @Expensify/pullerbear

fix: jest test
  tests/unit/Search/SearchQueryUtilsTest.ts
  tests/unit/SearchParserTest.ts
  tests/utils/fixtures/searchParsersCommonQueries.ts
Owners: @Expensify/pullerbear

fix typescript
  src/pages/home/report/ReportActionsView.tsx
Owners: @Expensify/pullerbear

Add helper functions
  src/libs/actions/IOU.ts
  src/types/onyx/Transaction.ts
Owners: @Expensify/pullerbear

pass new param
  src/libs/PolicyUtils.ts
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

fix: revert modal changes
  android/app/src/main/res/values-v26/styles.xml
  android/app/src/main/res/values-v31/styles.xml
  android/app/src/main/res/values/styles.xml
  src/components/AccountSwitcher.tsx
  src/components/Modal/BaseModal.tsx
  src/components/Popover/index.tsx
  src/components/Popover/types.ts
  src/components/PopoverMenu.tsx
  src/components/PopoverWithoutOverlay/index.tsx
  src/components/Search/SearchAutocompleteList.tsx
  src/components/ThreeDotsMenu/index.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/pullerbear, @Expensify/design

apply suggested changes
  ios/NewExpensify.xcodeproj/project.pbxproj
  ios/Podfile.lock
  src/components/RecordTroubleshootDataToolMenu/index.tsx
  src/languages/es.ts
Owners: @Expensify/pullerbear

fix: disabled help button in header
  src/pages/iou/request/step/IOURequestStepScan/ReceiptViewModal/index.tsx
Owners: @Expensify/pullerbear

Protect hybridApp functions on standalone
  src/components/BookTravelButton.tsx
  src/libs/actions/HybridApp/index.ts
Owners: @Expensify/pullerbear

Lint fix
  src/components/SelectionList/Search/ReportListItem.tsx
Owners: @Expensify/pullerbear

Revert "[Onboarding Private Domain] - Show workspace options after adding a work email"
  src/pages/OnboardingWorkEmail/BaseOnboardingWorkEmail.tsx
  src/pages/OnboardingWorkEmailValidation/BaseOnboardingWorkEmailValidation.tsx
  tests/ui/WorkEmailOnboarding.tsx
Owners: @Expensify/pullerbear

Revert "refactor SearchRouterContext"
  src/components/Search/SearchRouter/SearchRouterContext.tsx
Owners: @Expensify/pullerbear

fix: apply requested change
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
Owners: @Expensify/pullerbear

styling fix
  src/styles/utils/getMoneyRequestReportPreviewStyle/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

sessionAccountID lifted from TransactionPreview
  src/components/ReportActionItem/MoneyRequestReportPreview/index.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/types.ts
  src/components/ReportActionItem/TransactionPreview/index.tsx
  src/components/ReportActionItem/TransactionPreview/types.ts
  src/pages/home/report/PureReportActionItem.tsx
  src/pages/home/report/ReportActionItemParentAction.tsx
  src/pages/home/report/ReportActionsList.tsx
  src/pages/home/report/ReportActionsListItemRenderer.tsx
Owners: @Expensify/pullerbear

lifted personalDetailsList from TransactionPreview
  src/components/ReportActionItem/MoneyRequestReportPreview/index.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/types.ts
  src/components/ReportActionItem/TransactionPreview/TransactionPreviewContent.tsx
  src/components/ReportActionItem/TransactionPreview/index.tsx
  src/components/ReportActionItem/TransactionPreview/types.ts
  src/pages/home/report/PureReportActionItem.tsx
  src/pages/home/report/ReportActionItem.tsx
  src/pages/home/report/ReportActionItemParentAction.tsx
  src/pages/home/report/ReportActionsList.tsx
  src/pages/home/report/ReportActionsListItemRenderer.tsx
  src/stories/MoneyRequestReportPreview.stories.tsx
  src/stories/TransactionPreviewContent.stories.tsx
Owners: @Expensify/pullerbear

feat: implement new design patterns in the assignee, to, & from search filters
  src/components/Search/SearchFiltersParticipantsSelector.tsx
Owners: @Expensify/pullerbear

fix: add missing extraData to lhn
  src/components/LHNOptionsList/LHNOptionsList.tsx
Owners: @Expensify/pullerbear

add useCallback to decrease render counts for searchRouterContext
  src/components/Search/SearchRouter/SearchRouterContext.tsx
Owners: @Expensify/pullerbear

feat: implement new design patterns in all search date filters
  src/components/Search/SearchDateFilterBase.tsx
  src/components/Search/SearchDateFilterBase/CalendarView.tsx
  src/components/Search/SearchDateFilterBase/RootView.tsx
  src/components/Search/SearchDateFilterBase/index.tsx
Owners: @Expensify/pullerbear

lifted walletTermsErrors from TransactionPreview
  src/components/ReportActionItem/MoneyRequestReportPreview/index.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/types.ts
  src/components/ReportActionItem/TransactionPreview/index.tsx
  src/components/ReportActionItem/TransactionPreview/types.ts
  src/pages/home/report/PureReportActionItem.tsx
  src/pages/home/report/ReportActionItemParentAction.tsx
  src/pages/home/report/ReportActionsList.tsx
  src/pages/home/report/ReportActionsListItemRenderer.tsx
Owners: @Expensify/pullerbear

fix: styles
  src/components/Search/SearchFiltersParticipantsSelector.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.67-1
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.67-1
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #64235 from Expensify/revert-63790-fix-56708
  src/pages/OnboardingWorkEmail/BaseOnboardingWorkEmail.tsx
  src/pages/OnboardingWorkEmailValidation/BaseOnboardingWorkEmailValidation.tsx
  tests/ui/WorkEmailOnboarding.tsx
Owners: @Expensify/pullerbear

add travel platform
  .github/scripts/createDocsRoutes.ts
Owners: @Expensify/pullerbear

add travel as platform
  docs/_data/_routes.yml
Owners: @Expensify/pullerbear

move articles to travel platform and create travel platform
  docs/articles/travel/expensify-classic/Approve-travel-expenses.md
  docs/articles/travel/expensify-classic/Book-With-Expensify-Travel.md
  docs/articles/travel/expensify-classic/Configure-travel-policy-and-preferences.md
  docs/articles/travel/expensify-classic/Edit-or-cancel-travel-arrangements.md
  docs/articles/travel/expensify-classic/Expensify-Travel-Tutorial.md
  docs/articles/travel/expensify-classic/Manage-Travel-Member-Roles.md
  docs/articles/travel/expensify-classic/Track-Travel-Analytics.md
  docs/articles/travel/new-expensify/Approve-travel-expenses.md
  docs/articles/travel/new-expensify/Book-with-Expensify-Travel.md
  docs/articles/travel/new-expensify/Configure-travel-policy-and-preferences.md
  docs/articles/travel/new-expensify/Edit-or-cancel-travel-arrangements.md
  docs/articles/travel/new-expensify/Manage-Travel-Member-Roles.md
  docs/articles/travel/new-expensify/Track-Travel-Analytics.md
  docs/articles/travel/new-expensify/Travel-Approval-Types.md
  docs/assets/images/help-concierge.png
  docs/assets/images/help-new.png
  docs/assets/images/help-travel.png
  docs/travel/hubs/expensify-classic/index.html
  docs/travel/hubs/index.html
  docs/travel/hubs/new-expensify/index.html
Owners: @Expensify/pullerbear, @Expensify/design

Move setClosingReactNative to a wrapper
  modules/hybrid-app/src/index.native.ts
  src/components/BookTravelButton.tsx
  src/components/ScreenWrapper/index.tsx
  src/libs/HybridApp.ts
  src/libs/actions/Session/index.ts
  src/pages/ErrorPage/SessionExpiredPage.tsx
  src/pages/OnboardingAccounting/BaseOnboardingAccounting.tsx
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
  src/pages/settings/InitialSettingsPage.tsx
  src/pages/settings/Security/MergeAccounts/MergeResultPage.tsx
Owners: @Expensify/pullerbear

feat: accept multiple files on mobile
  src/components/AttachmentPicker/index.native.tsx
  src/pages/home/report/ReportActionCompose/AttachmentPickerWithMenuItems.tsx
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
Owners: @Expensify/pullerbear

Add to type
  src/libs/API/parameters/CreatePerDiemRequestParams.ts
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

add pin logic and wallet changes
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/CardUtils.ts
  src/libs/CurrencyUtils.ts
  src/pages/settings/Wallet/ExpensifyCardPage.tsx
  src/pages/workspace/expensifyCard/WorkspaceEditCardLimitPage.tsx
  src/pages/workspace/expensifyCard/issueNew/LimitStep.tsx
  src/types/onyx/Card.ts
Owners: @Expensify/pullerbear

fix getStateFromPath - first working solution
  patches/react-navigation/@react-navigation+core+7.10.0+getStateFromPath.patch
Owners: @Expensify/pullerbear

prettier
  src/libs/actions/IOU.ts
  src/types/onyx/Transaction.ts
Owners: @Expensify/pullerbear

fix: add basic ignore paths for the workflow trigger
  .github/workflows/remote-build-android.yml
  .github/workflows/remote-build-ios.yml
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
