Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

Merge workspace.upgrade.note translation
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/params.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/pages/workspace/upgrade/UpgradeIntro.tsx
Owners: @Expensify/pullerbear

fix: disable toggle on closed report
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

Removed forwardRef from LoginForm component
  src/pages/signin/LoginForm/BaseLoginForm.tsx
  src/pages/signin/LoginForm/index.native.tsx
  src/pages/signin/LoginForm/index.tsx
  src/pages/signin/LoginForm/types.ts
Owners: @Expensify/pullerbear

Lint fixes
  src/libs/TransactionThreadParams/index.ts
Owners: @Expensify/pullerbear

Fix spelling
  src/libs/Fullstory/types.ts
Owners: @Expensify/pullerbear

fix: background darkens every time opening workspace settings from RHP and return to Inbox
  src/pages/ReimbursementAccount/ReimbursementAccountPage.tsx
  src/pages/ReimbursementAccount/USD/utils/getStepToOpenFromRouteParams.ts
Owners: @Expensify/pullerbear

Fix lint
  src/components/VideoPlayer/BaseVideoPlayer.tsx
Owners: @Expensify/pullerbear

emit headerHeight for calculations
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
Owners: @Expensify/pullerbear

use additionalOffset
  src/components/ActionSheetAwareScrollView/ActionSheetKeyboardSpace.tsx
Owners: @Expensify/pullerbear

eslint
  src/components/ActionSheetAwareScrollView/ActionSheetKeyboardSpace.tsx
Owners: @Expensify/pullerbear

extract MoneyRequestReceiptView
  src/components/ReportActionItem/MoneyRequestReceiptView.tsx
  src/components/ReportActionItem/MoneyRequestView.tsx
Owners: @Expensify/pullerbear

fix glitching when quickly close and open rhp
  src/components/WideRHPContextProvider.tsx
Owners: @Expensify/pullerbear

adjust more button in money request header
  src/components/MoneyRequestHeader.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

chore: remove AddPaymentMethodMenu, add a prop for addBankAccount button
  src/pages/settings/Wallet/PaymentMethodList.tsx
  src/pages/settings/Wallet/WalletPage/WalletPage.tsx
  src/pages/workspace/invoices/WorkspaceInvoiceVBASection.tsx
  src/pages/workspace/workflows/WorkspaceWorkflowsConnectExistingBankAccountPage.tsx
Owners: @Expensify/pullerbear

hide receipt image on the right panel on wide rhp
  src/components/ReportActionItem/MoneyRequestView.tsx
Owners: @Expensify/pullerbear

run prettier
  src/pages/ReimbursementAccount/USD/utils/getStepToOpenFromRouteParams.ts
Owners: @Expensify/pullerbear

refactor: simplify maintainVisibleContentPosition variable
  src/components/InvertedFlatList/BaseInvertedFlatList/index.tsx
Owners: @Expensify/pullerbear

fix: update en and es translations
  src/languages/en.ts
  src/languages/es.ts
Owners: @Expensify/pullerbear

ping deployers in slack when a CP request failed due to conflicts
  .github/workflows/cherryPick.yml
Owners: @Expensify/pullerbear

add report prop
  src/components/ReportActionItem/MoneyRequestReceiptView.tsx
  src/components/ReportActionItem/ReportActionItemImage.tsx
Owners: @Expensify/pullerbear

add receipt receipt view to report screen
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

make size of receipt images flexible
  src/components/ReportActionItem/MoneyRequestReceiptView.tsx
  src/components/ReportActionItem/ReportActionItemImage.tsx
  src/pages/home/ReportScreen.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

increase width of receipt panel in wide rhp
  src/libs/Navigation/AppNavigator/ModalStackNavigators/useModalStackScreenOptions.ts
  src/libs/Navigation/AppNavigator/useRootNavigatorScreenOptions.ts
  src/styles/index.ts
  src/styles/variables.ts
Owners: @Expensify/pullerbear, @Expensify/design

change mobile responsive width breakpoint to match width of wide RHP
  src/styles/variables.ts
Owners: @Expensify/design, @Expensify/pullerbear

fix size of loading receipt image
  src/components/ReportActionItem/MoneyRequestReceiptView.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix condition for showing wide RHP
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

fix: language file updates
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/params.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/Violations/ViolationsUtils.ts
Owners: @Expensify/pullerbear

fix: remove unused translations
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

fix: update delayed submission check
  src/libs/PolicyUtils.ts
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

refactor: lint errors
  src/languages/fr.ts
  src/languages/ja.ts
  src/languages/params.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

show delete modal after dropdown closes
  src/pages/Search/SearchPage.tsx
Owners: @Expensify/pullerbear

fix: clean up optimistic data
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

fix: lint error
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

Add logging for FeatureTrainingModal and MigratedUserWelcomeModal
  src/components/FeatureTrainingModal.tsx
  src/components/MigratedUserWelcomeModal.tsx
Owners: @Expensify/pullerbear

Use hmmm()
  src/components/FeatureTrainingModal.tsx
  src/components/MigratedUserWelcomeModal.tsx
Owners: @Expensify/pullerbear

Prettier
  src/components/MigratedUserWelcomeModal.tsx
Owners: @Expensify/pullerbear

updated workflow to use 1Password credentials
  .github/workflows/testCoverage.yml
Owners: @Expensify/pullerbear

Create unapproved-spend
  docs/articles/new-expensify/reports-and-expenses/unapproved-spend
Owners: @Expensify/pullerbear

feat: prioritize approve button over remove hold for approvers/admins
  src/libs/ReportPrimaryActionUtils.ts
Owners: @Expensify/pullerbear

remove onCancel logic
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/pages/Search/SearchPage.tsx
Owners: @Expensify/pullerbear
