Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

Fix lint
  src/hooks/useReviewDuplicatesNavigation.tsx
  src/pages/TransactionDuplicate/Confirmation.tsx
  src/pages/TransactionDuplicate/ReviewCategory.tsx
  src/pages/TransactionDuplicate/ReviewMerchant.tsx
  src/pages/TransactionDuplicate/ReviewReimbursable.tsx
  src/pages/TransactionDuplicate/ReviewTag.tsx
  src/pages/TransactionDuplicate/ReviewTaxCode.tsx
  src/pages/TransactionDuplicate/TransactionItem.tsx
  src/pages/TransactionDuplicate/TransactionsList.tsx
  src/pages/TransactionDuplicate/duplicateReviewConfig.ts
  src/pages/TransactionDuplicate/fieldConfigs.ts
Owners: @Expensify/pullerbear

Update version to 9.1.66-4
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.66-4
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #64201 from Expensify/jasper-hideThinkingIndicator
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
Owners: @Expensify/pullerbear

Changes for type
  assets/emojis/index.ts
  src/CONST/LOCALES.ts
  src/components/LocalePicker.tsx
  src/libs/Localize/index.ts
  src/pages/settings/Preferences/LanguagePage.tsx
  src/types/onyx/Locale.ts
  src/types/onyx/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

fix: reportActionsForDisplay to include whisper and use lastAction for AccountID
  src/libs/OptionsListUtils.ts
Owners: @Expensify/pullerbear

manually revert pr 63566
  src/CONST/index.ts
Owners: @Expensify/pullerbear

fix lint error
  src/libs/OptionsListUtils.ts
Owners: @Expensify/pullerbear

Update version to 9.1.66-5
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.66-5
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #64203 from Expensify/jules-revert63566
  src/CONST.ts
Owners: @Expensify/pullerbear

Cleanup
  src/ONYXKEYS.ts
  src/libs/Navigation/AppNavigator/ModalStackNavigators/index.tsx
  src/pages/TransactionDuplicate/Confirmation.tsx
  src/pages/TransactionDuplicate/DuplicateReview.tsx
  src/pages/TransactionDuplicate/DuplicateTransactionItem.tsx
  src/pages/TransactionDuplicate/DuplicateTransactionsList.tsx
  src/pages/TransactionDuplicate/ReviewBillable.tsx
  src/pages/TransactionDuplicate/ReviewCategory.tsx
  src/pages/TransactionDuplicate/ReviewDescription.tsx
  src/pages/TransactionDuplicate/ReviewMerchant.tsx
  src/pages/TransactionDuplicate/ReviewReimbursable.tsx
  src/pages/TransactionDuplicate/ReviewTag.tsx
  src/pages/TransactionDuplicate/fieldConfigs.ts
  src/pages/TransactionDuplicate/mergeTransactionConfig.ts
Owners: @Expensify/pullerbear

Lint fix
  src/pages/TransactionDuplicate/DuplicateReview.tsx
  src/pages/TransactionDuplicate/duplicateReviewConfig.ts
  src/pages/TransactionDuplicate/mergeTransactionConfig.ts
Owners: @Expensify/pullerbear

feat(testdrive): update admin test drive on web embed url link
  src/CONST/index.ts
Owners: @Expensify/pullerbear

Add routes
  src/ROUTES.ts
  src/SCREENS.ts
  src/libs/Navigation/AppNavigator/ModalStackNavigators/index.tsx
  src/libs/Navigation/types.ts
  src/pages/TransactionDuplicate/mergeTransactionConfig.ts
Owners: @Expensify/pullerbear

Move UnreportedExpense type
  src/components/SelectionList/types.ts
  src/libs/TransactionUtils/index.ts
Owners: @Expensify/pullerbear

Add onboarding tasks and messages translations for newly added languages
  src/languages/de.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

fix linting error
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

fix linting error
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

default optimistic hidden to avoid brief flash
  src/libs/actions/Policy/Policy.ts
Owners: @Expensify/pullerbear

make visible exception for submitter
  src/libs/actions/Policy/Policy.ts
Owners: @Expensify/pullerbear

add comment
  src/libs/actions/Policy/Policy.ts
Owners: @Expensify/pullerbear

improve naming
  src/CONST.ts
  src/libs/ReportActionsUtils.ts
  src/types/onyx/OriginalMessage.ts
Owners: @Expensify/pullerbear

prettier
  src/libs/actions/Policy/Policy.ts
Owners: @Expensify/pullerbear

Make sure undefined locale does not get into currentLocale
  src/components/LocaleContextProvider.tsx
Owners: @Expensify/pullerbear

type
  src/pages/settings/Wallet/SuccessReportCardLost.tsx
Owners: @Expensify/pullerbear

update style
  assets/images/product-illustrations/illustration__card-replacement-success.svg
  src/components/ConfirmationPage.tsx
  src/components/Icon/Illustrations.ts
  src/languages/en.ts
  src/languages/es.ts
  src/pages/settings/Wallet/SuccessReportCardLost.tsx
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

handle new card
  src/components/ConfirmationPage.tsx
  src/components/Icon/Illustrations.ts
  src/languages/es.ts
  src/pages/settings/Wallet/ReportCardLostPage.tsx
Owners: @Expensify/pullerbear

update condition
  src/pages/settings/Wallet/ReportCardLostPage.tsx
Owners: @Expensify/pullerbear

fix: contact list search field not auto focused
  src/components/ContactPermissionModal/index.native.tsx
  src/components/ContactPermissionModal/types.ts
  src/pages/iou/request/MoneyRequestParticipantsSelector.tsx
Owners: @Expensify/pullerbear

improve logic to avoid flicker
  src/pages/settings/Wallet/ReportCardLostPage.tsx
Owners: @Expensify/pullerbear

mistake
  src/pages/settings/Wallet/ReportCardLostPage.tsx
Owners: @Expensify/pullerbear

mistake
  src/pages/settings/Wallet/ReportCardLostPage.tsx
Owners: @Expensify/pullerbear

mistake
  src/pages/settings/Wallet/ReportCardLostPage.tsx
Owners: @Expensify/pullerbear

mistake
  src/pages/settings/Wallet/ReportCardLostPage.tsx
Owners: @Expensify/pullerbear

update style on IOS
  src/pages/settings/Wallet/SuccessReportCardLost.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

update style
  src/pages/settings/Wallet/ReportCardLostPage.tsx
  src/pages/settings/Wallet/SuccessReportCardLost.tsx
Owners: @Expensify/pullerbear

update
  src/pages/home/report/ReportActionItemSingle.tsx
  src/pages/home/report/ReportActionsListItemRenderer.tsx
Owners: @Expensify/pullerbear

Fix translate bug in desktop
  desktop/main.ts
  src/libs/Localize/LocaleListener/BaseLocaleListener.ts
  src/libs/Localize/LocaleListener/index.desktop.ts
  src/libs/Localize/LocaleListener/index.ts
  src/libs/Localize/LocaleListener/types.ts
  src/libs/Localize/index.ts
  src/libs/Localize/localeEventCallback/index.desktop.ts
  src/libs/Localize/localeEventCallback/index.ts
  src/libs/Localize/localeEventCallback/types.ts
  src/libs/actions/App.ts
  tests/unit/CurrencyUtilsTest.ts
Owners: @Expensify/pullerbear

Fix prettier
  desktop/main.ts
  src/libs/actions/App.ts
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
