Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

Create check-android-16kb-memory-page-size-compatibility.sh
  scripts/check-android-16kb-memory-page-size-compatibility.sh
Owners: @Expensify/pullerbear

Delete @rnmapbox+maps+10.1.39+001+initial.patch
  patches/@rnmapbox/maps/@rnmapbox+maps+10.1.39+001+initial.patch
Owners: @Expensify/pullerbear

chore: updat react-native-pdf
  package-lock.json
  package.json
  patches/react-native-pdf+6.7.3+001+android-enable-16kb-memory-page-size.patch
  patches/react-native-pdf/details.md
  patches/react-native-pdf/react-native-pdf+6.7.3+001+update-podspec-to-support-new-arch.patch
Owners: @Expensify/pullerbear

chore: extract vision camrea bump
  package-lock.json
  package.json
  patches/react-native-vision-camera/details.md
  patches/react-native-vision-camera/react-native-vision-camera+4.6.1.patch
Owners: @Expensify/pullerbear

fix(63871): update dependencies and remove redundant patches
  android/app/build.gradle
  package-lock.json
  package.json
  patches/@rnmapbox/maps/@rnmapbox+maps+10.1.39+001+android-enable-16kb-memory-page-size.patch
  patches/@rnmapbox/maps/details.md
  patches/react-native-pdf+6.7.7.patch
  scripts/check-16kb-android.sh
Owners: @Expensify/pullerbear

revert PR
  src/CONST/index.ts
  src/ONYXKEYS.ts
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportNavigation.tsx
  src/components/PrevNextButtons.tsx
  src/components/Search/index.tsx
  src/components/Search/types.ts
  src/libs/API/types.ts
  src/libs/ReportUtils.ts
  src/libs/actions/ReportNavigation.ts
  src/libs/actions/Search.ts
  src/styles/utils/flex.ts
  src/styles/utils/sizing.ts
  src/types/onyx/ReportNavigation.ts
  src/types/onyx/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix(63871): remove legacy react-native-vision-camera patch
  patches/react-native-vision-camera/details.md
  patches/react-native-vision-camera/react-native-vision-camera+4.6.1.patch
Owners: @Expensify/pullerbear

fix loader
  src/components/ImageWithSizeCalculation.tsx
  src/components/ReceiptImage.tsx
  src/components/ThumbnailImage.tsx
  src/components/TransactionItemRow/DataCells/ReceiptCell.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

more comments
  assets/images/simple-illustrations/simple-illustration__car_pink.svg
  src/components/FeatureTrainingModal.tsx
  src/components/Icon/Illustrations.ts
  src/libs/actions/IOU.ts
  src/libs/actions/Policy/Policy.ts
  src/libs/actions/User.ts
  src/pages/ProcessMoneyRequestHoldPage.tsx
  src/pages/workspace/WorkspaceOverviewPage.tsx
  src/pages/workspace/WorkspacesListPage.tsx
  src/pages/workspace/receiptPartners/WorkspaceReceiptPartnersPromotionBanner.tsx
Owners: @Expensify/design, @Expensify/pullerbear

fix eslint
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

fix(63871): remove redundant patches
  patches/@onfido+react-native-sdk+10.6.0.patch
  patches/@onfido/react-native-sdk/@onfido+react-native-sdk+10.6.0+002+android-enable-16kb-memory-page-size.patch
  patches/@onfido/react-native-sdk/details.md
  patches/@react-native-firebase/crashlytics/@react-native-firebase+crashlytics+12.9.3+002+android-enable-16kb-memory-page-size.patch
Owners: @Expensify/pullerbear

fix: pagination flaky test
  tests/ui/PaginationTest.tsx
Owners: @Expensify/pullerbear

prettier
  src/components/FloatingActionButton.tsx
  src/components/Navigation/NavigationTabBar/index.tsx
  src/pages/home/sidebar/NavigationTabBarAvatar.tsx
  src/pages/home/sidebar/ProfileAvatarWithIndicator.tsx
  tests/ui/FloatingActionButtonTest.tsx
  tests/ui/NavigationTabBarAvatarTest.tsx
Owners: @Expensify/pullerbear

fix: pagination flaky test
  tests/ui/PaginationTest.tsx
Owners: @Expensify/pullerbear

fix: pagination flaky test
  tests/ui/PaginationTest.tsx
Owners: @Expensify/pullerbear

replace unsupported .toSorted syntax with regular .sort
  src/libs/SidebarUtils.ts
Owners: @Expensify/pullerbear

fix/onyx state keys
  src/libs/ExportOnyxState/common.ts
  tests/unit/ExportOnyxStateTest.ts
Owners: @Expensify/pullerbear

fix cspell issue
  tests/ui/FloatingActionButtonTest.tsx
Owners: @Expensify/pullerbear

migrate updatePersonalDetailsAndShipExpensifyCards to use temporary appendCountryCodeWithCountryCode
  src/libs/LoginUtils.ts
  src/libs/actions/PersonalDetails.ts
  src/pages/MissingPersonalDetails/MissingPersonalDetailsContent.tsx
Owners: @Expensify/pullerbear

use appendCountryCodeWithCountryCode in InviteREportParticipansPage
  src/libs/LoginUtils.ts
  src/pages/InviteReportParticipantsPage.tsx
Owners: @Expensify/pullerbear

Revert "fix: approve button is present after submitting a scan expense with missing amount"
  src/components/MoneyReportHeader.tsx
  src/libs/NextStepUtils.ts
  src/libs/ReportPrimaryActionUtils.ts
  src/libs/TransactionUtils/index.ts
  tests/unit/ReportPrimaryActionUtilsTest.ts
Owners: @Expensify/pullerbear

Revert "remove persisted ACCOUNT on sign-out"
  src/libs/actions/SignInRedirect.ts
Owners: @Expensify/pullerbear

add logs for better hybridApp sign-in debugability
  src/libs/actions/Session/index.ts
Owners: @Expensify/pullerbear

use appendCountryCodeWithCountryCode in RoomInvitePage
  src/CONST/index.ts
  src/libs/LoginUtils.ts
  src/pages/RoomInvitePage.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.98-6
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #69164 from software-mansion-labs/revert/kuba_nowakowski/Add-the-ability-to-cycle-through-reports
  src/CONST/index.ts
  src/ONYXKEYS.ts
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportNavigation.tsx
  src/components/PrevNextButtons.tsx
  src/components/Search/index.tsx
  src/components/Search/types.ts
  src/libs/API/types.ts
  src/libs/ReportUtils.ts
  src/libs/actions/ReportNavigation.ts
  src/libs/actions/Search.ts
  src/styles/utils/flex.ts
  src/styles/utils/sizing.ts
  src/types/onyx/ReportNavigation.ts
  src/types/onyx/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

Update version to 9.1.98-6
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

fix: Modal animation callbacks not called with reduced motion on native apps
  src/components/Modal/ReanimatedModal/Container/index.tsx
  src/components/Modal/ReanimatedModal/Container/index.web.tsx
  src/components/Modal/ReanimatedModal/index.tsx
Owners: @Expensify/pullerbear

Fix - When an expense is deleted on "Chats", report preview disappears, but system messages inside of it, remain displayed on messages list
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

add comment
  src/hooks/useEffectOnMount.ts
Owners: @Expensify/pullerbear

migrate PhoneNumberStep to use appendCountryCodeWithCountryCode
  src/CONST/index.ts
  src/libs/LoginUtils.ts
  src/pages/EnablePayments/PersonalInfo/substeps/PhoneNumberStep.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.98-7
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.98-7
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #69169 from Expensify/revert-67941-mkzie2-issue/67173
  src/components/MoneyReportHeader.tsx
  src/libs/NextStepUtils.ts
  src/libs/ReportPrimaryActionUtils.ts
  src/libs/TransactionUtils/index.ts
  tests/unit/ReportPrimaryActionUtilsTest.ts
Owners: @Expensify/pullerbear

remove console logs from tests
  tests/actions/PolicyTagTest.ts
  tests/actions/ReportPreviewActionUtilsTest.ts
  tests/perf-test/ModifiedExpenseMessage.perf-test.ts
  tests/perf-test/OptionsListUtils.perf-test.ts
  tests/perf-test/ReportActionsList.perf-test.tsx
  tests/perf-test/ReportActionsUtils.perf-test.ts
  tests/perf-test/ReportUtils.perf-test.ts
  tests/perf-test/SearchRouter.perf-test.tsx
  tests/perf-test/SidebarLinks.perf-test.tsx
  tests/perf-test/SidebarUtils.perf-test.ts
  tests/ui/IOURequestEditReportCommonTest.tsx
  tests/ui/SwitchToExpensifyClassicTest.tsx
  tests/ui/UnreadIndicatorsTest.tsx
  tests/ui/ValidateLoginPageTest.tsx
  tests/ui/WorkspacePageWithSectionsTest.tsx
  tests/ui/components/EmptySearchViewTest.tsx
  tests/ui/components/LHNOptionsListTest.tsx
  tests/ui/components/OnboardingHelpDropdownButtonTest.tsx
  tests/unit/CIGitLogicTest.ts
  tests/unit/DateUtilsTest.ts
  tests/unit/EmojiTest.ts
  tests/unit/MigrationTest.ts
  tests/unit/PerDiemRequestUtilsTest.ts
  tests/unit/PersistedRequests.ts
  tests/unit/ReportActionItemSingleTest.ts
  tests/unit/ReportPrimaryActionUtilsTest.ts
  tests/unit/ReportSecondaryActionUtilsTest.ts
  tests/unit/SidebarFilterTest.ts
  tests/unit/SidebarOrderTest.ts
  tests/unit/SidebarTest.ts
  tests/unit/SidebarUtilsTest.ts
  tests/unit/useReportAvatarDetailsTest.ts
Owners: @Expensify/pullerbear

Rename central-billing to central-billing.md
  docs/articles/travel/company-setup/central-billing.md
Owners: @Expensify/pullerbear

Rename Event-Management to Event-Management.md
  docs/articles/travel/hubs/Event-Management.md
Owners: @Expensify/pullerbear

refactored keyboard state
  .storybook/preview.tsx
  src/App.tsx
  src/components/KeyboardState/BaseProvider.tsx
  src/components/KeyboardState/index.native.tsx
  src/components/KeyboardState/index.tsx
  src/components/KeyboardState/type.ts
  src/components/withKeyboardState.tsx
  src/hooks/useKeyboardState.ts
  src/pages/home/report/ReportActionCompose/ComposerWithSuggestions/ComposerWithSuggestions.tsx
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
  src/pages/home/report/ReportActionCompose/SendButton.tsx
  tests/perf-test/ReportActionCompose.perf-test.tsx
  tests/perf-test/SelectionList.perf-test.tsx
Owners: @Expensify/pullerbear

fix prettier
  src/pages/Search/EmptySearchView.tsx
Owners: @Expensify/pullerbear

fix esLint
  src/components/SelectionList/SearchTableHeader.tsx
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
