Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

remove unused import
  src/pages/Travel/MyTripsPage.tsx
Owners: @Expensify/pullerbear

Re-add header
  src/pages/Travel/MyTripsPage.tsx
Owners: @Expensify/pullerbear

Undo changes related to linter that will be fixed elsewhere.
  src/components/ReportActionItem/TransactionPreview/TransactionPreviewContent.tsx
  src/components/ReportActionItem/TransactionPreview/index.tsx
  src/libs/TransactionPreviewUtils.ts
  src/pages/TransactionDuplicate/Review.tsx
  src/pages/TransactionDuplicate/ReviewTaxCode.tsx
Owners: @Expensify/pullerbear

Add more locales
  assets/emojis/index.ts
  src/CONST.ts
  src/languages/en.ts
  src/languages/es.ts
  src/libs/LocaleUtils.ts
  src/pages/settings/Preferences/LanguagePage.tsx
Owners: @Expensify/design, @Expensify/pullerbear

Add beta
  src/components/LocalePicker.tsx
  src/libs/Permissions.ts
  src/pages/settings/Preferences/LanguagePage.tsx
Owners: @Expensify/pullerbear

Add support for reading text files as spreadsheets and update constants
  src/CONST.ts
  src/components/ImportSpreadsheet.tsx
Owners: @Expensify/pullerbear

Fix - Video file loads infinitely and stop playing when open using arrows
  src/components/Attachments/AttachmentView/AttachmentViewVideo/index.tsx
  src/components/VideoPlayer/BaseVideoPlayer.tsx
  src/components/VideoPlayer/index.tsx
  src/components/VideoPlayer/types.ts
  src/components/VideoPlayerPreview/index.tsx
  src/hooks/useCheckIfRouteHasRemainedUnchanged.ts
Owners: @Expensify/pullerbear

don't show approve button while scanning
  src/libs/ReportPreviewActionUtils.ts
  src/libs/ReportPrimaryActionUtils.ts
  src/libs/ReportSecondaryActionUtils.ts
  tests/actions/ReportPreviewActionUtilsTest.ts
  tests/unit/ReportPrimaryActionUtilsTest.ts
  tests/unit/ReportSecondaryActionUtilsTest.ts
Owners: @Expensify/pullerbear

fix receipt image doesn't take full width
  src/components/MoneyRequestConfirmationListFooter.tsx
  src/components/ReportActionItem/MoneyRequestView.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

lint
  src/components/MoneyRequestConfirmationListFooter.tsx
Owners: @Expensify/pullerbear

refactor from english to spanish translation split phrase
  src/languages/es.ts
Owners: @Expensify/pullerbear

fix typo in scanTestTooltip > tryItOut
  src/languages/es.ts
Owners: @Expensify/pullerbear

Fix about page ~ readTheTermsAndPrivacy
  src/pages/settings/AboutPage/AboutPage.tsx
Owners: @Expensify/pullerbear

fix: Unable to pay invoice elsewhere when payment is disabled
  src/components/SettlementButton/index.tsx
Owners: @Expensify/pullerbear

Add basic structure for generateTranslationsTest
  tests/unit/generateTranslationsTest.ts
Owners: @Expensify/pullerbear

Programmatically format files with prettier js sdk
  scripts/generateTranslations.ts
  scripts/utils/Prettier.ts
  tests/unit/generateTranslationsTest.ts
Owners: @Expensify/pullerbear

fix test
  .github/actions/javascript/postTestBuildComment/index.js
  .github/actions/javascript/postTestBuildComment/postTestBuildComment.ts
  tests/unit/postTestBuildComment.ts
Owners: @Expensify/pullerbear

post comment to E/App PR if none was provided
  .github/workflows/testBuild.yml
Owners: @Expensify/pullerbear

Fix templateExpression -> string conversion
  scripts/generateTranslations.ts
  tests/unit/generateTranslationsTest.ts
Owners: @Expensify/pullerbear

minor update.
  src/components/EmojiPicker/EmojiPickerMenu/index.tsx
Owners: @Expensify/pullerbear

rm navigate to failed to lock page
  src/pages/settings/Security/LockAccount/LockAccountPage.tsx
Owners: @Expensify/pullerbear

Fix dedent to fix test
  src/libs/StringUtils.ts
  tests/unit/StringUtilsTest.ts
  tests/unit/generateTranslationsTest.ts
Owners: @Expensify/pullerbear

Fix termsOfUse split phrase ~ Licenses and Terms
  src/languages/en.ts
  src/pages/signin/Licenses.tsx
  src/pages/signin/Terms.tsx
Owners: @Expensify/pullerbear

Fixed desktop translation on update dialog
  desktop/main.ts
  src/libs/Localize/LocaleListener/BaseLocaleListener.ts
Owners: @Expensify/pullerbear

feat: add SearchFiltersTypePage
  src/pages/Search/SearchAdvancedFiltersPage/SearchFiltersTypePage.tsx
Owners: @Expensify/pullerbear

feat: add SearchFiltersStatusPage
  src/languages/en.ts
  src/languages/es.ts
  src/pages/Search/SearchAdvancedFiltersPage/SearchFiltersStatusPage.tsx
Owners: @Expensify/pullerbear

feat: add type and status filter routes and screens
  src/ROUTES.ts
  src/SCREENS.ts
  src/libs/Navigation/AppNavigator/ModalStackNavigators/index.tsx
  src/libs/Navigation/linkingConfig/config.ts
Owners: @Expensify/pullerbear

feat: add type and status filters to advanced search filters
  src/CONST.ts
  src/pages/Search/AdvancedSearchFilters.tsx
Owners: @Expensify/pullerbear

Fix phoneError ~ BookTravelButton
  src/components/BookTravelButton.tsx
Owners: @Expensify/pullerbear

Refactorized localize functions to use less preferredLocale inside components
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  contributingGuides/REVIEWER_CHECKLIST.md
  src/components/AutoUpdateTime.tsx
  src/components/LocaleContextProvider.tsx
  src/components/ReportActionItem/ChronosOOOListActions.tsx
  src/components/ShowMoreButton.tsx
  src/components/withLocalize.tsx
  src/hooks/useNetworkWithOfflineStatus.ts
  src/libs/PolicyUtils.ts
  src/pages/home/report/ParticipantLocalTime.tsx
  src/pages/wallet/WalletStatementPage.tsx
  src/pages/workspace/WorkspaceMembersPage.tsx
  src/pages/workspace/accounting/PolicyAccountingPage.tsx
  src/pages/workspace/companyCards/WorkspaceCompanyCardDetailsPage.tsx
  src/pages/workspace/workflows/WorkspaceAutoReportingFrequencyPage.tsx
  src/pages/workspace/workflows/WorkspaceWorkflowsPage.tsx
  tests/perf-test/SelectionList.perf-test.tsx
  tests/unit/CalendarPickerTest.tsx
Owners: @rushatgabhane, @Expensify/pullerbear

Fix eslint errors
  src/ROUTES.ts
  src/pages/wallet/WalletStatementPage.tsx
  src/pages/workspace/workflows/WorkspaceAutoReportingFrequencyPage.tsx
Owners: @Expensify/pullerbear

Fix perf test
  tests/perf-test/SelectionList.perf-test.tsx
Owners: @Expensify/pullerbear

add first step page
  src/ROUTES.ts
  src/SCREENS.ts
  src/libs/Navigation/AppNavigator/ModalStackNavigators/index.tsx
  src/libs/Navigation/AppNavigator/Navigators/RightModalNavigator.tsx
  src/libs/Navigation/linkingConfig/config.ts
  src/libs/Navigation/types.ts
  src/pages/workspace/companyCards/WorkspaceCompanyCardsListHeaderButtons.tsx
  src/pages/workspace/companyCards/assignCard/AssigneeStep.tsx
Owners: @Expensify/pullerbear

Removed legacy es-ES code and fallback language code
  src/languages/es-ES.ts
  src/languages/translations.ts
  src/libs/Localize/index.ts
  tests/unit/TranslateTest.ts
Owners: @Expensify/pullerbear

Fix tests
  __mocks__/react-native-localize.ts
Owners: @Expensify/pullerbear

Fix prettier
  __mocks__/react-native-localize.ts
Owners: @Expensify/pullerbear

Refactored components/functions to use centralized preferred locale
  src/components/LHNOptionsList/OptionRowLHNData.tsx
  src/components/LocalePicker.tsx
  src/components/Reactions/MiniQuickEmojiReactions.tsx
  src/components/Reactions/QuickEmojiReactions/BaseQuickEmojiReactions.tsx
  src/hooks/useSidePanel.ts
  src/libs/DateUtils.ts
  src/libs/OptionsListUtils.ts
  src/libs/ReportActionsUtils.ts
  src/libs/SidebarUtils.ts
  src/libs/TransactionUtils/index.ts
  src/pages/settings/Preferences/PreferencesPage.tsx
  tests/perf-test/SidebarUtils.perf-test.ts
  tests/unit/SidebarUtilsTest.ts
Owners: @Expensify/pullerbear

Fix tests
  src/components/Reactions/MiniQuickEmojiReactions.tsx
  src/components/Reactions/QuickEmojiReactions/BaseQuickEmojiReactions.tsx
  tests/unit/DateUtilsTest.ts
Owners: @Expensify/pullerbear

Update CONST.ts
  src/CONST.ts
Owners: @Expensify/pullerbear

handle pr changes
  src/components/MoneyRequestConfirmationList.tsx
  src/components/ReportActionItem/MoneyRequestView.tsx
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
