Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

review fixes
  src/components/ReportActionItem/MoneyRequestAction.tsx
  src/pages/home/report/PureReportActionItem.tsx
Owners: @Expensify/pullerbear

Use same design as other filters
  src/pages/Search/SearchAdvancedFiltersPage/SearchFiltersWorkspacePage.tsx
Owners: @Expensify/pullerbear

perf: bottom tabs
  src/components/Search/FilterDropdowns/DropdownButton.tsx
  src/components/Search/SearchPageHeader/SearchFiltersBar.tsx
Owners: @Expensify/pullerbear

fix: Workspace chat still displays GBR in LHN after changing report workspace
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

Remove extra
  src/pages/Search/SearchAdvancedFiltersPage/SearchFiltersWorkspacePage.tsx
Owners: @Expensify/pullerbear

Fix warnings
  src/pages/Search/SearchAdvancedFiltersPage/SearchFiltersTaxRatePage.tsx
Owners: @Expensify/pullerbear

Added to GROUP_BY
  src/CONST/index.ts
  src/components/SelectionList/Search/CardListItemHeader.tsx
  src/components/SelectionList/Search/TransactionGroupListItem.tsx
  src/components/SelectionList/types.ts
  src/languages/en.ts
  src/types/onyx/SearchResults.ts
Owners: @Expensify/pullerbear

perf: bottom tabs
  src/components/Search/SearchPageHeader/SearchFiltersBar.tsx
Owners: @Expensify/pullerbear

remove transactionWidth
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/types.ts
  src/styles/utils/getMoneyRequestReportPreviewStyle/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

added card sections shell
  src/components/Search/SearchContext.tsx
  src/components/SelectionList/Search/CardListItemHeader.tsx
  src/components/SelectionList/Search/MemberListItemHeader.tsx
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

extend TransactionCardGroupListItemType with SearchPersonalDetails
  src/components/SelectionList/types.ts
Owners: @Expensify/pullerbear

safer type guards
  src/components/SelectionList/types.ts
  src/libs/SearchUIUtils.ts
  tests/unit/Search/SearchUIUtilsTest.ts
Owners: @Expensify/pullerbear

perf: bottom tabs
  src/components/Search/SearchPageHeader/SearchFiltersBar.tsx
Owners: @Expensify/pullerbear

Fix displaying sender/receiver for split money request preview
  src/components/ReportActionItem/TransactionPreview/TransactionPreviewContent.tsx
  src/components/ReportActionItem/TransactionPreview/index.tsx
  src/components/ReportActionItem/TransactionPreview/types.ts
Owners: @Expensify/pullerbear

chore: hide create report button on submit empty state when isPolicyExpenseChatEnabled disable
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

perf: bottom tabs
  src/components/Search/FilterDropdowns/DropdownButton.tsx
  src/components/Search/SearchPageHeader/SearchFiltersBar.tsx
Owners: @Expensify/pullerbear

fix test
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

Fix MoneyRequestReportPreview.stories.tsx
  src/stories/MoneyRequestReportPreview.stories.tsx
Owners: @Expensify/pullerbear

fix test
  tests/unit/Search/SearchUIUtilsTest.ts
Owners: @Expensify/pullerbear

update adminsChatReportRoute and pricingURL and styling in languages
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/params.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/pages/settings/Subscription/SubscriptionSettings/index.native.tsx
  src/pages/settings/Subscription/SubscriptionSettings/index.tsx
Owners: @Expensify/pullerbear

translate
  src/languages/de.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
Owners: @Expensify/pullerbear

remove template literal string from pricingURL
  src/pages/settings/Subscription/SubscriptionSettings/index.native.tsx
  src/pages/settings/Subscription/SubscriptionSettings/index.tsx
Owners: @Expensify/pullerbear

move styling to utils
  src/components/FeatureTrainingModal.tsx
  src/components/Modal/BaseModal.tsx
  src/components/withKeyboardState.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
  src/styles/utils/index.ts
  src/styles/utils/sizing.ts
Owners: @Expensify/pullerbear, @Expensify/design

ts
  tests/unit/Search/handleActionButtonPressTest.ts
Owners: @Expensify/pullerbear

fix: ScreenWrapper crashing on web
  src/components/ScreenWrapper/ScreenWrapperContainer.tsx
  src/components/ScreenWrapper/index.tsx
Owners: @Expensify/pullerbear

Revert "Merge pull request #56092 from callstack-internal/feature/allow-negative"
  assets/images/plus-minus.svg
  src/components/Icon/Expensicons.ts
  src/components/MoneyRequestAmountInput.tsx
  src/components/ReportActionItem/MoneyRequestView.tsx
  src/components/TextInputWithCurrencySymbol/BaseTextInputWithCurrencySymbol.tsx
  src/components/TextInputWithCurrencySymbol/types.ts
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/ModifiedExpenseMessage.ts
  src/libs/ReportUtils.ts
  src/libs/TransactionUtils/index.ts
  src/libs/actions/IOU.ts
  src/pages/iou/MoneyRequestAmountForm.tsx
  src/pages/iou/request/MoneyRequestParticipantsSelector.tsx
  src/pages/iou/request/step/IOURequestStepAmount.tsx
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepParticipants.tsx
  src/styles/utils/spacing.ts
Owners: @Expensify/design, @Expensify/pullerbear

delete CardListItemHeader (moving to a follow up)
  src/components/SelectionList/Search/CardListItemHeader.tsx
  src/components/SelectionList/Search/TransactionGroupListItem.tsx
Owners: @Expensify/pullerbear

ts
  src/components/SelectionList/Search/TransactionGroupListItem.tsx
Owners: @Expensify/pullerbear

fix: update patch
  patches/react-native+0.79.2+025+textinput-prevent-focus-on-first-responder.patch
Owners: @Expensify/pullerbear

fix: update patch description and move to module path
  patches/react-native/details.md
  patches/react-native/react-native+0.79.2+025+textinput-prevent-focus-on-first-responder.patch
Owners: @Expensify/pullerbear

fix: eslint
  src/libs/ReportActionComposeFocusManager.ts
Owners: @Expensify/pullerbear

lint
  src/components/SelectionList/Search/TransactionGroupListItem.tsx
Owners: @Expensify/pullerbear

fix: more eslint changes
  src/components/EmojiPicker/EmojiPicker.tsx
Owners: @Expensify/pullerbear

fix: eslint
  src/libs/actions/EmojiPickerAction.ts
Owners: @Expensify/pullerbear

chore: write unit test for empty search view
  tests/ui/components/EmptySearchViewTest.tsx
Owners: @Expensify/pullerbear

fix search based on feed
  src/components/SelectionList/Search/CardListItem.tsx
  src/types/form/SearchAdvancedFiltersForm.ts
Owners: @Expensify/pullerbear

format phone number in MemberListItemHeader
  src/components/SelectionList/Search/MemberListItemHeader.tsx
Owners: @Expensify/pullerbear

feat: continuation
  cspell.json
  src/languages/es.ts
  src/libs/API/parameters/FinishCorpayBankAccountOnboardingParams.ts
  src/libs/Permissions.ts
  src/pages/ReimbursementAccount/NonUSD/Agreements/index.tsx
  src/pages/ReimbursementAccount/NonUSD/Agreements/subSteps/Confirmation.tsx
  src/pages/ReimbursementAccount/NonUSD/Docusign/Docusign.tsx
  src/pages/ReimbursementAccount/NonUSD/NonUSDVerifiedBankAccountFlow.tsx
  src/pages/ReimbursementAccount/ReimbursementAccountPage.tsx
Owners: @Expensify/pullerbear

feat: use unique errors
  src/hooks/useFilesValidation.tsx
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
Owners: @Expensify/pullerbear

fix: revert permissions change
  src/libs/Permissions.ts
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
