Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

fix: regressions.
  src/components/AmountTextInput.tsx
  src/components/Search/SearchAutocompleteInput.tsx
  src/components/TextInput/BaseTextInput/implementation/index.native.tsx
  src/components/TextInput/BaseTextInput/implementation/index.tsx
  src/components/TextInput/BaseTextInput/types.ts
  src/components/TextInput/TextInputClearButton/index.tsx
  src/pages/OnboardingPrivateDomain/BaseOnboardingPrivateDomain.tsx
  src/styles/index.ts
  src/styles/utils/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

revert onyx change
  src/pages/iou/request/step/IOURequestStepAmount.tsx
Owners: @Expensify/pullerbear

dismiss with report
  src/pages/iou/request/step/IOURequestStepReport.tsx
Owners: @Expensify/pullerbear

display thinking indicator
  src/pages/home/report/AgentZeroProcessingRequestIndicator.tsx
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
  src/types/onyx/Report.ts
Owners: @Expensify/pullerbear

add agentZeroProcessingRequestIndicator to DebugUtils
  src/libs/DebugUtils.ts
Owners: @Expensify/pullerbear

add agentZeroProcessingRequestIndicator to whitelistedReportKeys
  src/types/utils/whitelistedReportKeys.ts
Owners: @Expensify/pullerbear

minor fix
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
Owners: @Expensify/pullerbear

dependency cleanup for esLint
  src/components/ProductTrainingContext/index.tsx
Owners: @Expensify/pullerbear

fix typescript error
  src/libs/DebugUtils.ts
Owners: @Expensify/pullerbear

fix: reports page search input focused state styles.
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

fix search header input.
  src/components/Search/SearchPageHeader/SearchPageHeaderInput.tsx
Owners: @Expensify/pullerbear

Add StringUtils.dedent utility
  src/libs/StringUtils.ts
  tests/unit/StringUtilsTest.ts
Owners: @Expensify/pullerbear

fix more words
  cspell.json
  src/libs/ReportSecondaryActionUtils.ts
  src/pages/ScheduleCall/ScheduleCallPage.tsx
  src/pages/iou/SplitExpenseEditPage.tsx
Owners: @Expensify/pullerbear

fix typo in AboutPage
  src/pages/settings/AboutPage/AboutPage.tsx
Owners: @Expensify/pullerbear

Commit remnant diff
  .github/workflows/prettier.yml
  src/CONST.ts
Owners: @Expensify/pullerbear

Remove accidentally committed files
  tests/unit/generateTranslationsTest.ts
  tests/unit/tempTest.ts
Owners: @Expensify/pullerbear

Rebuild gh actions
  .github/actions/javascript/authorChecklist/index.js
  .github/actions/javascript/createOrUpdateStagingDeploy/index.js
  .github/actions/javascript/getDeployPullRequestList/index.js
  .github/actions/javascript/getPreviousVersion/index.js
Owners: @Expensify/pullerbear

add isNativePlatform check temporarily
  src/pages/home/HeaderView.tsx
Owners: @Expensify/pullerbear

Stop skipping workflows that are passing lint
  .github/scripts/validateActionsAndWorkflows.sh
Owners: @Expensify/pullerbear

intentionally create a useOnyx canBeMissing error
  src/pages/TransactionReceiptPage.tsx
Owners: @Expensify/pullerbear

scripts: add lintChanged.sh
  package.json
  scripts/lintChanged.sh
Owners: @Expensify/pullerbear

workflows: lint-changed: shellcheck fixes
  .github/workflows/lint-changed.yml
Owners: @Expensify/pullerbear

fix-wip: add fetch back
  .github/workflows/lint-changed.yml
Owners: @Expensify/pullerbear

fix: change the checkout action to fetch further
  .github/workflows/lint-changed.yml
Owners: @Expensify/pullerbear

scripts: lintChanged.sh add CI/local checks
  .github/workflows/lint-changed.yml
  scripts/lintChanged.sh
Owners: @Expensify/pullerbear

workflows: lint-changed: add commit count logic
  .github/workflows/lint-changed.yml
  scripts/lintChanged.sh
Owners: @Expensify/pullerbear

scripts: lintChanged.sh unify style
  scripts/lintChanged.sh
Owners: @Expensify/pullerbear

Revert "workflows: lint-changed: shellcheck fixes"
  .github/workflows/lint-changed.yml
Owners: @Expensify/pullerbear

scripts: lintChanged.sh fix style and clean logic
  scripts/lintChanged.sh
Owners: @Expensify/pullerbear

github-actions: lint-changed change depth to 30000
  .github/workflows/lint-changed.yml
Owners: @Expensify/pullerbear

workflows: lint-changed.yml replace max logic
  .github/workflows/lint-changed.yml
Owners: @Expensify/pullerbear

workflows: lint-changed: fix the shellcheck errors
  .github/workflows/lint-changed.yml
Owners: @Expensify/pullerbear

workflows: lint-changed remove checkout condition
  .github/workflows/lint-changed.yml
Owners: @Expensify/pullerbear

scripts: lintChanged.sh: handle large file count
  scripts/lintChanged.sh
Owners: @Expensify/pullerbear

fix: adding filter in the middle of the search query invalidates the query
  src/components/Search/SearchPageHeader/SearchPageHeaderInput.tsx
Owners: @Expensify/pullerbear

Add descriptions for workflow_call outputs
  .github/workflows/buildAndroid.yml
  .github/workflows/testBuildHybrid.yml
Owners: @Expensify/pullerbear

prevent AU to use mark all as read
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

refactor subscriptionPageTitle and onboardingChatTitle to use react-native-render-html
  src/languages/en.ts
  src/pages/settings/Subscription/CardSection/BillingBanner/EarlyDiscountBanner.tsx
Owners: @Expensify/pullerbear

fix: remove unnecessary code
  src/pages/iou/request/IOURequestStartPage.tsx
Owners: @Expensify/pullerbear

refactor requestRefundModal split phrase to use react-native-render-html
  src/languages/en.ts
  src/pages/settings/Subscription/CardSection/CardSection.tsx
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
