Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

wrap Onyx.set for derived values in a method
  src/libs/actions/OnyxDerived/configs/reportAttributes.ts
  src/libs/actions/OnyxDerived/index.ts
  src/libs/actions/OnyxDerived/utils.ts
Owners: @Expensify/pullerbear

remove receiphoveraudit, update styles
  src/components/TransactionItemRow/ReceiptHoverAudit/index.tsx
  src/components/TransactionItemRow/ReceiptPreview/index.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

Fix useOnyx import
  src/pages/home/report/ReportActionCompose/SilentCommentUpdater/index.android.tsx
  src/pages/home/report/ReportActionCompose/SilentCommentUpdater/index.tsx
Owners: @Expensify/pullerbear

fix: add unreported expense after dismiss modal
  src/pages/AddUnreportedExpense.tsx
Owners: @Expensify/pullerbear

fixPR comments
  src/components/SelectionList/Search/TransactionListItem.tsx
  src/hooks/useMobileSelectionMode.ts
Owners: @Expensify/pullerbear

use Set instead of includes in useEffect
  src/hooks/useSearchHighlightAndScroll.ts
Owners: @Expensify/pullerbear

add explanation about closingReactNativeApp in isDisabled
  src/components/CustomStatusBarAndBackground/index.tsx
Owners: @Expensify/pullerbear

add lint rule to disallow direct usage of `HybridAppModule.closeReactNativeApp`
  .eslintrc.js
  src/libs/actions/HybridApp/index.ts
Owners: @Expensify/pullerbear

add explanatory comments
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
Owners: @Expensify/pullerbear

change place of scrolling
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/components/MoneyRequestReportView/SearchMoneyRequestReportEmptyState.tsx
Owners: @Expensify/pullerbear

Improved error handling for report title
  src/pages/workspace/rules/RulesCustomNamePage.tsx
Owners: @Expensify/pullerbear

change place of scrolling
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
Owners: @Expensify/pullerbear

Revert shouldAddBottomSafeAreaPadding for BOTTOM_DOCKED modals
  src/styles/utils/generators/ModalStyleUtils.ts
Owners: @Expensify/design, @Expensify/pullerbear

Fixed report clearing
  src/pages/workspace/reportFields/WorkspaceReportFieldsPage.tsx
Owners: @Expensify/pullerbear

fix script
  help/_plugins/SitePostRender.rb
Owners: @Expensify/pullerbear

fix: restore filetype validation
  src/components/AttachmentComposerModal.tsx
  src/hooks/useFilesValidation.tsx
Owners: @Expensify/pullerbear

Revert "Some fixes to help directories [No QA]"
  help/_plugins/SitePostRender.rb
  help/ref/settings/workspaces/:policyID/categories/index.md
  help/ref/settings/workspaces/:policyID/company-cards/index.md
  help/ref/settings/workspaces/:policyID/distance-rates/index.md
  help/ref/settings/workspaces/:policyID/expensify-card/index.md
  help/ref/settings/workspaces/:policyID/invoices/index.md
  help/ref/settings/workspaces/:policyID/overview/index.md
  help/ref/settings/workspaces/:policyID/per-diem/index.md
  help/ref/settings/workspaces/:policyID/reports/index.md
  help/ref/settings/workspaces/:policyID/rules/index.md
  help/ref/settings/workspaces/:policyID/tags/index.md
  help/ref/settings/workspaces/:policyID/taxes/index.md
  help/ref/settings/workspaces/:policyID/workflows/index.md
  help/ref/workspaces/:policyID/more-features/index.md
  help/ref/workspaces/:policyID/reportFields/index.md
  src/components/SidePanel/HelpContent/helpContentMap.tsx
Owners: @Expensify/pullerbear

update isTestAccount to string
  src/libs/Navigation/types.ts
  src/pages/Travel/TravelDotLinkWebview.tsx
Owners: @Expensify/pullerbear

Added pending opacity + improved error handling
  src/pages/workspace/reportFields/WorkspaceReportFieldsPage.tsx
Owners: @Expensify/pullerbear

fix: translations and linter
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/pages/ReimbursementAccount/NonUSD/Docusign/Docusign.tsx
  src/pages/ReimbursementAccount/NonUSD/Docusign/subSteps/UploadPowerform.tsx
Owners: @Expensify/pullerbear

Added clearPolicyTitleFieldError action
  src/libs/actions/Policy/Policy.ts
  src/pages/workspace/reportFields/WorkspaceReportFieldsPage.tsx
  src/pages/workspace/rules/RulesCustomNamePage.tsx
Owners: @Expensify/pullerbear

Prettier fixes
  src/pages/workspace/reportFields/WorkspaceReportFieldsPage.tsx
  src/pages/workspace/rules/RulesCustomNamePage.tsx
Owners: @Expensify/pullerbear

fix:65728: new chat autofocus is not triggered
  src/components/EmojiPicker/EmojiPicker.tsx
Owners: @Expensify/pullerbear

fix: fix problem with active policy
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
Owners: @Expensify/pullerbear

Change cursor pointer/auto logic in non-custom backdrop
  src/components/Modal/ReanimatedModal/Backdrop/index.web.tsx
Owners: @Expensify/pullerbear

remove newDotSignInState
  src/CONST/index.ts
  src/components/SignInButtons/AppleSignIn/index.android.tsx
  src/components/SignInButtons/AppleSignIn/index.ios.tsx
  src/components/SignInButtons/GoogleSignIn/index.native.tsx
  src/libs/HybridApp.ts
  src/libs/actions/HybridApp/index.ts
  src/pages/ValidateLoginPage/index.tsx
  src/pages/signin/SAMLSignInPage/index.native.tsx
  src/pages/signin/SignUpWelcomeForm.tsx
  src/pages/signin/ValidateCodeForm/BaseValidateCodeForm.tsx
  src/types/onyx/HybridApp.ts
Owners: @Expensify/pullerbear

remove unnecessary validate login check
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

fix: correct check
  src/pages/Search/SearchPage.tsx
Owners: @Expensify/pullerbear

fix: losen check
  src/pages/Search/SearchPage.tsx
Owners: @Expensify/pullerbear

ESLint + prettier fixes
  src/pages/workspace/reportFields/WorkspaceReportFieldsPage.tsx
  src/pages/workspace/rules/RulesCustomNamePage.tsx
Owners: @Expensify/pullerbear

fix: app crashes when group-by:reports is manually
  src/components/Search/SearchList.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.78-1
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.78-1
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #65733 from getusha/fix-65703
  src/pages/Search/SearchPage.tsx
Owners: @Expensify/pullerbear

begin optimistic actions
  src/libs/actions/Search.ts
Owners: @Expensify/pullerbear

Revert "Improve native top spacing for bottom docked modals when keyboard shows"
  src/components/FeatureTrainingModal.tsx
  src/components/Modal/BaseModal.tsx
  src/components/withKeyboardState.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
  src/styles/utils/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

better optimistic updates
  src/libs/actions/Search.ts
Owners: @Expensify/pullerbear

Revert "Improve native top spacing for bottom docked modals when keyboard shows"
  src/components/FeatureTrainingModal.tsx
  src/components/Modal/BaseModal.tsx
  src/components/withKeyboardState.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
  src/styles/utils/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

Update version to 9.1.78-2
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #65735 from software-mansion-labs/revert-63970-update-mobile-test-drive-for-better-scroll
  src/components/FeatureTrainingModal.tsx
  src/components/Modal/BaseModal.tsx
  src/components/withKeyboardState.tsx
  src/styles/utils/generators/ModalStyleUtils.ts
  src/styles/utils/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
