Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

sync IOURequestStartPage to DistanceRequestStartPage
  src/pages/iou/request/DistanceRequestStartPage.tsx
Owners: @Expensify/pullerbear

fixed lint
  src/libs/actions/IOU.ts
  tests/unit/SidebarUtilsTest.ts
Owners: @Expensify/pullerbear

add this month and defaults
  src/CONST/index.ts
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

fix: revert Composer clipboard handling changes
  src/components/Composer/implementation/index.native.tsx
  src/components/Composer/implementation/index.tsx
Owners: @Expensify/pullerbear

change order
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

add optimistic hasBeenretracted and reopened
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

create components
  src/components/Search/SearchPageHeader/SearchFiltersBar.tsx
Owners: @Expensify/pullerbear

fix: optimistic receipt shown for manual distance expense
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

fix: if multiple files contains pdf, use centered_unswipable modal
  src/pages/media/AttachmentModalScreen/routes/report/hooks/useReportAttachmentModalType.ts
Owners: @Expensify/pullerbear

add autocomplete
  src/components/Search/SearchAutocompleteList.tsx
  src/libs/SearchAutocompleteUtils.ts
  src/libs/SearchParser/autocompleteParser.js
  src/libs/SearchParser/autocompleteParser.peggy
Owners: @Expensify/pullerbear

remove unnecessary words
  CLAUDE.md
Owners: @Expensify/pullerbear

Install iOS 18.2 SDK manually
  .github/workflows/deploy.yml
Owners: @Expensify/pullerbear

get correct distance unit
  src/libs/DistanceRequestUtils.ts
  src/libs/TransactionUtils/index.ts
  src/pages/iou/request/step/IOURequestStepDistanceManual.tsx
Owners: @Expensify/pullerbear

update height calculation for signle/multi select popup to match user select popup
  src/components/Search/FilterDropdowns/MultiSelectPopup.tsx
  src/components/Search/FilterDropdowns/SingleSelectPopup.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

substitue correct map icon
  assets/images/map.svg
  src/components/Icon/Expensicons.ts
  src/components/TabSelector/TabSelector.tsx
Owners: @Expensify/design, @Expensify/pullerbear

eslint, spelling fixes
  src/libs/ReceiptUtils.ts
  src/pages/Share/ShareDetailsPage.tsx
  src/pages/Share/ShareRootPage.tsx
  src/pages/Share/SubmitDetailsPage.tsx
Owners: @Expensify/pullerbear

increase timeout for big tests
  tests/ui/GroupChatNameTests.tsx
  tests/ui/PaginationTest.tsx
Owners: @Expensify/pullerbear

Xcode bump instead
  .github/workflows/deploy.yml
Owners: @Expensify/pullerbear

fix: prettier fix
  src/components/MoneyReportHeader.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.94-2
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #68553 from Expensify/marcaaron-fixIOSBuilds
  .github/workflows/deploy.yml
Owners: @Expensify/pullerbear

Update version to 9.1.94-2
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

remove group-by from suggested searches
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

add edit page
  src/CONST/index.ts
  src/components/TabSelector/TabSelector.tsx
  src/components/TabSelector/TabSelectorItem.tsx
  src/libs/Navigation/OnyxTabNavigator.tsx
  src/pages/workspace/receiptPartners/EditInviteReceiptPartnerPolicyPage.tsx
Owners: @Expensify/pullerbear

hide groupBy filter in RHP + hide groupCurrency if groupBy is not from/card
  src/pages/Search/AdvancedSearchFilters.tsx
Owners: @Expensify/pullerbear

fix quick action button
  src/libs/actions/QuickActionNavigation.ts
  src/pages/home/sidebar/FloatingActionButtonAndPopover.tsx
Owners: @Expensify/pullerbear

fix number not show on native
  src/pages/iou/request/step/IOURequestStepDistanceManual.tsx
Owners: @Expensify/pullerbear

attempt to get jest tests passing
  jest/setup.ts
  tests/ui/SwitchToExpensifyClassicTest.tsx
  tests/ui/UnreadIndicatorsTest.tsx
Owners: @Expensify/pullerbear

update tests
  src/components/Search/SearchPageHeader/SearchFiltersBar.tsx
  tests/unit/SearchAutocompleteParserTest.ts
Owners: @Expensify/pullerbear

use both failed status
  src/pages/settings/Subscription/CardSection/CardSection.tsx
Owners: @Expensify/pullerbear

Revert "Merge pull request #67065 from callstack-internal/perf/reduce-useonyx-calls-in-list-item-level"
  src/components/MoneyRequestHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionList.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportView.tsx
  src/components/TransactionItemRow/TransactionItemRowRBRWithOnyx.tsx
  src/components/TransactionItemRow/index.tsx
  src/libs/ReportActionsUtils.ts
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

prettier
  src/pages/settings/Subscription/CardSection/CardSection.tsx
Owners: @Expensify/pullerbear

Revert "fix: incorrect message is shown when trying to access invalid action"
  src/components/AttachmentModal.tsx
  src/components/BlockingViews/BlockingView.tsx
  src/components/BlockingViews/BlockingViewSubtitle.tsx
  src/components/BlockingViews/FullPageNotFoundView.tsx
  src/components/BlockingViews/SubtitleWithBelowLink.tsx
  src/components/DistanceMapView/index.android.tsx
  src/components/EmptySelectionListContent.tsx
  src/components/LHNOptionsList/LHNOptionsList.tsx
  src/components/MapView/PendingMapView.tsx
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/pages/TeachersUnite/ImTeacherUpdateEmailPage.tsx
  src/pages/home/ReportScreen.tsx
  src/pages/media/AttachmentModalScreen/AttachmentModalBaseContent.tsx
  src/pages/settings/Profile/Contacts/ContactMethodDetailsPage.tsx
  src/pages/settings/Security/TwoFactorAuth/TwoFactorAuthWrapper.tsx
  src/pages/settings/Wallet/TransferBalancePage.tsx
  src/pages/workspace/WorkspaceNewRoomPage.tsx
Owners: @Expensify/pullerbear

Update unapproved-spend.md
  docs/articles/new-expensify/reports-and-expenses/unapproved-spend.md
Owners: @Expensify/pullerbear

add hover icon fill to back button item
  src/components/MenuItem.tsx
  src/components/PopoverMenu.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.94-3
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.94-3
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

typecheck
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

Update version to 9.1.94-4
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.94-4
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
