Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

add report prop
  src/components/ReportActionItem/MoneyRequestReceiptView.tsx
  src/components/ReportActionItem/ReportActionItemImage.tsx
Owners: @Expensify/pullerbear

increase width of receipt panel in wide rhp
  src/libs/Navigation/AppNavigator/ModalStackNavigators/useModalStackScreenOptions.ts
  src/libs/Navigation/AppNavigator/useRootNavigatorScreenOptions.ts
  src/styles/index.ts
  src/styles/variables.ts
Owners: @Expensify/pullerbear, @Expensify/design

make size of receipt images flexible
  src/components/ReportActionItem/MoneyRequestReceiptView.tsx
  src/components/ReportActionItem/ReportActionItemImage.tsx
  src/pages/home/ReportScreen.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

add receipt receipt view to report screen
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

fix size of loading receipt image
  src/components/ReportActionItem/MoneyRequestReceiptView.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix erecipt sizing
  src/components/EReceiptWithSizeCalculation.tsx
Owners: @Expensify/pullerbear

fix condition for showing wide RHP
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

fix thumbnails sizing
  src/components/ReceiptImage.tsx
  src/components/ReportActionItem/MoneyRequestReceiptView.tsx
  src/components/ReportActionItem/ReportActionItemImage.tsx
  src/components/TransactionItemRow/DataCells/ReceiptCell.tsx
Owners: @Expensify/pullerbear

fix empty div in MoneyRequestHeader
  src/components/MoneyRequestHeader.tsx
Owners: @Expensify/pullerbear

change mobile responsive width breakpoint to match width of wide RHP
  src/styles/variables.ts
Owners: @Expensify/design, @Expensify/pullerbear

fix spacing around empty receipt image
  src/components/ReportActionItem/MoneyRequestReceiptView.tsx
Owners: @Expensify/pullerbear

fix spacing around empty receipt image v2
  src/components/ReportActionItem/MoneyRequestReceiptView.tsx
Owners: @Expensify/pullerbear

make wide RHP responsive in range 800px to 840px
  src/components/WideRHPContextProvider.tsx
  src/libs/Navigation/AppNavigator/ModalStackNavigators/useModalStackScreenOptions.ts
  src/libs/Navigation/AppNavigator/enhanceCardStyleInterpolator.ts
  src/libs/Navigation/AppNavigator/useRootNavigatorScreenOptions.ts
  src/pages/home/ReportScreen.tsx
  src/styles/index.ts
  src/styles/variables.ts
Owners: @Expensify/pullerbear, @Expensify/design

Fix - The expense fields are clickable for the invited member. Error shows up when trying to edit the expense
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

Update src/libs/Permissions.ts
  src/libs/Permissions.ts
Owners: @Expensify/pullerbear

add delegate tests
  tests/actions/DelegateTest.ts
Owners: @Expensify/pullerbear

add optimistic marking reportID as expense
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionList.tsx
  src/components/Search/index.tsx
  src/components/SelectionList/Search/TransactionGroupListItem.tsx
  src/components/WideRHPContextProvider.tsx
Owners: @Expensify/pullerbear

add optimistic marking reportID as expense v2
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionsNavigation.tsx
Owners: @Expensify/pullerbear

fix eslint
  src/pages/settings/Security/AddDelegate/UpdateDelegateRole/ValidateCodeForm/BaseValidateCodeForm.tsx
Owners: @Expensify/pullerbear

update RN patches to fix android build
  patches/react-native/react-native+0.81.0+002+fixMVCPAndroid.patch
  patches/react-native/react-native+0.81.0+009+copyStateOnClone.patch
  patches/react-native/react-native+0.81.0+010+textinput-clear-command.patch
Owners: @Expensify/pullerbear

Improve LHN performance
  src/components/LHNOptionsList/LHNOptionsList.tsx
Owners: @Expensify/pullerbear

update package json warning
  package.json
Owners: @Expensify/pullerbear

fix: can not share file if the file has specical character
  android/app/src/main/java/com/expensify/chat/ShareActionHandlerModule.kt
  ios/RCTShareActionHandlerModule.m
  src/components/AttachmentPreview.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.97-4
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.97-4
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

chore: remove default value
  src/components/AttachmentPreview.tsx
Owners: @Expensify/pullerbear

Merge pull request #68985 from Expensify/jasper-revert65862
  cspell.json
  src/CONST/index.ts
  src/libs/API/index.ts
  src/libs/Formula.ts
  src/libs/OptimisticReportNames.ts
  src/libs/OptimisticReportNamesConnectionManager.ts
  src/libs/Permissions.ts
  tests/perf-test/Formula.perf-test.ts
  tests/perf-test/OptimisticReportNames.perf-test.ts
  tests/unit/FormulaTest.ts
  tests/unit/OptimisticReportNamesTest.ts
Owners: @Expensify/pullerbear

fix: show not found page for invite and members page on archived room
  src/pages/RoomInvitePage.tsx
  src/pages/RoomMembersPage.tsx
Owners: @Expensify/pullerbear

BaseVideoPlayer nitpicks
  src/components/VideoPlayer/BaseVideoPlayer.tsx
Owners: @Expensify/pullerbear

Call correct command
  src/components/KYCWall/BaseKYCWall.tsx
Owners: @Expensify/pullerbear

use useOnyx for credentials
  src/components/AccountSwitcher.tsx
  src/libs/Navigation/AppNavigator/AuthScreens.tsx
  src/libs/actions/Delegate.ts
Owners: @Expensify/pullerbear

Fix one transaction expense open from Reports tab
  src/components/Search/index.tsx
  src/components/SelectionList/types.ts
Owners: @Expensify/pullerbear

fix more button
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestHeader.tsx
Owners: @Expensify/pullerbear

extend condition for showing wide rhp
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

fix wrong report for receipt view
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

Move utility function back to SidebarOrderTest
  tests/unit/SidebarOrderTest.ts
  tests/utils/TestHelper.ts
Owners: @Expensify/pullerbear

Fix - When the pending expense is not reimbursable, Approve button does not change
  src/components/MoneyReportHeader.tsx
Owners: @Expensify/pullerbear

fix no results and swtich between tabs
  src/pages/workspace/receiptPartners/EditInviteReceiptPartnerPolicyPage.tsx
Owners: @Expensify/pullerbear

update RN patches to fix android build
  patches/react-native/react-native+0.81.0+011+Add-onPaste-to-TextInput.patch
Owners: @Expensify/pullerbear

fix UI
  src/pages/workspace/receiptPartners/EditInviteReceiptPartnerPolicyPage.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design
