Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

fix: RBR Hold Message
  src/languages/en.ts
  src/languages/es.ts
Owners: @Expensify/pullerbear

fix: unable to Hold unsubmitted expenses
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

IOU is displayed within the iouReport preview instead of X owes $y
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/libs/ReportUtils.ts
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

add temp ability to upload dependent tags
  src/components/ImportSpreadsheet.tsx
  src/languages/es.ts
  src/libs/API/parameters/ImportMultiLevelTagsParams.ts
  src/libs/actions/ImportSpreadsheet.ts
  src/libs/actions/Policy/Tag.ts
  src/libs/actions/Report.ts
  src/pages/workspace/tags/ImportMultiLevelTagsSettingsPage.tsx
  src/pages/workspace/tags/ImportTagsOptionsPage.tsx
  src/pages/workspace/tags/ImportTagsPage.tsx
  src/types/onyx/ImportedSpreadsheet.ts
Owners: @Expensify/pullerbear

fix: use strict html validation in merchant step
  src/CONST.ts
  src/components/Form/FormProvider.tsx
  src/pages/iou/request/step/IOURequestStepMerchant.tsx
Owners: @Expensify/pullerbear

fix PR comments
  src/components/SelectionList/SearchTableHeader.tsx
  src/components/TransactionItemRow/index.tsx
Owners: @Expensify/pullerbear

Improve the check for cases when report actions are not pre-loaded
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

minor fix
  src/libs/actions/TestTool.ts
Owners: @Expensify/pullerbear

fix: incorrect item in per diem page
  src/pages/workspace/perDiem/WorkspacePerDiemPage.tsx
Owners: @Expensify/pullerbear

fix: style improvements
  src/components/DropZone/DropZoneUI.tsx
  src/components/DropZone/DualDropZone.tsx
  src/pages/Search/SearchPage.tsx
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
  src/pages/iou/request/step/IOURequestStepConfirmation.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
  src/styles/index.ts
  src/styles/theme/themes/dark.ts
  src/styles/theme/themes/light.ts
  src/styles/theme/types.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix: missing headers in empty state and view tags
  src/pages/workspace/categories/WorkspaceCategoriesPage.tsx
  src/pages/workspace/perDiem/WorkspacePerDiemPage.tsx
  src/pages/workspace/tags/WorkspaceTagsPage.tsx
  src/pages/workspace/tags/WorkspaceViewTagsPage.tsx
Owners: @Expensify/pullerbear

fix: lint
  src/components/Form/FormProvider.tsx
  src/pages/iou/request/step/IOURequestStepMerchant.tsx
Owners: @Expensify/pullerbear

remove logs
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

fix: Only appeaer the change in scope of the bug
  src/components/Form/FormProvider.tsx
  src/components/Form/FormWrapper.tsx
  src/pages/workspace/companyCards/addNew/CardNameStep.tsx
Owners: @Expensify/pullerbear

fix: lint
  src/components/Form/FormWrapper.tsx
  src/pages/workspace/companyCards/addNew/CardNameStep.tsx
Owners: @Expensify/pullerbear

show split preview if the amount is 0
  src/pages/home/report/PureReportActionItem.tsx
Owners: @Expensify/pullerbear

fix lint
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

Preview shows Deleted report when new report is created offline when workflows are disabled
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

Make clearSelectedTransactions work for IDs
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/components/MoneyRequestReportView/MoneyRequestReportTransactionList.tsx
  src/components/Search/SearchContext.tsx
  src/components/Search/types.ts
  src/hooks/useSelectedTransactionsActions.ts
  src/pages/Search/SearchHoldReasonPage.tsx
  src/pages/iou/request/step/IOURequestEditReport.tsx
Owners: @Expensify/pullerbear

fix: display correct error
  src/pages/workspace/expensifyCard/issueNew/ConfirmationStep.tsx
Owners: @Expensify/pullerbear

wip: atomic updates in gorid
  src/hooks/useSidebarOrderedReports.tsx
  src/libs/SidebarUtils.ts
Owners: @Expensify/pullerbear

update transactions
  src/hooks/useSidebarOrderedReports.tsx
Owners: @Expensify/pullerbear

design fixes
  assets/images/companyCards/card-plaid.svg
  assets/images/companyCards/large/card-plaid-large.svg
  assets/images/companyCards/large/generic-plaid-dark-large.svg
  assets/images/companyCards/large/generic-plaid-light-large.svg
  src/components/FeedSelector.tsx
  src/components/Icon/Illustrations.ts
  src/pages/workspace/companyCards/WorkspaceCompanyCardDetailsPage.tsx
  src/pages/workspace/companyCards/WorkspaceCompanyCardFeedSelectorPage.tsx
  src/styles/index.ts
  src/styles/theme/illustrations/themes/dark.ts
  src/styles/theme/illustrations/themes/light.ts
  src/styles/theme/illustrations/types.ts
  tests/unit/CardUtilsTest.ts
  tests/unit/Search/buildCardFilterDataTest.ts
Owners: @Expensify/design, @Expensify/pullerbear

design fixes
  src/components/MenuItem.tsx
Owners: @Expensify/pullerbear

Revert "Improve the check for cases when report actions are not pre-loaded"
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

Sign out from OldDot when account is closed on NewDot
  src/libs/actions/User.ts
Owners: @Expensify/pullerbear

fix: focus composer on PopoverReportActionContextMenu dismiss
  src/pages/home/report/ContextMenu/PopoverReportActionContextMenu.tsx
Owners: @Expensify/pullerbear

fix: radio button is not selected after reload page
  src/components/Form/FormProvider.tsx
Owners: @Expensify/pullerbear

Additionally check for childMoneyRequestCount when report actions are not pre-loaded
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

fix offline report creation
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
  src/libs/PolicyUtils.ts
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

fix: extract re-focus logic from runAndResetOnPopoverHide
  src/pages/home/report/ContextMenu/PopoverReportActionContextMenu.tsx
Owners: @Expensify/pullerbear

fix: run runAndResetOnPopoverHide first
  src/pages/home/report/ContextMenu/PopoverReportActionContextMenu.tsx
Owners: @Expensify/pullerbear

use queueFlushedData
  src/hooks/useLoadingBarVisibility.ts
  src/libs/actions/App.ts
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

use ongoingRequest instead of currentRequestCommand
  src/hooks/useLoadingBarVisibility.ts
  src/libs/Network/SequentialQueue.ts
Owners: @Expensify/pullerbear

remove unnecessary changes
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
Owners: @Expensify/pullerbear

set for relevant commands
  src/hooks/useLoadingBarVisibility.ts
Owners: @Expensify/pullerbear

removed notifyQueueStateChange call after clearing
  src/libs/Network/SequentialQueue.ts
Owners: @Expensify/pullerbear

avoiding rerenders
  src/hooks/useLoadingBarVisibility.ts
Owners: @Expensify/pullerbear

commit
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
Owners: @Expensify/pullerbear

fix: stop reporting sidebar_loaded layout to the timing module
  src/libs/actions/App.ts
  src/pages/home/sidebar/BaseSidebarScreen.tsx
Owners: @Expensify/pullerbear
