Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

fix: TS errors
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
Owners: @Expensify/pullerbear

fix: dependency array
  src/pages/home/report/ReportActionsList.tsx
Owners: @Expensify/pullerbear

Revert "fix back button does not navigate to the specific thread"
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

fix: eslint errors
  src/pages/media/AttachmentModalScreen/AttachmentModalBaseContent.tsx
  src/pages/media/AttachmentModalScreen/AttachmentModalBaseContent/index.tsx
  src/pages/media/AttachmentModalScreen/routes/TransactionReceiptModalContent.tsx
  src/pages/media/AttachmentModalScreen/routes/report/ReportAddAttachmentModalContent.tsx
Owners: @Expensify/pullerbear

fix: more TS errors
  src/components/Composer/implementation/index.native.tsx
  src/components/Composer/implementation/index.tsx
  src/hooks/useCheckIfRouteHasRemainedUnchanged.ts
Owners: @Expensify/pullerbear

fix: spell
  src/pages/media/AttachmentModalScreen/AttachmentModalBaseContent/types.ts
Owners: @Expensify/pullerbear

fix: remove extra attachment modal
  src/components/AttachmentComposerModal.tsx
Owners: @Expensify/pullerbear

fix: FileObject import
  src/hooks/useFilesValidation.tsx
Owners: @Expensify/pullerbear

Update tests/unit/Search/SearchQueryUtilsTest.ts
  tests/unit/Search/SearchQueryUtilsTest.ts
Owners: @Expensify/pullerbear

refactor: remove useFileErrorModal
  src/pages/media/AttachmentModalScreen/routes/report/ReportAddAttachmentModalContent.tsx
  src/pages/media/AttachmentModalScreen/routes/report/hooks/useFileErrorModal.tsx
Owners: @Expensify/pullerbear

Fix import for web
  src/HybridAppHandler.tsx
Owners: @Expensify/pullerbear

Adjust border radius and selected background
  src/pages/TransactionMerge/MergeFieldReview.tsx
  src/pages/TransactionMerge/TransactionMergeReceipts.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

fix: more TS errors
  src/CONST/index.ts
  src/hooks/useFilesValidation.tsx
  src/stories/Composer.stories.tsx
Owners: @Expensify/pullerbear

Refactored localeCompare in ReportUtils (part 1)
  src/components/MoneyRequestConfirmationListFooter.tsx
  src/libs/ReportUtils.ts
  src/pages/iou/request/step/IOURequestEditReportCommon.tsx
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

make share extension correctly handle heic files
  src/CONST/index.ts
  src/pages/Share/ShareDetailsPage.tsx
  src/pages/Share/SubmitDetailsPage.tsx
Owners: @Expensify/pullerbear

fix prettier
  src/pages/Share/ShareDetailsPage.tsx
  src/pages/Share/SubmitDetailsPage.tsx
Owners: @Expensify/pullerbear

fix lint
  src/libs/actions/OnyxDerived/configs/reportAttributes.ts
Owners: @Expensify/pullerbear

fix: TS
  src/components/Composer/implementation/index.native.tsx
  src/components/Composer/implementation/index.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.87-5
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.87-5
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

fix: TS
  src/components/Composer/implementation/index.native.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.87-6
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.87-6
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #67339 from ZhenjaHorbach/splits-use-reportID-from-transaction
  src/components/MoneyReportHeader.tsx
  src/components/MoneyRequestHeader.tsx
  src/libs/actions/IOU.ts
  tests/actions/IOUTest.ts
Owners: @Expensify/pullerbear

fix: TS
  src/components/Composer/implementation/index.native.tsx
Owners: @Expensify/pullerbear

Should navigate to the confirmation page when there is no conflict
  src/pages/TransactionMerge/MergeTransactionsListContent.tsx
  src/pages/TransactionMerge/ReceiptReviewPage.tsx
Owners: @Expensify/pullerbear

Fix unable to view receipt image when it's a PDF file
  src/libs/MergeTransactionUtils.ts
  tests/unit/MergeTransactionUtilsTest.ts
Owners: @Expensify/pullerbear

Update version to 9.1.87-7
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.87-7
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Merge pull request #67398 from software-mansion-labs/jakubkalinski0/Expense-A-to-B-and-B-to-A-indicators-are-displayed-on-three-lines
  src/components/ReportActionItem/TransactionPreview/TransactionPreviewContent.tsx
Owners: @Expensify/pullerbear

fix: remove conditional seting derived value
  src/libs/actions/OnyxDerived/index.ts
Owners: @Expensify/pullerbear

chore: fix lint
  src/libs/actions/OnyxDerived/configs/reportAttributes.ts
Owners: @Expensify/pullerbear

Fix unable to view receipt image for source transaction
  src/pages/TransactionMerge/TransactionMergeReceipts.tsx
Owners: @Expensify/pullerbear

add backTo param to WorkspaceCompanyCardStatementCloseDatePageProps
  src/ROUTES.ts
  src/libs/Navigation/types.ts
  src/pages/workspace/companyCards/WorkspaceCompanyCardStatementCloseDatePage.tsx
Owners: @Expensify/pullerbear

redirect user to statement period page after a direct feed is added
  src/pages/workspace/companyCards/BankConnection/index.native.tsx
  src/pages/workspace/companyCards/BankConnection/index.tsx
Owners: @Expensify/pullerbear

Check if user is admin of workspace when is migrated user
  src/components/TestDrive/TestDriveDemo.tsx
  src/libs/TourUtils.ts
  tests/unit/TourUtilsTest.ts
Owners: @Expensify/pullerbear

Do not highlight when a source transaction is selected
  src/components/TransactionItemRow/index.tsx
  src/pages/TransactionMerge/MergeTransactionItem.tsx
Owners: @Expensify/pullerbear

Run prettier
  src/pages/TransactionMerge/TransactionMergeReceipts.tsx
Owners: @Expensify/pullerbear

removed Text style
  src/components/BookTravelButton.tsx
Owners: @Expensify/pullerbear

Swap border radius
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
