Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

add addBankAccountRoute to KYCWall
  src/pages/home/report/PureReportActionItem.tsx
Owners: @Expensify/pullerbear

pass chatReportID down to SettlementButton
  src/pages/iou/MoneyRequestAmountForm.tsx
  src/pages/iou/request/step/IOURequestStepAmount.tsx
  src/pages/iou/request/step/IOURequestStepTaxAmountPage.tsx
Owners: @Expensify/pullerbear

fix lint-changed
  src/pages/iou/request/step/IOURequestStepTaxAmountPage.tsx
Owners: @Expensify/pullerbear

lint
  src/components/MoneyRequestReportView/MoneyRequestReportActionsList.tsx
Owners: @Expensify/pullerbear

Small fixes to the comments
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
Owners: @Expensify/pullerbear

fix: show correct feed name in search query
  src/libs/SearchQueryUtils.ts
Owners: @Expensify/pullerbear

fix expensify card page header spacing
  src/pages/workspace/expensifyCard/WorkspaceExpensifyCardListPage.tsx
Owners: @Expensify/pullerbear

Update src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
Owners: @Expensify/pullerbear

lint + ts
  src/CONST/index.ts
  src/hooks/useSearchTypeMenuSections.ts
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

Update .github/scripts/findUnusedStyles.ts
  .github/scripts/findUnusedStyles.ts
Owners: @Expensify/pullerbear

Update .github/scripts/findUnusedStyles.ts
  .github/scripts/findUnusedStyles.ts
Owners: @Expensify/pullerbear

rewrite IOURequestStepTaxAmountPage to useOnyx
  src/pages/iou/request/step/IOURequestStepTaxAmountPage.tsx
Owners: @Expensify/pullerbear

refactor: replace useOnyx with usePolicy for policy data retrieval
  src/components/AnonymousReportFooter.tsx
Owners: @Expensify/pullerbear

Disable lint warnings
  src/libs/actions/Report.ts
Owners: @Expensify/pullerbear

refactor: simplify PDFViewProps and clean up type usage
  src/components/PDFView/index.native.tsx
  src/components/PDFView/index.tsx
  src/components/PDFView/types.ts
Owners: @Expensify/pullerbear

reimplement previous menu items logic
  src/components/PopoverMenu.tsx
Owners: @Expensify/pullerbear

Improvements
  .github/scripts/findUnusedStyles.ts
Owners: @Expensify/pullerbear

use selection on session
  src/hooks/useSearchTypeMenuSections.ts
  src/libs/SearchUIUtils.ts
  tests/unit/Search/SearchUIUtilsTest.ts
Owners: @Expensify/pullerbear

Revert "Chat header's infinite loading after merge account"
  src/libs/ReportUtils.ts
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

fix: minor fix
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

Small code cleanup in the MoneyRequestReportPreviewContent.tsx component
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
Owners: @Expensify/pullerbear

lint
  src/hooks/useSearchTypeMenuSections.ts
Owners: @Expensify/pullerbear

fix: more edgecases and no continue on 1st step
  src/libs/API/parameters/RestartBankAccountSetupParams.ts
  src/libs/actions/ReimbursementAccount/resetUSDBankAccount.ts
  src/pages/ReimbursementAccount/ReimbursementAccountPage.tsx
  src/pages/ReimbursementAccount/USD/BankInfo/BankInfo.tsx
  src/pages/ReimbursementAccount/USD/BankInfo/subSteps/Manual.tsx
  src/pages/ReimbursementAccount/VerifiedBankAccountFlowEntryPoint.tsx
Owners: @Expensify/pullerbear

add const animation duration
  src/CONST/index.ts
  src/components/Search/SearchList.tsx
Owners: @Expensify/pullerbear

fix prop name, icon alignment, and comment.
  src/components/MoneyRequestAmountInput.tsx
  src/components/TextInput/BaseTextInput/implementation/index.native.tsx
  src/components/TextInput/BaseTextInput/implementation/index.tsx
  src/components/TextInput/BaseTextInput/types.ts
  src/components/TextInputWithCurrencySymbol/types.ts
  src/styles/utils/index.ts
  src/styles/variables.ts
Owners: @Expensify/pullerbear, @Expensify/design

Update Update-Email-Address.md
  docs/articles/new-expensify/settings/Update-Email-Address.md
Owners: @Expensify/pullerbear

fix ESLint.
  src/components/MoneyRequestConfirmationList.tsx
  src/components/SelectionList/SplitListItem.tsx
Owners: @Expensify/pullerbear

iterate over polices only once
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

minor fixes
  src/components/Search/index.tsx
  src/hooks/useSearchHighlightAndScroll.ts
Owners: @Expensify/pullerbear

code consistency and remove nested condition
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

change comment in new utils condition
  src/libs/ReportUtils.ts
Owners: @Expensify/pullerbear

lint
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

lint
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

chore: remove validation logic from AttachmentModal
  src/components/AttachmentModal.tsx
Owners: @Expensify/pullerbear

chore: remove unused component
  src/pages/home/report/ReportDropUI.tsx
Owners: @Expensify/pullerbear

add last month back
  src/CONST/index.ts
Owners: @Expensify/pullerbear

change spacing
  src/pages/workspace/expensifyCard/WorkspaceExpensifyCardListPage.tsx
Owners: @Expensify/pullerbear

use selector on policies
  src/hooks/useSearchTypeMenuSections.ts
Owners: @Expensify/pullerbear

Get mocking and path validation working
  scripts/generateTranslations.ts
  tests/unit/generateTranslationsTest.ts
Owners: @Expensify/pullerbear

use account ID
  src/components/Search/SearchContext.tsx
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
