Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear

Fix prettier issue
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

fix eslint
  src/components/TransactionItemRow/index.tsx
Owners: @Expensify/pullerbear

Link PRs to first two patches and upstram PR to second patch
  patches/react-native/details.md
Owners: @Expensify/pullerbear

post-merge fixes
  src/HybridAppHandler.tsx
Owners: @Expensify/pullerbear

Fix mobile view for trip preview
  src/components/ReportActionItem/TripRoomPreview.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

update code
  src/components/MoneyReportHeader.tsx
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/components/ReportActionItem/ReportPreview.tsx
  src/libs/ReportPreviewActionUtils.ts
  src/libs/ReportPrimaryActionUtils.ts
  src/libs/ReportSecondaryActionUtils.ts
Owners: @Expensify/pullerbear

Add the convert experiments script to our repo and ensure we load it in dev too
  web/index.html
Owners: @Expensify/pullerbear

Change getReportOrDraftReport to direct allReports calls
  src/libs/OptionsListUtils.ts
  src/libs/ReportUtils.ts
  src/libs/actions/Report.ts
  tests/unit/ReportSecondaryActionUtilsTest.ts
Owners: @Expensify/pullerbear

remove extra styles
  src/components/ReportActionItem/TripRoomPreview.tsx
  src/styles/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

Actually add the script
  web/convertExperiments.js
Owners: @Expensify/pullerbear

refactor
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
  src/components/ReportActionItem/ReportPreview.tsx
  src/libs/ReportPreviewActionUtils.ts
  src/libs/ReportSecondaryActionUtils.ts
Owners: @Expensify/pullerbear

fix: offload mounting suggestions until composer has any value
  src/pages/home/report/ReportActionCompose/ComposerWithSuggestions/ComposerWithSuggestions.tsx
Owners: @Expensify/pullerbear

fix lint
  src/components/MoneyReportHeader.tsx
  src/libs/ReportPreviewActionUtils.ts
Owners: @Expensify/pullerbear

Don't reuse description and category of initial transaction
  src/pages/iou/request/step/IOURequestStepScan/index.native.tsx
  src/pages/iou/request/step/IOURequestStepScan/index.tsx
Owners: @Expensify/pullerbear

fix: run prettier
  src/pages/home/report/ReportActionCompose/ComposerWithSuggestions/ComposerWithSuggestions.tsx
Owners: @Expensify/pullerbear

Update expensify-common to version 2.0.141 and refactor related imports to use PUBLIC_DOMAINS_SET
  package-lock.json
  package.json
  src/libs/LoginUtils.ts
  src/libs/ValidationUtils.ts
  src/libs/actions/Policy/Policy.ts
  src/pages/OnboardingWorkEmail/BaseOnboardingWorkEmail.tsx
Owners: @Expensify/pullerbear

Tasks are duplicated for invited member
  src/libs/API/index.ts
Owners: @Expensify/pullerbear

Fix import reference from PUBLIC_DOMAIN_SET to PUBLIC_DOMAINS_SET in Policy.ts
  src/libs/actions/Policy/Policy.ts
Owners: @Expensify/pullerbear

refactor split phrase phoneError
  src/components/BookTravelButton.tsx
  src/languages/en.ts
  src/languages/es.ts
Owners: @Expensify/pullerbear

Get report from allReports
  src/pages/Debug/ReportAction/DebugReportActionPreview.tsx
Owners: @Expensify/pullerbear

Revert some changes
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

fix: revert unnecessary change
  src/components/FeatureTrainingModal.tsx
Owners: @Expensify/pullerbear

Get iouReportOfLinkedReport from allReports
  src/components/ReportActionItem/TripRoomPreview.tsx
  src/pages/home/report/PureReportActionItem.tsx
  src/pages/home/report/ReportActionItem.tsx
Owners: @Expensify/pullerbear

fix: show only attachment dropzone for paid requests
  src/pages/home/report/ReportActionCompose/ReportActionCompose.tsx
Owners: @Expensify/pullerbear

Fix isOneTransactionThread
  src/libs/ReportUtils.ts
  src/libs/SidebarUtils.ts
  src/pages/home/ReportScreen.tsx
Owners: @Expensify/pullerbear

Refactor some changes
  src/libs/actions/IOU.ts
Owners: @Expensify/pullerbear

use flexShrink to keep tooltip text within parent container
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

add lockedAccountmodal provider
  src/components/LockedAccountModalProvider.tsx
  src/libs/Navigation/AppNavigator/AuthScreens.tsx
Owners: @Expensify/pullerbear

Get report from allReports in ReportActionItem
  src/pages/home/report/ReportActionItem.tsx
Owners: @Expensify/pullerbear

prettier
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

show only those workspaces which have per diem enabeld
  src/libs/OptionsListUtils.ts
  src/pages/iou/request/MoneyRequestParticipantsSelector.tsx
Owners: @Expensify/pullerbear

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Fix prettier
  src/HybridAppHandler.tsx
Owners: @Expensify/pullerbear

find + replace LockAccountModal with LockAccountModalProvider
  src/components/SettlementButton/index.tsx
  src/pages/settings/Profile/Contacts/ContactMethodDetailsPage.tsx
  src/pages/settings/Profile/Contacts/ContactMethodsPage.tsx
  src/pages/settings/Security/SecuritySettingsPage.tsx
  src/pages/settings/Wallet/ExpensifyCardPage.tsx
  src/pages/settings/Wallet/WalletPage/WalletPage.tsx
  src/pages/workspace/WorkspaceMembersPage.tsx
  src/pages/workspace/WorkspaceOverviewPage.tsx
  src/pages/workspace/expensifyCard/WorkspaceExpensifyCardListPage.tsx
  src/pages/workspace/expensifyCard/WorkspaceExpensifyCardPageEmptyState.tsx
  src/pages/workspace/members/WorkspaceMemberDetailsPage.tsx
  src/pages/workspace/workflows/WorkspaceWorkflowsPage.tsx
Owners: @Expensify/pullerbear

Fix type error
  src/pages/home/report/ReportActionItem.tsx
Owners: @Expensify/pullerbear

style/prettier
  src/pages/settings/Profile/Contacts/ContactMethodDetailsPage.tsx
  src/pages/settings/Profile/Contacts/ContactMethodsPage.tsx
  src/pages/settings/Security/SecuritySettingsPage.tsx
  src/pages/settings/Wallet/ExpensifyCardPage.tsx
  src/pages/settings/Wallet/WalletPage/WalletPage.tsx
  src/pages/workspace/WorkspaceMembersPage.tsx
  src/pages/workspace/WorkspaceOverviewPage.tsx
  src/pages/workspace/expensifyCard/WorkspaceExpensifyCardListPage.tsx
  src/pages/workspace/expensifyCard/WorkspaceExpensifyCardPageEmptyState.tsx
  src/pages/workspace/members/WorkspaceMemberDetailsPage.tsx
  src/pages/workspace/workflows/WorkspaceWorkflowsPage.tsx
Owners: @Expensify/pullerbear

stray LockedAccountModal
  src/pages/workspace/members/WorkspaceMemberDetailsPage.tsx
Owners: @Expensify/pullerbear

Update version to 9.1.63-2
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

move template link
  contributingGuides/PATCHES.md
Owners: @Expensify/pullerbear

Merge pull request #63826 from Expensify/revert-63242-perf/navigation-tab-bar-dummy
  src/components/Navigation/NavigationTabBar/NavigationTabBarDummy.tsx
  src/components/Navigation/SearchSidebar.tsx
  src/pages/Search/SearchPageNarrow.tsx
  src/pages/home/sidebar/BaseSidebarScreen.tsx
  src/pages/settings/InitialSettingsPage.tsx
  src/pages/workspace/WorkspaceInitialPage.tsx
  src/pages/workspace/WorkspacesListPage.tsx
Owners: @Expensify/pullerbear
