Repository Expensify/App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Expensify/pullerbear, @Expensify/design, @rushatgabhane

Rename missed OnyxProvider to OnyxListItemProvider
  src/App.tsx
  src/components/createOnyxContext.tsx
  src/hooks/useReportWithTransactionsAndViolations.ts
  tests/actions/IOUTest.ts
  tests/ui/PureReportActionItemTest.tsx
  tests/ui/components/EmptySearchViewTest.tsx
Owners: @Expensify/pullerbear

Fix stale session data
  src/libs/Navigation/AppNavigator/AuthScreens.tsx
Owners: @Expensify/pullerbear

fix: remove OnyxConnect
  src/Expensify.tsx
  src/hooks/usePriorityChange.ts
  src/libs/actions/App.ts
Owners: @Expensify/pullerbear

Updating code style after running prettier
  src/components/ReportActionItem/MoneyRequestReportPreview/MoneyRequestReportPreviewContent.tsx
Owners: @Expensify/pullerbear

moved out the unused style action
  .github/workflows/unused-styles.yml
Owners: @Expensify/pullerbear

removed unused style
  src/styles/index.ts
Owners: @Expensify/design, @Expensify/pullerbear

fix lint
  src/hooks/usePriorityChange.ts
Owners: @Expensify/pullerbear

Rename missed OnyxProvider to OnyxListItemProvider
  tests/unit/useReportAvatarDetailsTest.ts
Owners: @Expensify/pullerbear

Merge pull request #66180 from Expensify/chuckdries/revert-64259
  src/components/MoneyReportHeader.tsx
  src/components/TransactionItemRow/DataCells/ChatBubbleCell.tsx
  src/languages/de.ts
  src/languages/en.ts
  src/languages/es.ts
  src/languages/fr.ts
  src/languages/it.ts
  src/languages/ja.ts
  src/languages/nl.ts
  src/languages/pl.ts
  src/languages/pt-BR.ts
  src/languages/zh-hans.ts
  src/libs/API/parameters/ChangeTransactionsReportParams.ts
  src/libs/ReportUtils.ts
  src/libs/actions/Transaction.ts
  src/pages/Search/SearchTransactionsChangeReport.tsx
  src/pages/iou/request/step/IOURequestEditReport.tsx
  src/pages/iou/request/step/IOURequestEditReportCommon.tsx
  src/pages/iou/request/step/IOURequestStepReport.tsx
Owners: @Expensify/pullerbear

fix: email field is auto unfocused
  src/pages/home/report/ContextMenu/BaseReportActionContextMenu.tsx
Owners: @Expensify/pullerbear

cleanup selectors and add card feeds
  src/components/Search/SearchContext.tsx
  src/hooks/useDefaultCardFeed.ts
  src/hooks/useSearchTypeMenuSections.ts
  src/libs/SearchUIUtils.ts
  tests/unit/Search/SearchUIUtilsTest.ts
Owners: @Expensify/pullerbear

add comment so hopefully nobody causes performances issues
  src/libs/SearchUIUtils.ts
Owners: @Expensify/pullerbear

fix lint
  src/pages/iou/request/step/IOURequestStepCurrency.tsx
  src/pages/iou/request/step/IOURequestStepTaxAmountPage.tsx
Owners: @Expensify/pullerbear

Moved findUnusedStyles.ts
  .github/workflows/unused-styles.yml
  package.json
  scripts/findUnusedStyles.ts
  tests/unit/findUnusedStylesTest.ts
Owners: @Expensify/pullerbear

Update version to 9.1.81-7
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

deleted bash script
  .github/scripts/findUnusedKeys.sh
Owners: @Expensify/pullerbear

Merge pull request #66251 from allgandalf/revert-65748-fix/63974/infinite-loading-after-merge-acc
  src/libs/ReportUtils.ts
  tests/unit/ReportUtilsTest.ts
Owners: @Expensify/pullerbear

Update version to 9.1.81-7
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

fix: user can change the WS currency that is already connected to the USD bank account
  src/libs/actions/Policy/Policy.ts
  src/pages/workspace/WorkspacePageWithSections.tsx
Owners: @Expensify/pullerbear

revert wrong file change
  src/libs/actions/Policy/Policy.ts
  src/types/onyx/Policy.ts
Owners: @Expensify/pullerbear

add script exit code handling
  .github/scripts/buildActions.sh
Owners: @Expensify/pullerbear

Update version to 9.1.82-0
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Update version to 9.1.82-1
  android/app/build.gradle
  ios/NewExpensify/Info.plist
  ios/NotificationServiceExtension/Info.plist
  ios/ShareViewController/Info.plist
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

fix: eReceipts toggle is not auto enabled
  src/libs/actions/Policy/Policy.ts
Owners: @Expensify/pullerbear

fix prettier
  src/libs/actions/Policy/Policy.ts
Owners: @Expensify/pullerbear

minor fix
  src/components/ReportActionItem/TransactionPreview/index.tsx
  src/pages/TransactionDuplicate/Confirmation.tsx
  src/pages/TransactionDuplicate/Review.tsx
  src/pages/TransactionDuplicate/ReviewBillable.tsx
  src/pages/TransactionDuplicate/ReviewCategory.tsx
  src/pages/TransactionDuplicate/ReviewDescription.tsx
  src/pages/TransactionDuplicate/ReviewMerchant.tsx
  src/pages/TransactionDuplicate/ReviewReimbursable.tsx
  src/pages/TransactionDuplicate/ReviewTag.tsx
  src/pages/TransactionDuplicate/ReviewTaxCode.tsx
Owners: @Expensify/pullerbear

Switch between two assignees
  create_onyx_issues.sh
Owners: @Expensify/pullerbear

Bump eslint-config-expensify to 2.0.86
  .eslintrc.changed.js
  package-lock.json
  package.json
Owners: @Expensify/pullerbear

Output the results to a file
  extract-onyx-keys.js
Owners: @Expensify/pullerbear

fix: Moved this expense to your personal space isn't translated
  src/libs/ReportUtils.ts
  src/libs/SidebarUtils.ts
  src/pages/home/report/ContextMenu/ContextMenuActions.tsx
Owners: @Expensify/pullerbear

chore: format code
  src/components/AnonymousReportFooter.tsx
  src/components/ConfirmedRoute.tsx
  src/components/PDFView/types.ts
Owners: @Expensify/pullerbear

Fix flashlist not re-rendering when columns change
  src/components/Search/SearchList.tsx
  src/components/Search/index.tsx
Owners: @Expensify/pullerbear

Better round robin
  create_onyx_issues.sh
Owners: @Expensify/pullerbear

Fix typescript
  tests/ui/WorkspacePageWithSectionsTest.tsx
Owners: @Expensify/pullerbear

fix: resolve eslint errors
  src/components/AnonymousReportFooter.tsx
  src/components/CardPreview.tsx
  src/components/ConfirmedRoute.tsx
  src/components/PDFView/index.tsx
Owners: @Expensify/pullerbear

revert: undo simplification of PDFViewProps to restore type safety
  src/components/PDFView/index.native.tsx
  src/components/PDFView/index.tsx
  src/components/PDFView/types.ts
Owners: @Expensify/pullerbear

Fix infinite loading on login
  src/libs/actions/Session/index.ts
Owners: @Expensify/pullerbear

add redirects
  docs/_data/_routes.yml
  docs/redirects.csv
Owners: @Expensify/pullerbear

Revert "Merge pull request #65878 from software-mansion-labs/@szymczak/flatten-transactionItemRow-view-hierarchy"
  src/components/Search/index.tsx
  src/components/SelectionList/Search/CardListItemHeader.tsx
  src/components/SelectionList/Search/ReportListItemHeader.tsx
  src/components/SelectionList/Search/TransactionGroupListItem.tsx
  src/components/SelectionList/Search/TransactionListItem.tsx
  src/pages/Search/SearchPage.tsx
  src/styles/index.ts
  src/types/onyx/MobileSelectionMode.ts
  src/types/onyx/index.ts
Owners: @Expensify/pullerbear, @Expensify/design

Start adding routing philosophy
  contributingGuides/philosophies/ROUTING.md
Owners: @Expensify/pullerbear

.github/CODEOWNERS:

# Every PR gets a review from an internal Expensify engineer
* @Expensify/pullerbear

# Assign the Design team to review changes to our styles & assets
src/styles/ @Expensify/design @Expensify/pullerbear
assets/ @Expensify/design @Expensify/pullerbear

# BlameGPT needs to update its parsing logic if issue or PR templates change substantially
.github/PULL_REQUEST_TEMPLATE.md @rushatgabhane @Expensify/pullerbear
.github/ISSUE_TEMPLATE/Standard.md @rushatgabhane @Expensify/pullerbear
